Repository mapbox/mapbox-gl-native, pull requests merged in 2018-06, with the labels that each got.

#12042 Ensure that camera is invalidated before generating telemetry event
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
Labels: Android

#12039 Release Android v6.2.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#12043 [ios] Use 'Recognized' state for tap gesture handlers
  platform/ios/src/MGLMapView.mm
Labels: iOS, refactor

#12041 Node render test suite on Android
  Makefile
  platform/android/.gitignore
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HTTPRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/LocalRequestTask.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/render/RenderTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/SnapshotterIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/FeatureOverviewActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestDefinition.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestSnapshotter.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestStyleDefinition.java
  platform/android/scripts/exclude-activity-gen.json
  platform/android/scripts/run-render-test.py
Labels: Android

#11284 Offline download batches
  platform/default/mbgl/storage/offline_database.cpp
  platform/default/mbgl/storage/offline_database.hpp
  platform/default/mbgl/storage/offline_download.cpp
  platform/default/mbgl/storage/offline_download.hpp
  test/storage/offline_database.test.cpp
Labels: Core

#12071 Automate tag release
  circle.yml
Labels: Android, build

#12082 Changelog for 6.2.0-beta.2
  platform/android/CHANGELOG.md
Labels: Android

#12050 Ignore render tests from ignores.json
  Makefile
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestStyleDefinition.java
Labels: Android

#12102 [ios, build] Bump CircleCI to Xcode 9.4
  circle.yml
Labels: build, iOS

#12052 [ios] Support safe area in iosapp
  platform/ios/app/MBXViewController.m
  platform/ios/app/Main.storyboard
Labels: iOS, refactor

#12092 Added AnimatedSymbolLayerActivity back to the TestApp
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/AnimatedSymbolLayerActivity.java
Labels: Android

#12080 Cleanup public attributes
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
Labels: Android

#12083 Bump snapshots building on master to 6.3.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#12096 Render test tweaks
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestDefinition.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestStyleDefinition.java
  platform/android/scripts/run-render-test.py
Labels: Android

#12116 Ceil map dimensions
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#12094 Fix build with Xcode 10
  scripts/launch-c-xcode.in
  scripts/launch-cxx-xcode.in
Labels: build

#12123 Fixed NSLocale.languageCode crash in iOS 9.3
  platform/darwin/src/MGLVectorTileSource.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: bug, iOS, macOS

#12086 [ios] Update changelog for v4.1.0-beta.1
  platform/ios/CHANGELOG.md
Labels: build, iOS

#12114 Fix undefined behavior in LineAtlas::addDash
  cmake/test-files.cmake
  src/mbgl/geometry/line_atlas.cpp
  test/geometry/line_atlas.test.cpp
Labels: Core, bug, rendering

#12117 Ceil map dimensions
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#12127 [Qt] Add QMapboxGL::layerIds()
  platform/qt/include/qmapboxgl.hpp
  platform/qt/src/qmapboxgl.cpp
Labels: Qt, feature

#12128 Fix match stop conversion
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
Labels: Android

#12132 [core] Use a getter for the BackendScope static variable
  src/mbgl/renderer/backend_scope.cpp
Labels: Core, bug

#12140 Look more widely for IBDesignablesAgent
  platform/darwin/src/NSProcessInfo+MGLAdditions.m
  platform/macos/CHANGELOG.md
Labels: build, iOS, macOS

#12091 CP changelog for 6.2.0-beta.2 to master
  platform/android/CHANGELOG.md
Labels: Android

#12139 Android licenses make target
  LICENSE.md
  Makefile
  platform/android/LICENSE.md
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/build.gradle
  platform/android/scripts/generate-license.py
Labels: Android

#12146 Tweaked change log for PR #12123
  platform/macos/CHANGELOG.md
Labels: macOS

#12156 Telemetry bump to v3.1.3
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#12157 backport to chai: Telemetry bump to v3.1.3
  platform/android/gradle/dependencies.gradle
Labels: Android

#12153 Android licenses formatting
  platform/android/LICENSE.md
  platform/android/scripts/generate-license.py
Labels: Android

#12163 Look more widely for IBDesignablesAgent (release-chai)
  platform/darwin/src/NSProcessInfo+MGLAdditions.m
  platform/macos/CHANGELOG.md
Labels: build, iOS, macOS

#12106 [ios, build] Completely remove support for Fabric
  platform/darwin/src/MGLAccountManager.m
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/vendor/Fabric/FABAttributes.h
  platform/ios/vendor/Fabric/FABKitProtocol.h
  platform/ios/vendor/Fabric/Fabric+FABKits.h
  platform/ios/vendor/Fabric/Fabric.h
Labels: build, iOS

#12178 [ios] Updated predicates in iosapp
  platform/ios/app/MBXViewController.m
Labels: bug, iOS

#12177 Added check for `-Wtautological-constant-compare` prior to ignore.
  src/mbgl/util/http_header.cpp
Labels: iOS

#12172 Dispatch camera start callback only when actually moving
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#12183 backport to chai: Dispatch camera start callback only when actually moving
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#12182 chai backport: Remove support for Fabric
  platform/android/.gitignore
  platform/android/MapboxGLAndroidSDK/src/main/resources/fabric/com.mapbox.mapboxsdk.mapbox-android-sdk.properties
  platform/android/scripts/release.py
Labels: Android

#12184 Changelog for v6.2.0
  platform/android/CHANGELOG.md
Labels: Android

#12181 add sdf support to addImage
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Image.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/src/map/image.cpp
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
Labels: Android

#12207 [core] Fix GCC8's new -Wcatch-value warnings
  bin/offline.cpp
  bin/render.cpp
  platform/default/mbgl/storage/offline_database.cpp
  platform/default/mbgl/storage/offline_download.cpp
  platform/glfw/main.cpp
  src/mbgl/style/expression/coercion.cpp
  test/storage/offline_database.test.cpp
  test/style/style.test.cpp
  test/style/style_layer.test.cpp
Labels: Core

#12199 [core] Bump deployment versions to iOS 9, macOS 10.11
  platform/ios/config.cmake
  platform/macos/config.cmake
Labels: Core, build

#12166 [core] Fix stylistic issues in unique_any
  include/mbgl/util/unique_any.hpp
  test/util/unique_any.test.cpp
Labels: Core, refactor

#12211 Fix geojson example, filter logic change with expressions
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GeoJsonClusteringActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/drawable/ic_hearing_black_24dp.xml
Labels: Android

#12218 Remove reflection lookup for MarkerViewAdapter initialization
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/MarkerViewManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/MarkerViewActivity.java
Labels: Android

#12210 Range alpha between 0 and 1 for android int color conversion
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android

#12236 updated MAS version to 3.3.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#12244 [macos, ios] Commit IDEWorkspaceChecks.plist files
  platform/ios/ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  platform/macos/macos.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: build, iOS, macOS

#12246 [ios] Updates the changelogs and bumps cocoapods
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: build, iOS

#12251 Update changelogs on release-chai
  platform/android/CHANGELOG.md
Labels: Android

#12257 [ios] Preserve bcsymbolmap files when using CocoaPods
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: CocoaPods, iOS

#12237 Update changelog with latest releases
  platform/android/CHANGELOG.md
Labels: Android

#12265 Change error message with invalid render usage
  platform/node/src/node_map.cpp
  platform/node/test/js/map.test.js
Labels: Node.js
