Repository mapbox/mapbox-gl-native, pull requests merged in 2018-04, with the labels that each got.

#11553 Use a host interface for CustomLayer instead of function pointers
  include/mbgl/renderer/renderer_backend.hpp
  include/mbgl/style/layers/custom_layer.hpp
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CustomLayer.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/customlayer/CustomLayerActivity.java
  platform/android/src/example_custom_layer.cpp
  platform/android/src/style/layers/custom_layer.cpp
  platform/android/src/style/layers/custom_layer.hpp
  platform/darwin/src/MGLOpenGLStyleLayer.mm
  platform/darwin/src/MGLStyle.mm
  platform/darwin/src/MGLStyle_Private.h
  platform/ios/Integration Tests/MBGLIntegrationTests.m
  platform/qt/include/qmapbox.hpp
  platform/qt/include/qmapboxgl.hpp
  platform/qt/src/qmapbox.cpp
  platform/qt/src/qmapboxgl.cpp
  src/mbgl/renderer/layers/render_custom_layer.cpp
  src/mbgl/renderer/layers/render_custom_layer.hpp
  src/mbgl/style/layers/custom_layer.cpp
  src/mbgl/style/layers/custom_layer_impl.cpp
  src/mbgl/style/layers/custom_layer_impl.hpp
  test/api/custom_layer.test.cpp
Labels: Android, Core, Qt, iOS, macOS

#11581 Added explicit dependency to hopefully address occasional build issues.
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: build, iOS, tests

#11572 Throw exception when converting PropertyValue with an expression
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android

#11585 Invalidate camera position before delivering onMapReady
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
Labels: Android

#11555 Rework logical condition convenience expressions
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LightTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/light.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/RuntimeStyleActivity.java
Labels: Android

#11590 Bumped telemetry library version to 3.0.0-beta.4
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#11592 Release android v6.0.0 beta.6
  platform/android/CHANGELOG.md
Labels: Android

#11596 CP missing changelog entries to master
  platform/android/CHANGELOG.md
Labels: Android

#11598 Fixup MAS 3.0.1 bump
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
Labels: Android

#11593 [android] updated mapbox-sdk-services to 3.0.1
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
  platform/android/gradle/dependencies.gradle
Labels: Android

#11618 CP 11538 to release-boba
  src/mbgl/gl/program.hpp
Labels: Android, Core

#11611 [ios, macos] Rename MGLMapPoint to MGLMapPointForCoordinate
  platform/darwin/src/MGLGeometry.h
  platform/darwin/src/MGLGeometry.mm
  platform/darwin/test/MGLGeometryTests.mm
Labels: iOS, macOS, refactor

#11599 Android - release local refs
  platform/android/src/image.cpp
  platform/android/src/text/local_glyph_rasterizer.cpp
Labels: Android

#11608 Add missing jni::DeleteLocalRef
  platform/android/src/offline/offline_manager.cpp
  platform/android/src/offline/offline_region.cpp
  platform/android/src/snapshotter/map_snapshotter.cpp
Labels: Android

#11630 Gesture event listeners lists documentation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
Labels: Android

#11490 Rework expression conversion
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CircleLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillExtrusionLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HeatmapLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/LineLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/config.cmake
  platform/android/src/gson/json_array.cpp
  platform/android/src/gson/json_array.hpp
  platform/android/src/gson/json_element.cpp
  platform/android/src/gson/json_element.hpp
  platform/android/src/gson/json_object.cpp
  platform/android/src/gson/json_object.hpp
  platform/android/src/gson/json_primitive.cpp
  platform/android/src/gson/json_primitive.hpp
  platform/android/src/java/lang.cpp
  platform/android/src/java/lang.hpp
  platform/android/src/jni.cpp
  platform/android/src/style/conversion/function.hpp
  platform/android/src/style/conversion/gson.hpp
  platform/android/src/style/conversion/property_value.hpp
  platform/android/src/style/layers/layer.cpp
  platform/android/src/style/layers/layer.hpp
Labels: Android, ✓ ready for review

#11358 Null java peer callback
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.java
  platform/android/src/map_renderer.cpp
  platform/android/src/map_renderer.hpp
  platform/android/src/native_map_view.hpp
Labels: Android

#11540 Add javadoc code examples
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android, documentation, ✓ ready for review

#11641 Convenience step expression
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android

#11643 Scale animation focal point
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#11603 [android] Adds gradle-dependency-graph-generator-plugin to Android project
  Makefile
  platform/android/MapboxGLAndroidSDK/.gitignore
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/gradle/gradle-dependencies-graph.gradle
Labels: Android

#11647 [android] LatLngBounds were not build correctly when lon was the same
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#11649 Refactor integrations tests
  platform/ios/Integration Tests/MBGLIntegrationTests.m
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: iOS, tests

#11654 cherry-pick changelog for v5.5.2
  platform/android/CHANGELOG.md
Labels: Android

#11655 Integration for round, ceil, floor and abs expressions
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android

#11658 Bump telemetry to 3.0.0 stable
  platform/android/gradle/dependencies.gradle
Labels: Android

#11650 [android] fixed center calculation for LatLngBounds with zero span
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#11665 [darwin, docs] Further compress images in docs
  platform/darwin/docs/img/data-driven-styling/categorical1.png
  platform/darwin/docs/img/data-driven-styling/categorical2.png
  platform/darwin/docs/img/data-driven-styling/citibikes.png
  platform/darwin/docs/img/data-driven-styling/exponential-function-1.png
  platform/darwin/docs/img/data-driven-styling/exponential-function.png
  platform/darwin/docs/img/data-driven-styling/exponential.png
  platform/darwin/docs/img/data-driven-styling/identity.png
  platform/darwin/docs/img/data-driven-styling/interval.png
  platform/darwin/docs/img/data-driven-styling/polylineExample.png
  platform/ios/docs/img/runtime-styling/CustomAnnotations.gif
  platform/ios/docs/img/runtime-styling/DynamicStyles.gif
  platform/ios/docs/img/runtime-styling/Emoji.gif
  platform/ios/docs/img/runtime-styling/HexBins.gif
  platform/ios/docs/img/runtime-styling/Population.gif
  platform/ios/docs/img/runtime-styling/SnowLevels.gif
  platform/ios/docs/img/studio-workflow/add-properties.gif
  platform/ios/docs/img/studio-workflow/create-polygons.gif
  platform/ios/docs/img/studio-workflow/property-values.png
  platform/ios/docs/img/studio-workflow/stop-functions.png
Labels: documentation, iOS, macOS

#11668 Changelog release v6.0.0-beta.7/5.5.2
  platform/android/CHANGELOG.md
Labels: Android

#11663 [ios] Note plans to drop iOS 8
  platform/ios/CHANGELOG.md
  platform/ios/DEVELOPING.md
  platform/ios/INSTALL.md
  platform/ios/README.md
Labels: build, documentation, iOS

#11636 [ios] Change MGLAnnotationView.scalesWithViewingDistance default value to NO
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLAnnotationView.h
  platform/ios/src/MGLAnnotationView.mm
Labels: annotations, iOS, performance

#11632 [ios, macos] Add predicate like expressions to NSExpression
  platform/darwin/src/NSComparisonPredicate+MGLAdditions.mm
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  platform/darwin/test/MGLPredicateTests.mm
Labels: iOS, macOS

#11680 [ios] Update playground for Swift 3.2+
  platform/ios/Mapbox.playground/Contents.swift
  platform/ios/Mapbox.playground/timeline.xctimeline
Labels: Swift, documentation, iOS

#11433 Update CA bundle
  misc/ca-bundle.crt
Labels: Core

#11687 Update layer immediately when changing its max/min zoom level (CP #11399)
  platform/node/src/node_map.cpp
  platform/node/src/node_map.hpp
  platform/node/test/js/map.test.js
  src/mbgl/style/layers/background_layer.cpp
  src/mbgl/style/layers/circle_layer.cpp
  src/mbgl/style/layers/fill_extrusion_layer.cpp
  src/mbgl/style/layers/fill_layer.cpp
  src/mbgl/style/layers/heatmap_layer.cpp
  src/mbgl/style/layers/hillshade_layer.cpp
  src/mbgl/style/layers/layer.cpp.ejs
  src/mbgl/style/layers/line_layer.cpp
  src/mbgl/style/layers/raster_layer.cpp
  src/mbgl/style/layers/symbol_layer.cpp
Labels: Android

#11689 [ios, macos] Remove mgl_ prefix from built-in expressions variables.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/darwin/test/MGLPredicateTests.mm
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: iOS, macOS

#11587 [ios, macos] NSPredicate expression filters.
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/MGLVectorStyleLayer.h
  platform/darwin/src/NSComparisonPredicate+MGLAdditions.mm
  platform/darwin/src/NSCompoundPredicate+MGLAdditions.mm
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  platform/darwin/test/MGLCircleStyleLayerTests.mm
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLFillExtrusionStyleLayerTests.mm
  platform/darwin/test/MGLFillStyleLayerTests.mm
  platform/darwin/test/MGLHeatmapStyleLayerTests.mm
  platform/darwin/test/MGLLineStyleLayerTests.mm
  platform/darwin/test/MGLPredicateTests.mm
  platform/darwin/test/MGLStyleLayerTests.mm.ejs
  platform/darwin/test/MGLSymbolStyleLayerTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS, release blocker

#11651 Localize expressions more thoroughly
  platform/darwin/src/MGLBackgroundStyleLayer.mm
  platform/darwin/src/MGLFillExtrusionStyleLayer.mm
  platform/darwin/src/MGLFillStyleLayer.mm
  platform/darwin/src/MGLLineStyleLayer.mm
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyle.mm
  platform/darwin/src/MGLStyleLayer.mm.ejs
  platform/darwin/src/MGLSymbolStyleLayer.mm
  platform/darwin/src/MGLVectorTileSource.mm
  platform/darwin/src/MGLVectorTileSource_Private.h
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSExpression+MGLPrivateAdditions.h
  platform/darwin/test/MGLExpressionTests.mm
  platform/darwin/test/MGLStyleTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/macos/CHANGELOG.md
  platform/macos/app/MapDocument.m
  platform/macos/macos.xcodeproj/xcshareddata/xcschemes/macosapp.xcscheme
Labels: iOS, localization, macOS, refactor

#11681 [ios] Remove more deprecated bits for release-boba
  platform/darwin/src/MGLStyle.h
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
Labels: SEMVER-MAJOR, iOS, refactor

#11674 [ios, macos] Convert various class methods to class properties
  platform/darwin/src/MGLAccountManager.h
  platform/darwin/src/MGLAccountManager_Private.h
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLNetworkConfiguration.h
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLRasterTileSource.h
  platform/darwin/src/MGLRendererConfiguration.h
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLVectorTileSource.h
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox.playground/Contents.swift
  platform/ios/docs/guides/Info.plist Keys.md
  platform/ios/scripts/script_resources/MapboxDemo/MapboxDemo/ViewController.swift
  platform/ios/src/MGLTelemetryConfig.h
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/Info.plist Keys.md
Labels: SEMVER-MAJOR, Swift, iOS, macOS, refactor

#11664 [ios] Fix type narrowing issue with MGLOpenGLStyleLayer projection matrix
  platform/darwin/src/MGLGeometry.h
  platform/darwin/src/MGLGeometry.mm
  platform/darwin/src/MGLGeometry_Private.h
  platform/darwin/src/MGLOpenGLStyleLayer.h
  platform/darwin/src/MGLOpenGLStyleLayer.mm
Labels: beta blocker, bug, iOS, macOS

#11694 Replace UIColor with NSColor in documentation
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/src/MGLBackgroundStyleLayer.h
  platform/darwin/src/MGLCircleStyleLayer.h
  platform/darwin/src/MGLFillExtrusionStyleLayer.h
  platform/darwin/src/MGLFillStyleLayer.h
  platform/darwin/src/MGLHeatmapStyleLayer.h
  platform/darwin/src/MGLHillshadeStyleLayer.h
  platform/darwin/src/MGLLight.h
  platform/darwin/src/MGLLineStyleLayer.h
  platform/darwin/src/MGLSymbolStyleLayer.h
Labels: documentation, macOS, runtime styling

#11278 [ios, macos] Add NSExpression convenience constructors and helper methods.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/app/MBXViewController.m
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: iOS, macOS

#11700 Bump telemetry dependency to 3.0.1
  platform/android/gradle/dependencies.gradle
Labels: Android

#11691 Match expression doc tweaks
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android

#11704 CP Changelog entry for v6.0.0
  platform/android/CHANGELOG.md
Labels: Android

#11705 Bump snapshot version
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#11703 Changelog entry for v6.0.0
  platform/android/CHANGELOG.md
Labels: Android

#11713 Bumped telemetry version to 3.0.2 (CP #11710)
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#11715 Updated changelog for v6.0.1 on master
  platform/android/CHANGELOG.md
Labels: Android

#11714 Updated changelog for v6.0.1
  platform/android/CHANGELOG.md
Labels: Android

#11730 Don't crash on placing symbols with 0 renderable glyphs
  src/mbgl/layout/symbol_instance.cpp
  src/mbgl/layout/symbol_projection.cpp
Labels: Core, text rendering

#11738 Mark -presentCalloutFromRect:inView:constrainedToView:animated: unavailable
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXCustomCalloutView.m
  platform/ios/src/MGLCalloutView.h
  platform/ios/test/MGLAnnotationViewTests.m
Labels: SEMVER-MAJOR, iOS

#11589 Allow disabling -Werror
  CMakeLists.txt
Labels: build

#11724 [ios, macos] Update Style Functions guide
  platform/darwin/docs/guides/Migrating to Expressions.md.ejs
  platform/darwin/docs/guides/Using Style Functions at Runtime.md.ejs
  platform/darwin/docs/img/data-driven-styling/cast.png
  platform/darwin/docs/img/data-driven-styling/categorical1.png
  platform/darwin/docs/img/data-driven-styling/categorical2.png
  platform/darwin/docs/img/data-driven-styling/citibikes.png
  platform/darwin/docs/img/data-driven-styling/exponential.png
  platform/darwin/docs/img/data-driven-styling/identity.png
  platform/darwin/docs/img/data-driven-styling/interval.png
  platform/darwin/docs/img/data-driven-styling/multiply.png
  platform/darwin/docs/img/data-driven-styling/polylineExample.png
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/test/MGLDocumentationGuideTests.swift
  platform/ios/docs/guides/Migrating to Expressions.md
  platform/ios/docs/guides/Using Style Functions at Runtime.md
  platform/ios/jazzy.yml
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/Migrating to Expressions.md
  platform/macos/docs/guides/Using Style Functions at Runtime.md
  platform/macos/jazzy.yml
Labels: documentation, iOS, macOS, release blocker, runtime styling

#11741 Revamp predicate and expression guide
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/docs/theme/assets/css/jazzy.css.scss
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
Labels: documentation, iOS, macOS, refactor, runtime styling

#11748 [ios, macos] Rename featureProperties to featureAttributes.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/For Style Authors.md
Labels: iOS, macOS, refactor, runtime styling

#11709 Remove snapshot repository reference
  platform/android/build.gradle
Labels: Android

#11765 [ios] Mark -metersPerPixelAtLatitude: as unavailable
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
Labels: bug, iOS

#11759 Unwrap LatLngBounds for the shortest path when requesting camera
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#11731 Fix for camera movement when selecting visible annotations
  platform/ios/ios.xcodeproj/xcshareddata/xcschemes/CI.xcscheme
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLAnnotationViewTests.m
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/src/MGLMapView.mm
  platform/macos/test/MGLAnnotationTests.m
Labels: annotations, iOS, macOS

#11706 Flutter support: integrate view callback abstraction
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#11677 Improve stop javadoc to include interpolate
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android, documentation

#11772 promote pixelratio to public API NativeMapView
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#11267 [core] Implement TileCover for polygonal regions
  benchmark/util/tilecover.benchmark.cpp
  cmake/benchmark-files.cmake
  cmake/core-files.cmake
  include/mbgl/util/projection.hpp
  platform/default/mbgl/storage/offline.cpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/util/tile_cover.cpp
  src/mbgl/util/tile_cover.hpp
  src/mbgl/util/tile_cover_impl.cpp
  src/mbgl/util/tile_cover_impl.hpp
  test/util/tile_cover.test.cpp
  test/util/tile_range.test.cpp
Labels: Core, ✓ ready for review

#11723 Raise exceptions for empty expression stops dictionaries (#9539)
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/Integration Tests/MGLStyleLayerIntegrationTests.m
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: iOS, tests

#11796 [docs] Make per-platform installation docs self-contained
  INSTALL.md
  platform/ios/DEVELOPING.md
  platform/ios/INSTALL.md
  platform/linux/README.md
  platform/macos/DEVELOPING.md
  platform/macos/INSTALL.md
  platform/node/DEVELOPING.md
  platform/node/README.md
  platform/qt/README.md
Labels: build, documentation
