Repository mapbox/mapbox-gl-native, pull requests merged in 2018-11, with the labels that each got.

#13244 Remove deprecated code and notices
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/ModuleProviderImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUtil.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/CameraChangeDispatcher.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Telemetry.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapTouchListenersTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimationTypeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraPositionActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/MaxMinZoomActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QueryRenderedFeaturesPropertiesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/infowindow/DynamicInfoWindowAdapterActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/infowindow/InfoWindowActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DataDrivenStyleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/ZoomFunctionSymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/textureview/TextureViewDebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/IdleZoomListener.java
Labels: Android

#13258 Update telemetry to v3.5.2
  platform/android/gradle/dependencies.gradle
Labels: Android

#13261 Increase result's delta in camera animation tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/TestConstants.java
Labels: Android, tests

#13200 Improved CustomGeometrySource constructor typing
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySourceOptions.java
Labels: Android, SEMVER-MAJOR

#13266 Changed event attributes to be JSON serialization friendly.
  platform/darwin/src/MGLShapeOfflineRegion.mm
  platform/darwin/src/MGLTilePyramidOfflineRegion.mm
Labels: crash, iOS, release blocker

#13267 [ios] Changed event attributes to be JSON serialization friendly (CP #13266)
  platform/darwin/src/MGLShapeOfflineRegion.mm
  platform/darwin/src/MGLTilePyramidOfflineRegion.mm
Labels: iOS

#13265 Deliver OnMapReady only if MapboxMap is not null
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseActivityTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/OnMapReadyIdlingResource.java
Labels: Android

#13268 Backport #13265 to horchata
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseActivityTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/OnMapReadyIdlingResource.java
Labels: Android

#13278 Null-check nativeMapView in case it's been destroyed
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13269 update octokit version
  package.json
Labels: build

#13289 Reintroduce OnMapChange invocation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13291 Log Java exception and fail silently instead of throwing a native exception in the map state callbacks
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapChangeReceiver.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapChangeReceiverTest.java
Labels: Android

#13290 Verify if `text-field` is not null before performing compatibility operations
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/BackgroundLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CircleLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillExtrusionLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HeatmapLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HillshadeLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LineLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RasterLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/SymbolLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/layer.junit.ejs
Labels: Android

#13288 Update telemetry dependency for release-horchata
  platform/android/gradle/dependencies.gradle
Labels: Android

#13298 [iOS] Move creation of attributed string to global queue
  platform/darwin/src/MGLAttributionInfo.mm
Labels: iOS

#13165 Modify publish.sh and Podspecs for iOS 8 branch
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/Release-CN.md
  platform/ios/scripts/document.sh
  platform/ios/scripts/package.sh
  platform/ios/scripts/publish-cn.sh
Labels: iOS

#13286 Handle null getMapAsync invocations, deliver onMapReady once
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13301 handle null getMapAsync invocations, deliver onMapReady once
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13295 Android Expression javadoc code snippet tweaks
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android, documentation

#13309 Update changelog for v6.7.0 and prior 6.6.x releases
  platform/android/CHANGELOG.md
Labels: Android

#13312 [ios] Prepare for ios-v4.6.0
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#13313 [ios] Prepare for ios-v4.6.0 (release-horchata)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#13308 Update changelog for v6.7.0 and prior 6.6.x releases
  platform/android/CHANGELOG.md
Labels: Android

#13307 Annotate onMapReady with @NonNull
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapFragment.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/OnMapReadyCallback.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/SupportMapFragment.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/OnMapReadyIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/MarkerViewsInRectangleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/PolygonActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimationTypeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimatorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/GestureDetectorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/MaxMinZoomActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/ScrollByActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/espresso/DeviceIndependentTestActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/espresso/EspressoTestActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/MapFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/SupportMapFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/infowindow/DynamicInfoWindowAdapterActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationMapChangeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationModesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/ManualLocationUpdatesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/BottomSheetActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/LatLngBoundsForCameraActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GradientLineActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/textureview/TextureViewDebugModeActivity.java
Labels: Android, SEMVER-MAJOR

#13321 Move cloudformation template to be mbxcli compatible
  ci.template
Labels: build

#13297 Switch code coverage system to CodeCov
  README.md
  circle.yml
  codecov.yml
  platform/linux/scripts/coveralls.sh
Labels: tests

#13318 Rename ambient cache prewarming method
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS, offline, refactor

#13336 Bump telemetry to 3.5.4, update changelog for 6.6.7
  platform/android/CHANGELOG.md
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#13335 Fix syntax errors in macOS changelog
  platform/macos/CHANGELOG.md
Labels: build, documentation, macOS

#13236 [iOS][documentation] Add Links to Related Examples
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/scripts/style-spec-overrides-v8.json
  platform/darwin/src/MGLAnnotation.h
  platform/darwin/src/MGLCircleStyleLayer.h
  platform/darwin/src/MGLFeature.h
  platform/darwin/src/MGLFillExtrusionStyleLayer.h
  platform/darwin/src/MGLFillStyleLayer.h
  platform/darwin/src/MGLGeometry.h
  platform/darwin/src/MGLHeatmapStyleLayer.h
  platform/darwin/src/MGLImageSource.h
  platform/darwin/src/MGLLight.h
  platform/darwin/src/MGLLight.h.ejs
  platform/darwin/src/MGLLineStyleLayer.h
  platform/darwin/src/MGLMapCamera.h
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLPointAnnotation.h
  platform/darwin/src/MGLPolygon.h
  platform/darwin/src/MGLPolyline.h
  platform/darwin/src/MGLRasterStyleLayer.h
  platform/darwin/src/MGLRasterTileSource.h
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyleLayer.h
  platform/darwin/src/MGLStyleLayer.h.ejs
  platform/darwin/src/MGLSymbolStyleLayer.h
  platform/darwin/src/MGLTilePyramidOfflineRegion.h
  platform/darwin/src/MGLVectorTileSource.h
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/ios/src/MGLAnnotationImage.h
  platform/ios/src/MGLAnnotationView.h
  platform/ios/src/MGLCalloutView.h
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/src/MGLUserLocation.h
  platform/ios/src/MGLUserLocationAnnotationView.h
Labels: documentation, iOS

#13345 [qt] Deprecate Qt4 and old versions of Qt5
  Makefile
  circle.yml
  platform/qt/app/mapwindow.cpp
  platform/qt/app/mapwindow.hpp
  platform/qt/mbgl/gl/gl_impl.hpp
  platform/qt/qt.cmake
  platform/qt/qt5.cmake
  platform/qt/src/headless_backend_qt.cpp
  platform/qt/src/http_file_source.cpp
  platform/qt/src/qmapbox.cpp
  platform/qt/src/qmapboxgl.cpp
  platform/qt/src/qmapboxgl_renderer_backend.cpp
  platform/qt/src/qt_conversion.hpp
  platform/qt/src/qt_geojson.cpp
  platform/qt/src/qt_image.cpp
  platform/qt/src/sqlite3.cpp
  platform/qt/src/timer.cpp
  platform/qt/test/qmapboxgl.test.cpp
  platform/qt/test/qmapboxgl.test.hpp
  test/fixtures/offline_database/offline_sideload.db
Labels: Qt, build

#13300 [ios] Address bad access exception in `MGLAttributionInfo`
  platform/darwin/src/MGLAttributionInfo.mm
Labels: iOS, in progress

#13359 [core] Add RendererState::{pixelForLatLng,latLngForPixel}
  include/mbgl/renderer/renderer_state.hpp
  platform/default/mbgl/gl/headless_frontend.cpp
  platform/default/mbgl/gl/headless_frontend.hpp
  src/mbgl/renderer/renderer_state.cpp
  test/map/map.test.cpp
Labels: Core

#13352 Use updated docker images
  circle.yml
Labels: build

#13337 Consolidate color conversion into color utils
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/Light.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/light.java.ejs
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/BuildingFillExtrusionActivity.java
Labels: Android, SEMVER-MAJOR

#13357 bump mapboxServices to 4.1.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#13351 Catch and re-throw throwables thrown inside map state callbacks
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/MapStrictMode.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapChangeReceiver.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapChangeReceiverTest.java
Labels: Android

#13373 [android] update changelog for v7.0.00-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#13365 [ios] Address bad access exception in `MGLAttributionInfo` (#13300)
  platform/darwin/src/MGLAttributionInfo.mm
Labels: bug

#13235 [ios, macos] Logging.
  platform/darwin/filesource-files.txt
  platform/darwin/src/MGLAttributionInfo.mm
  platform/darwin/src/MGLBackgroundStyleLayer.mm
  platform/darwin/src/MGLCircleStyleLayer.mm
  platform/darwin/src/MGLClockDirectionFormatter.m
  platform/darwin/src/MGLCompassDirectionFormatter.m
  platform/darwin/src/MGLCoordinateFormatter.m
  platform/darwin/src/MGLFeature.mm
  platform/darwin/src/MGLFillExtrusionStyleLayer.mm
  platform/darwin/src/MGLFillStyleLayer.mm
  platform/darwin/src/MGLGeometry_Private.h
  platform/darwin/src/MGLHeatmapStyleLayer.mm
  platform/darwin/src/MGLHillshadeStyleLayer.mm
  platform/darwin/src/MGLLight.mm
  platform/darwin/src/MGLLight.mm.ejs
  platform/darwin/src/MGLLineStyleLayer.mm
  platform/darwin/src/MGLLoggingConfiguration.h
  platform/darwin/src/MGLLoggingConfiguration.m
  platform/darwin/src/MGLLoggingConfiguration_Private.h
  platform/darwin/src/MGLMapCamera.mm
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/darwin/src/MGLMultiPoint.mm
  platform/darwin/src/MGLOfflinePack.mm
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/src/MGLPointAnnotation.mm
  platform/darwin/src/MGLPointCollection.mm
  platform/darwin/src/MGLPolygon.mm
  platform/darwin/src/MGLPolyline.mm
  platform/darwin/src/MGLRasterStyleLayer.mm
  platform/darwin/src/MGLShapeCollection.mm
  platform/darwin/src/MGLShapeOfflineRegion.mm
  platform/darwin/src/MGLStyle.mm
  platform/darwin/src/MGLStyleLayer.mm.ejs
  platform/darwin/src/MGLSymbolStyleLayer.mm
  platform/darwin/src/MGLTilePyramidOfflineRegion.mm
  platform/darwin/src/MGLTypes.h
  platform/darwin/src/NSArray+MGLAdditions.mm
  platform/darwin/src/NSCompoundPredicate+MGLAdditions.mm
  platform/darwin/src/NSException+MGLAdditions.h
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  platform/darwin/src/NSValue+MGLStyleAttributeAdditions.mm
  platform/darwin/src/http_file_source.mm
  platform/ios/app/MBXAppDelegate.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLAnnotationImage.m
  platform/ios/src/MGLAnnotationView.mm
  platform/ios/src/MGLMapView.mm
  platform/macos/src/MGLMapView.mm
Labels: iOS, macOS

#13375 [ios] Release preparations for 4.7.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13380 [core][android] Introduce mbgl::style::LayerTypeInfo
  include/mbgl/style/layer.hpp
  include/mbgl/style/layers/background_layer.hpp
  include/mbgl/style/layers/circle_layer.hpp
  include/mbgl/style/layers/custom_layer.hpp
  include/mbgl/style/layers/fill_extrusion_layer.hpp
  include/mbgl/style/layers/fill_layer.hpp
  include/mbgl/style/layers/heatmap_layer.hpp
  include/mbgl/style/layers/hillshade_layer.hpp
  include/mbgl/style/layers/layer.hpp.ejs
  include/mbgl/style/layers/line_layer.hpp
  include/mbgl/style/layers/raster_layer.hpp
  include/mbgl/style/layers/symbol_layer.hpp
  platform/android/src/style/layers/background_layer.cpp
  platform/android/src/style/layers/circle_layer.cpp
  platform/android/src/style/layers/fill_extrusion_layer.cpp
  platform/android/src/style/layers/fill_layer.cpp
  platform/android/src/style/layers/heatmap_layer.cpp
  platform/android/src/style/layers/hillshade_layer.cpp
  platform/android/src/style/layers/layer.cpp.ejs
  platform/android/src/style/layers/layer_manager.cpp
  platform/android/src/style/layers/layer_manager.hpp
  platform/android/src/style/layers/line_layer.cpp
  platform/android/src/style/layers/raster_layer.cpp
  platform/android/src/style/layers/symbol_layer.cpp
  platform/default/layer_manager.cpp
  src/mbgl/style/layer.cpp
  src/mbgl/style/layer_impl.hpp
  src/mbgl/style/layers/background_layer.cpp
  src/mbgl/style/layers/background_layer_impl.hpp
  src/mbgl/style/layers/circle_layer.cpp
  src/mbgl/style/layers/circle_layer_impl.hpp
  src/mbgl/style/layers/custom_layer.cpp
  src/mbgl/style/layers/custom_layer_impl.cpp
  src/mbgl/style/layers/custom_layer_impl.hpp
  src/mbgl/style/layers/fill_extrusion_layer.cpp
  src/mbgl/style/layers/fill_extrusion_layer_impl.hpp
  src/mbgl/style/layers/fill_layer.cpp
  src/mbgl/style/layers/fill_layer_impl.hpp
  src/mbgl/style/layers/heatmap_layer.cpp
  src/mbgl/style/layers/heatmap_layer_impl.hpp
  src/mbgl/style/layers/hillshade_layer.cpp
  src/mbgl/style/layers/hillshade_layer_impl.hpp
  src/mbgl/style/layers/layer.cpp.ejs
  src/mbgl/style/layers/line_layer.cpp
  src/mbgl/style/layers/line_layer_impl.hpp
  src/mbgl/style/layers/raster_layer.cpp
  src/mbgl/style/layers/raster_layer_impl.hpp
  src/mbgl/style/layers/symbol_layer.cpp
  src/mbgl/style/layers/symbol_layer_impl.hpp
Labels: Android, Core, refactor

#12857 Harmonize iOS, macOS map SDK bundle identifiers
  platform/darwin/src/MGLLoggingConfiguration.m
  platform/darwin/test/MGLAttributionInfoTests.m
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/src/MGLMapView.mm
Labels: build, iOS, macOS

#13391 Changelog for 6.7.1
  platform/android/CHANGELOG.md
Labels: Android

#13403 Refactor util::fontStacks()
  src/mbgl/style/layer_impl.cpp
  src/mbgl/style/layer_impl.hpp
  src/mbgl/style/layers/symbol_layer_impl.cpp
  src/mbgl/style/layers/symbol_layer_impl.hpp
  src/mbgl/style/parser.cpp
  src/mbgl/style/parser.hpp
  src/mbgl/util/font_stack.cpp
  test/fixtures/offline_database/offline_sideload.db
  test/style/style_parser.test.cpp
Labels: Core, refactor

#13356 [ios, macos] Layer manager for Darwin platforms
  benchmark/fixtures/api/cache.db
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/src/MGLBackgroundStyleLayer.mm
  platform/darwin/src/MGLBackgroundStyleLayer_Private.h
  platform/darwin/src/MGLCircleStyleLayer.mm
  platform/darwin/src/MGLCircleStyleLayer_Private.h
  platform/darwin/src/MGLFillExtrusionStyleLayer.mm
  platform/darwin/src/MGLFillExtrusionStyleLayer_Private.h
  platform/darwin/src/MGLFillStyleLayer.mm
  platform/darwin/src/MGLFillStyleLayer_Private.h
  platform/darwin/src/MGLHeatmapStyleLayer.mm
  platform/darwin/src/MGLHeatmapStyleLayer_Private.h
  platform/darwin/src/MGLHillshadeStyleLayer.mm
  platform/darwin/src/MGLHillshadeStyleLayer_Private.h
  platform/darwin/src/MGLLineStyleLayer.mm
  platform/darwin/src/MGLLineStyleLayer_Private.h
  platform/darwin/src/MGLOpenGLStyleLayer.mm
  platform/darwin/src/MGLOpenGLStyleLayer_Private.h
  platform/darwin/src/MGLRasterStyleLayer.mm
  platform/darwin/src/MGLRasterStyleLayer_Private.h
  platform/darwin/src/MGLStyle.mm
  platform/darwin/src/MGLStyleLayer.mm.ejs
  platform/darwin/src/MGLStyleLayerManager.h
  platform/darwin/src/MGLStyleLayerManager.mm
  platform/darwin/src/MGLStyleLayer_Private.h
  platform/darwin/src/MGLStyleLayer_Private.h.ejs
  platform/darwin/src/MGLSymbolStyleLayer.mm
  platform/darwin/src/MGLSymbolStyleLayer_Private.h
  platform/ios/config.cmake
  platform/ios/core-files.txt
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/config.cmake
  platform/macos/core-files.txt
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: iOS, macOS, refactor

#13362 [ios] Don't pause camera animations if zoom/pitch/rotate/scroll are disabled
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS

#13368 Enable CODEOWNERS for iOS/macOS/Darwin directories.
  .github/CODEOWNERS
Labels: build

#13406 Getting a constant layer filter fix
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/BackgroundLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CircleLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillExtrusionLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HeatmapLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HillshadeLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/LineLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/RasterLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CircleLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillExtrusionLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HeatmapLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LineLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/SymbolLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/layer.junit.ejs
Labels: Android

#13396 Update map feedback URL
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/attribution/Attribution.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/attribution/AttributionParseTest.java
Labels: Android

#13393 Use locale sensitive DecimalFormat for color alpha conversion
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/ColorUtils.java
Labels: Android

#13306 Removing plain text getter for "text-field"
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/Formatted.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/FormattedSection.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/BackgroundLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CircleLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillExtrusionLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HeatmapLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HillshadeLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LineLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RasterLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/SymbolLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/layer.junit.ejs
  platform/android/scripts/generate-style-code.js
  platform/android/src/style/formatted.cpp
Labels: Android, SEMVER-MAJOR

#13367 [ios] Added teardown of core objects when receiving UIApplicationWillTerminateNotification
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapView_Private.h
Labels: iOS, refactor

#13415 use --info argument to show details during test run
  Makefile
Labels: Android

#13409 [android] Add specific name logging in failure scenarios of PropertyValue
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyValue.java
Labels: Android

#13035 Let placement transitions use the transition duration, if set, and allow disabling them entirely
  include/mbgl/style/transition_options.hpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/text/placement.cpp
  src/mbgl/text/placement.hpp
Labels: Core, feature, lift: 2

#13429 Fix too-short {prefix} evaluation
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  src/mbgl/storage/resource.cpp
  test/storage/resource.test.cpp
Labels: Core, bug

#13426 [ios] Adds support for MGLCollisionBehaviorPre4_0 in NSUserDefaults
  platform/darwin/src/MGLFoundation.h
  platform/darwin/src/MGLFoundation_Private.h
  platform/darwin/src/MGLRendererConfiguration.h
  platform/darwin/src/MGLRendererConfiguration.mm
  platform/darwin/test/MGLRendererConfigurationTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: iOS, macOS

#13450 [core] Fix VectorTileFeature::getValue() semantics after geometry@v1.0.0
  src/mbgl/tile/vector_tile_data.cpp
  test/tile/vector_tile.test.cpp
Labels: Core, bug

#13445 Camera's center and anchor points are mutually exclusive
  include/mbgl/map/camera.hpp
  src/mbgl/map/transform.cpp
  test/map/transform.test.cpp
Labels: Core, bug

#13436 Updated Info.plist docs.
  .github/CODEOWNERS
  platform/ios/docs/guides/Info.plist Keys.md
Labels: documentation, iOS

#13456 [ios][documentation] link expression guide to NSExpression(MGLAdditions)
  platform/darwin/docs/guides/Predicates and Expressions.md
Labels: documentation, iOS

#13389 Use newer compiler versions for some builds
  CMakeLists.txt
  bin/offline.cpp
  circle.yml
  cmake/mbgl.cmake
  cmake/sqlite.cmake
  cmake/test.cmake
  package.json
Labels: Core, build

#13468 [android] deprecated annotations package
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/Annotation.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/ArrowDirection.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/BaseMarkerOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/BasePointCollection.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/Bubble.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/BubbleLayout.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/BubblePopupHelper.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/Icon.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/IconFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/InfoWindow.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/Marker.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/MarkerOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/Polygon.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/PolygonOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/Polyline.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/PolylineOptions.java
Labels: Android

#13458 [darwin] Add platform-agnostic MGLStringFromSize() method
  platform/darwin/src/MGLGeometry_Private.h
  platform/darwin/src/MGLMapSnapshotter.mm
Labels: iOS, macOS, refactor

#13471 Reordered the 4.7.0 change log
  platform/ios/CHANGELOG.md
Labels: iOS

#13472 Updated podspecs for 4.7.0-alpha.3
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13487 Changelog for v6.7.2
  platform/android/CHANGELOG.md
Labels: Android

#13489 changelog for v7.0.0-alpha.3
  platform/android/CHANGELOG.md
Labels: Android

#13486 Telemetry bump 3.5.6
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry
