Repository mapbox/mapbox-gl-native, pull requests merged in 2018-05, with the labels that each got.

#11812 [core] Don't copy TileLayerIndexes on every frame.
  src/mbgl/text/cross_tile_symbol_index.cpp
Labels: Core, performance

#11815 Fix expression example that changes icon images dynamically
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/ZoomFunctionSymbolLayerActivity.java
Labels: Android

#11813 [core] Don't copy TileLayerIndexes on every frame.
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  src/mbgl/text/cross_tile_symbol_index.cpp
Labels: Core, performance

#11819 Updated link for react native npm package
  README.md
Labels: documentation

#11821 [ios, macos] Avoid implicit capture of MBGLOfflineRegionObserver this pointer
  platform/darwin/src/MGLOfflinePack.mm
Labels: crash, iOS, macOS, offline

#11818 [ios, macos] Fix broken link to predicates and expressions guide.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: documentation, iOS, macOS

#7734 iOS: Add custom layer example to debugging app
  platform/darwin/app/LimeGreenStyleLayer.h
  platform/darwin/app/LimeGreenStyleLayer.m
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/uitest/ios-tests.xcodeproj/project.pbxproj
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: iOS

#11828 [ios] Prepare ios-v3.7.7 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#11817 Use center property (instead of frame) when repositioning annotation views
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: annotations, bug, iOS

#11808 [ios, macos] Update migration guides in jazzy table
  platform/ios/jazzy.yml
  platform/macos/jazzy.yml
Labels: bug, documentation

#11783 [ios, macos] Fix overlay bounds that span the antimeridian.
  platform/darwin/src/MGLGeometry_Private.h
  platform/darwin/src/MGLMultiPoint.mm
  platform/darwin/src/MGLOverlay.h
  platform/darwin/src/MGLPointCollection.mm
  platform/darwin/test/MGLGeometryTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: annotations, bug, iOS, macOS

#11770 [ios, macos] Add support for subscripting in expressions.
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS, runtime styling

#11810 [ios, macos] Make NSPredicate+MGLAdditions public.
  platform/darwin/src/MGLBackgroundStyleLayer.mm
  platform/darwin/src/MGLCircleStyleLayer.mm
  platform/darwin/src/MGLFillExtrusionStyleLayer.mm
  platform/darwin/src/MGLFillStyleLayer.mm
  platform/darwin/src/MGLHeatmapStyleLayer.mm
  platform/darwin/src/MGLHillshadeStyleLayer.mm
  platform/darwin/src/MGLLineStyleLayer.mm
  platform/darwin/src/MGLRasterStyleLayer.mm
  platform/darwin/src/MGLShapeSource.mm
  platform/darwin/src/MGLStyleLayer.mm.ejs
  platform/darwin/src/MGLSymbolStyleLayer.mm
  platform/darwin/src/MGLVectorTileSource.mm
  platform/darwin/src/NSCompoundPredicate+MGLAdditions.mm
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSPredicate+MGLAdditions.h
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  platform/darwin/src/NSPredicate+MGLPrivateAdditions.h
  platform/darwin/test/MGLPredicateTests.mm
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/src/Mapbox.h
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/src/MGLMapView.mm
  platform/macos/src/Mapbox.h
Labels: iOS, macOS

#11839 Update Android changelog
  platform/android/CHANGELOG.md
Labels: Android, documentation

#11856 CP: Update telemetry to 3.1.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#11855 Update telemetry to 3.1.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#11851 [build] Bump macos-debug-qt5 xcode to 9.3.0
  circle.yml
Labels: Qt, build

#11725 [ios, macos] Add to-rgba expression operator.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/docs/guides/For Style Authors.md
  platform/ios/src/UIColor+MGLAdditions.mm
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/For Style Authors.md
  platform/macos/src/NSColor+MGLAdditions.mm
Labels: GL JS parity, iOS, macOS

#11858 Release Android v6.1.1
  platform/android/CHANGELOG.md
Labels: Android

#11860 Use China telemetry endpoint with China API endpoint
  platform/darwin/src/MGLNetworkConfiguration.h
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/ios/src/MGLAPIClient.m
Labels: iOS, telemetry

#11845 [iOS] - Update telemetry certificate pinning
  platform/darwin/src/MGLNetworkConfiguration.h
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/resources/api_mapbox_cn-digicert_2018.der
  platform/ios/resources/api_mapbox_cn-geotrust_2018.der
  platform/ios/src/MGLAPIClient.m
Labels: iOS, telemetry

#11862 [ios] Prepare ios-v3.7.8 release
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#11832 Build release with debug signing
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
Labels: Android

#11842 [ios] Fix MGLAnnotationView.rotatesToMatchCamera clobbering other transforms
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLAnnotationView.mm
Labels: annotations, bug, iOS

#11865 Avoid exceptions for flow control during database creation
  platform/default/mbgl/storage/offline_database.cpp
  platform/default/mbgl/storage/offline_database.hpp
  platform/default/sqlite3.cpp
  platform/default/sqlite3.hpp
  platform/qt/src/sqlite3.cpp
  test/storage/offline_database.test.cpp
  test/storage/sqlite.test.cpp
Labels: Core, refactor

#11868 Merge release ios-v3.7.8 into master
  platform/ios/CHANGELOG.md
Labels: iOS

#11852 Avoid rounding pixelratio of addImage
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#11777 [android] added more tests for LatLngBounds union() & intersect
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android, ✓ ready for review

#11891 [ios, build] Re-add support for 32-bit simulators (i386)
  platform/ios/CHANGELOG.md
  platform/ios/INSTALL.md
  platform/ios/scripts/package.sh
Labels: CocoaPods, build, iOS

#11899 [qt] Fix build when building the Qt Location plugin
  platform/qt/include/qmapbox.hpp
  src/mbgl/style/expression/compound_expression.cpp
Labels: Qt, build

#11907 Fix English priority during label localization
  platform/darwin/src/MGLVectorTileSource.mm
  platform/darwin/src/MGLVectorTileSource_Private.h
  platform/darwin/test/MGLStyleTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: bug, iOS, localization, macOS

#11881 [ios, macos] Moved numbers away from start of lines in documentation
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/src/MGLBackgroundStyleLayer.h
  platform/darwin/src/MGLCircleStyleLayer.h
  platform/darwin/src/MGLFillExtrusionStyleLayer.h
  platform/darwin/src/MGLFillStyleLayer.h
  platform/darwin/src/MGLHeatmapStyleLayer.h
  platform/darwin/src/MGLHillshadeStyleLayer.h
  platform/darwin/src/MGLLight.h
  platform/darwin/src/MGLLineStyleLayer.h
  platform/darwin/src/MGLRasterStyleLayer.h
  platform/darwin/src/MGLSymbolStyleLayer.h
Labels: documentation

#11931 [build] Use Qt 5.6.3 instead of 5.7 in AppVeyor
  appveyor.yml
  platform/qt/qt.cmake
Labels: build

#11925 add nullability annotations to public api
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Projection.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
Labels: Android

#11934 Expose MapView created callbacks on MapFragment
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapFragment.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/SupportMapFragment.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/MapFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/SupportMapFragmentActivity.java
Labels: Android

#11936 Release Android v6.2.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#11942 Bump telemetry to v3.1.1
  platform/android/CHANGELOG.md
  platform/android/gradle/dependencies.gradle
Labels: Android

#11937 [ios] Bump podspect to 4.1.0-alpha.1.
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#11953 [core] Align URL token replacement behavior with GL JS
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  src/mbgl/storage/resource.cpp
  src/mbgl/util/token.hpp
  src/mbgl/util/url.cpp
  test/util/token.test.cpp
Labels: Core

#11614 Tests and fix for infinite loop when setting shape to nil in MGLMapViewDelegate methods
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/MGLCameraTransitionTests.mm
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/Integration Tests/MGLShapeSourceTests.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLCameraChangeReason.h
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  src/mbgl/map/transform.cpp
  src/mbgl/map/transform.hpp
Labels: Core, iOS, tests

#11948 [node] prevent race condition for renderFinished
  platform/node/src/node_map.cpp
Labels: Core, bug

#11973 [core] Use std::ios::binary format in std::ifstream
  src/mbgl/util/io.cpp
Labels: Windows, bug

#11784 [ios] Run MGLMapboxEvents setup asynchronously
  platform/darwin/src/MGLAccountManager.m
  platform/ios/CHANGELOG.md
Labels: iOS, performance

#11966 [ios] Use standard callout positioning for unanimated user location changes
  platform/ios/src/MGLMapView.mm
Labels: annotations, iOS, refactor

#11987 Bump telemetry to v3.1.2
  platform/android/gradle/dependencies.gradle
Labels: Android

#11976 Style JSON configuration on map snapshotter
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterLocalStyleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
  platform/android/scripts/exclude-activity-gen.json
  platform/android/src/snapshotter/map_snapshotter.cpp
  platform/android/src/snapshotter/map_snapshotter.hpp
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/default/mbgl/map/map_snapshotter.cpp
  platform/default/mbgl/map/map_snapshotter.hpp
Labels: Android, Core

#11992 Update changelog for Android v6.1.3
  platform/android/CHANGELOG.md
Labels: Android

#11960 Accept constant expressions in non-dds properties
  cmake/test-files.cmake
  include/mbgl/style/conversion/property_value.hpp
  test/style/conversion/property_value.test.cpp
Labels: Core

#11959 [ios, macos] Fix keypath expressions, json object is parsed incorrectly for nested keypaths.
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS

#11806 Added some basic macros to handle pending tests.
  platform/darwin/test/MGLTestUtility.h
  platform/ios/Integration Tests/MGLCameraTransitionTests.mm
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/ios.xcodeproj/xcshareddata/xcschemes/CI.xcscheme
  platform/ios/ios.xcodeproj/xcshareddata/xcschemes/Integration Test Harness.xcscheme
  platform/ios/test/MGLAnnotationViewTests.m
Labels: iOS, tests

#11939 Provide custom hit test for callout views
  platform/ios/CHANGELOG.md
  platform/ios/vendor/SMCalloutView/SMCalloutView.m
Labels: annotations, iOS

#11106 Wrap glGetString in `MBGL_CHECK_ERROR` too
  src/mbgl/gl/context.cpp
  test/api/custom_layer.test.cpp
Labels: Core, Qt

#11961 release-boba backport: Accept constant expressions in non-dds properties
  cmake/test-files.cmake
  include/mbgl/style/conversion/property_value.hpp
  test/style/conversion/property_value.test.cpp
Labels: Core, needs changelog

#11921 Updated MGLScaleBar to use rendered UIImages instead of MGLScaleBarLabel
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLScaleBar.mm
Labels: iOS, performance

#11972 Update onMapChange javadoc
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#12001 Remove requirement of having an access token
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/exceptions/MapboxConfigurationException.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
Labels: Android

#12000 UI thread checking
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/exceptions/CalledFromWorkerThreadException.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/BackgroundLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CircleLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillExtrusionLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HeatmapLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HillshadeLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/LineLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/RasterLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/Light.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/light.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/ImageSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterDemSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/Source.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/VectorSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/ThreadUtils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/annotations/IconTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/action/MapboxMapAction.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseActivityTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/annotations/IconTest.java
Labels: Android

#12006 Release android v6.2.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#12007 Raw expression support
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android

#12018 Allow literal property arguments
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
Labels: Android

#12023 Check access token in filesource initializer
  platform/android/src/file_source.cpp
Labels: Android

#12022 Fix literal wrapping in comparison expressions
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android

#12027 [ios] Prepare ios-v4.0.2 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#12028 [ios, build] Install npm packages before deploying
  platform/ios/scripts/deploy-packages.sh
Labels: bug, build, iOS

#12034 Merge tag 'ios-v4.0.2' into master
  package.json
  platform/ios/CHANGELOG.md
  platform/ios/scripts/add-key.sh
  platform/ios/scripts/apple.crt
  platform/ios/scripts/benchmark.sh
  platform/ios/scripts/deploy-packages.sh
  platform/ios/scripts/ios-dist.cer.enc
  platform/ios/scripts/ios-dist.p12.enc
  platform/ios/scripts/ios-in-house.mobileprovision.enc
  platform/ios/scripts/release-notes.js
  platform/ios/scripts/release-notes.md.ejs
  platform/ios/scripts/remove-key.sh
Labels: build, iOS

#12031 add style json setter/getter to map snapshotter
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/src/snapshotter/map_snapshotter.cpp
  platform/android/src/snapshotter/map_snapshotter.hpp
  platform/default/mbgl/map/map_snapshotter.cpp
  platform/default/mbgl/map/map_snapshotter.hpp
Labels: Android, Core

#12024 expose enableOnUserRequest and disableOnUserRequest
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Telemetry.java
Labels: Android
