Repository mapbox/mapbox-gl-native, pull requests merged in 2018-02, with the labels that each got.

#11161 [android] remove unnecessary @jar and @aar dependencies suffixes
  platform/android/MapboxGLAndroidSDK/.gitignore
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/lint-baseline-local.xml
  platform/android/MapboxGLAndroidSDK/lint/lint-baseline-ci.xml
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/CompassView.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values-iw/strings.xml
  platform/android/gradle/dependencies.gradle
Labels: Android, beta blocker, crash

#11165 [android] Cherry pick remove unnecessary @jar and @aar dependencies suffixes
  platform/android/MapboxGLAndroidSDK/.gitignore
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/lint-baseline-local.xml
  platform/android/MapboxGLAndroidSDK/lint/lint-baseline-ci.xml
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/CompassView.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values-iw/strings.xml
  platform/android/gradle/dependencies.gradle
Labels: Android, crash, ✓ ready for review

#11163 Update changelog for v5.4.1
  platform/android/CHANGELOG.md
Labels: Android

#11155 Update & simplify INSTALL.md
  INSTALL.md
Labels: documentation

#11151 Adds reason parameter to camera change delegate methods and add single tap method.
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLCameraChangeReason.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/test/MGLMapViewDelegateIntegrationTests.swift
  platform/ios/uitest/MapViewTests.m
Labels: feature, iOS, ⚠️ DO NOT MERGE

#11133 [ios, macos] Fix memory leaks in MGLMapSnapshotter.
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/ios/app/MBXSnapshotsViewController.m
Labels: bug, iOS, performance

#11179 [ios] Bump podspec to 3.7.4
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#10999 [android] Integration of the new events library
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/EmptyLocationSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraPosition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Events.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxEventWrapper.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/TrackingSettings.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/MyLocationView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/MathUtils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/FeatureOverviewActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/BaseLocationActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MockLocationEngine.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationDrawableActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationTintActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationTrackingModeActivity.java
  platform/android/build.gradle
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry, ⚠️ DO NOT MERGE

#11183 [android] Integration of the new events library (#10999)
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/EmptyLocationSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraPosition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Events.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxEventWrapper.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/TrackingSettings.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/MyLocationView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/MathUtils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/FeatureOverviewActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/BaseLocationActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MockLocationEngine.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationDrawableActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationTintActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationTrackingModeActivity.java
  platform/android/build.gradle
  platform/android/gradle/dependencies.gradle
Labels: Android, beta blocker, telemetry

#11184 setLatLng constrained documentation + expose LatLngZoom
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
Labels: Android

#11186 Remove lost dependency from SDK
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
Labels: Android

#11187 Revert to ImageView
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/CompassView.java
Labels: Android

#11185 Deprecate Mapbox locationengine
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
Labels: Android

#11189 Release Android v6.0.0-beta.2
  platform/android/CHANGELOG.md
Labels: Android

#11175 Add HeatmapLayer example
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/HeatmapLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_heatmaplayer.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
Labels: Android

#11192 Changelog for 6.0.0-beta.2
  platform/android/CHANGELOG.md
Labels: Android

#10892 bounds can go over the antimeridian / date line.
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/GeometryConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#11219 [android] incorrect latlngBounds in the VisibleRegion when map is rotated
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Projection.java
Labels: Android

#11211 [android] Initialize events when creating Mapbox instance
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Events.java
Labels: Android, telemetry, ✓ ready for review

#11205 [ios, macos] Mark deprecated methods as unavailable
  platform/darwin/src/MGLAccountManager.h
  platform/darwin/src/MGLAccountManager.m
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyle.mm
  platform/darwin/test/MGLStyleTests.mm
  platform/default/mbgl/util/default_styles.hpp
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  platform/macos/app/Base.lproj/MainMenu.xib
  platform/macos/app/Base.lproj/MapDocument.xib
  platform/macos/app/MapDocument.m
Labels: SEMVER-MAJOR, iOS, in progress, macOS

#11229 [ios] Fix loop when first asking for location permission
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: bug, iOS

#11230 [ios] Bump podspecs for 3.7.5
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#11226 [android] fixed LatLngBounds returned by VisibleRegion when map is rotated
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Projection.java
Labels: Android

#11222 [android] missing DeleteLocalRef
  platform/android/src/geojson/feature_collection.cpp
  platform/android/src/geojson/line_string.cpp
  platform/android/src/geojson/multi_polygon.cpp
  platform/android/src/geojson/point.cpp
Labels: Android

#11246 Merge ios-v3.7.5 to master
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/src/MGLMapView.mm
Labels: iOS

#11243 added missing local reference deletes
  platform/android/src/geojson/feature_collection.cpp
  platform/android/src/geojson/line_string.cpp
  platform/android/src/geojson/multi_polygon.cpp
  platform/android/src/geojson/point.cpp
Labels: Android

#11244 Check if Activity isn't finishing before showing dialog
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
Labels: Android

#10946 FileSource activation/deactivation tests
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/OrientationTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/action/WaitAction.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseActivityTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/CompassViewTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceTest.java
  platform/android/gradle/dependencies.gradle
  platform/android/src/file_source.cpp
  platform/android/src/file_source.hpp
Labels: Android

#11201 Remove obsolete camera api
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapViewUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraInternalApiTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimatorActivity.java
Labels: Android

#11258 Decouple map padding from overlain views
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
Labels: Android

#11263 [ios] Podspec bump 4.0.0-beta.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#11259 Don't disable zoom button controller zooming with gesture disabled zoom
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#11265 Unwrap coordinate bounds
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
Labels: SEMVER-MAJOR, bug, iOS, macOS

#11262 Expose ImageSource coordinates setter
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/ImageSource.java
  platform/android/src/style/sources/image_source.cpp
  platform/android/src/style/sources/image_source.hpp
Labels: Android

#11261 Fix UTF-8 encoding, add missing package-info.java files
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/attribution/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/egl/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/textureview/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineTilePyramidRegionDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/CameraFunction.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/Function.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/Light.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/Position.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/text/package-info.java
  platform/android/scripts/generate-style-code.js
Labels: Android

#10905 Port animated MarkerView to SymbolLayer
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/AnimatedMarkerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/AnimatedSymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_animated_marker.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
  platform/android/scripts/exclude-activity-gen.json
Labels: Android

#11270 Continue loading style even if we mutate it
  src/mbgl/style/style_impl.cpp
  test/map/map.test.cpp
Labels: Core, bug

#11293 Backport: Continue loading style even if we mutate it
  src/mbgl/style/style_impl.cpp
  test/map/map.test.cpp
Labels: Core, bug

#11304 [qt] Fix wrong signal being emitted
  platform/qt/src/qmapboxgl_map_observer.cpp
Labels: Qt, ✓ ready for review

#11305 [core] Fix build with Qt + Android + GCC 4.9
  src/mbgl/util/tiny_sdf.cpp
Labels: Qt, ✓ ready for review

#11210 Rework expression api
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android

#11274 add tileset encoding option to darwin sources
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/src/MGLTileSource.h
  platform/darwin/src/MGLTileSource.mm
  platform/darwin/test/MGLTileSetTests.mm
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: GL JS parity, iOS, macOS, runtime styling

#11314 [core] Add space in OfflineDatabase::updateMetadata SQL query
  platform/default/mbgl/storage/offline_database.cpp
Labels: Qt, bug, tests

#11315 [qt] Rename Qt SDK to 'Mapbox Maps SDK for Qt'
  INSTALL.md
  README.md
  platform/qt/README.md
  platform/qt/config.qdocconf
  platform/qt/src/qmapbox.cpp
  platform/qt/src/qmapboxgl.cpp
Labels: Qt

#11221 New gestures library
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/BaseGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/MoveGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/RotateGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/ShoveGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/TwoFingerGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapKeyListener.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values/dimens.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapTouchListenersTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
  platform/android/gradle/dependencies.gradle
Labels: Android

#11193 [ios, macos] Fix a memory leak when creating an EAGLContext in MGLMaSnapshotter
  platform/darwin/src/headless_backend_eagl.mm
Labels: iOS, performance

#11333 [android] bounds can go over the antimeridian / date line.
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/GeometryConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#11307 [android] LatLngBounds: latNorth should be greater or equal than latS…
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#11332 [android] - new gestures library (cp #11221)
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/BaseGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/MoveGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/RotateGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/ShoveGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/TwoFingerGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/almeros/android/multitouch/gesturedetectors/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapKeyListener.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values/dimens.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapTouchListenersTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
  platform/android/gradle/dependencies.gradle
Labels: Android

#11337 [ios] Improved heading indicator arrow visibility
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLUserLocationHeadingArrowLayer.m
Labels: iOS

#11290 Update link to NativeScript plugin
  README.md
Labels: Android, documentation, iOS

#11324 cherry-pick darwin changes to tileset encoding param onto boba
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/src/MGLTileSource.h
  platform/darwin/src/MGLTileSource.mm
  platform/darwin/test/MGLTileSetTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: iOS, macOS

#11214 [ios] Add "clear tile cache on entering background" to changelog
  platform/ios/CHANGELOG.md
Labels: iOS

#11334 [test] Update Map.PrefetchTiles
  cmake/test-files.cmake
  test/fixtures/map/prefetch/expected.png
  test/fixtures/map/prefetch/tile.png
  test/fixtures/map/prefetch/tile_red.png
  test/map/map.test.cpp
  test/map/prefetch.test.cpp
  test/src/mbgl/test/stub_map_observer.hpp
Labels: tests

#11308 [android] union should take date line into consideration
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngSpan.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#11338 upgraded telem version
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HTTPRequest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/telemetry/HttpTransportTest.java
  platform/android/dependencies.gradle
Labels: Android, ✓ ready for review
