Repository mapbox/mapbox-gl-native, pull requests merged in 2018-10, with the labels that each got.

#12997 [Qt] UpdateParameters should always be available when rendering
  platform/qt/src/qmapboxgl.cpp
  platform/qt/src/qmapboxgl_map_renderer.cpp
  platform/qt/src/qmapboxgl_p.hpp
Labels: Qt

#12999 [ios, macos] Disable offline merge test.
  platform/darwin/test/MGLOfflineStorageTests.mm
Labels: iOS, macOS

#12986 Moved MGLAltitudeForZoomLevel and MGLZoomLevelForAltitude to public API
  platform/darwin/src/MGLGeometry.h
  platform/darwin/src/MGLGeometry_Private.h
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: feature, iOS, macOS

#13002 Add changelog entry for #12931
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: Core, documentation

#12611 [core] Attempt constraining Y axis ratio first, then X axis
  platform/node/test/ignores.json
  src/mbgl/map/transform_state.cpp
  test/fixtures/offline_database/offline_sideload.db
  test/style/expression/expression.test.cpp
Labels: Core, GL JS parity

#12993 Upgrade CircleCI configuration to use inline commands
  circle.yml
Labels: Core, build

#12908 [ios, macos] Add Italian settings translations.
  .tx/config
  platform/ios/app/Settings.bundle/it.lproj/Root.strings
Labels: iOS, macOS

#12907 [ios] Add delegate method to specify the user location annotation’s position
  platform/ios/CHANGELOG.md
  platform/ios/Integration Test Harness/Info.plist
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/Integration Tests/MGLTestLocationManager.h
  platform/ios/Integration Tests/MGLTestLocationManager.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/test/MGLMapViewDelegateIntegrationTests.swift
Labels: iOS, navigation

#13011 Add configuration to change the animation duration multiplier when tracking location
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
Labels: Android

#13013 Move camera and puck immediately when starting to track and displacement is big
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/Utils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
Labels: Android

#13015 release-gazpacho backport: Add configuration to change the animation duration multiplier when tracking location
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
Labels: Android

#13016 backport #13013 to release-gazpacho
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/Utils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
Labels: Android

#13018 Changelog for 6.6.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#13009 [core] Read style's transition from parser
  src/mbgl/style/parser.hpp
  src/mbgl/style/style_impl.cpp
  test/style/style.test.cpp
Labels: Core, GL JS parity

#13027 [ios] release v4.5.0 beta.1 podspec bump and changelog updates.
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#13028 [ios] release v4.5.0 beta.1 podspec bump and changelog updates. (#13027)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#13029 [ios] Ignore deprecation warnings for MGLMapView.userLocationVerticalAlignment
  platform/ios/src/MGLMapView.mm
Labels: iOS

#13017 Fix fragments example that were crashing on orientation change
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/MapFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/SupportMapFragmentActivity.java
Labels: Android

#13010 [build] Custom GDB no longer needed in Ubuntu Bionic
  Makefile
Labels: build

#12858 Mapbox World Tour 2018
  platform/ios/app/MBXViewController.m
  platform/macos/app/MapDocument.m
Labels: iOS, macOS

#13003 [linux] add map_snapshotter.*pp to linux core build
  platform/linux/config.cmake
Labels: Linux, build

#13059 Reverse order of prioritising shape vs marker click handling
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AnnotationManager.java
Labels: Android

#13060 Fix readme to point to correct DEVELOPING.md in root
  platform/android/README.md
Labels: Android

#13073 [node] release 4.1.0
  package.json
  platform/node/CHANGELOG.md
Labels: Node.js

#13079 [ios] Bump podspecs to 4.5.0 and update changelog.
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13080 [ios] Bump podspecs to 4.5.0 and update changelog.
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13082 Changelog for 6.6.0
  platform/android/CHANGELOG.md
Labels: Android

#13050 Replace OnMapChange with specific callbacks
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapChangeReceiver.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapChangeReceiverTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/MapChangeActivity.java
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
Labels: Android

#12727 Supercluster.hpp 0.3.0 Android
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GeoJsonClusteringActivity.java
  platform/android/src/style/sources/geojson_source.cpp
  platform/android/src/style/sources/geojson_source.hpp
Labels: Android

#13102 Avoid printing exception for valid code execution path
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
Labels: Android

#13103 Include mapbox sdk services proguard configuration
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
Labels: Android

#13091 Remove obsolete catch block in getLayerAs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
Labels: Android

#13115 Bump snapshot version to 6.7.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#13114 Use appcompat configuration to support vector drawables
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/CompassView.java
  platform/android/MapboxGLAndroidSDK/src/main/res/layout/mapbox_mapview_internal.xml
Labels: Android

#13121 Update changelog for 6.7.0-alpha.1 and 6.6.1
  platform/android/CHANGELOG.md
Labels: Android

#13127 [tests, darwin] Standardize on 10 second timeout for map loading
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLDocumentationGuideTests.swift
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/test/MGLMapViewLayoutTests.m
Labels: bug, iOS, tests

#13105 [Core] Ensure queryRenderedFeatures accounts for icons with *-offset …
  platform/node/test/ignores.json
  scripts/changelog_staging/queryrenderedfeatures-with-icon-rotate.json
  src/mbgl/layout/symbol_instance.cpp
  src/mbgl/layout/symbol_instance.hpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/text/collision_feature.cpp
  src/mbgl/text/collision_feature.hpp
  test/text/cross_tile_symbol_index.test.cpp
Labels: Core, GL JS parity, needs changelog

#13167 Remove shell command when activating google cloud
  circle.yml
Labels: Android

#13133 Remove view tree observer
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13174 Changelog for v6.7.0-alpha.2 and v6.6.2
  platform/android/CHANGELOG.md
Labels: Android

#13006 [core] Avoid wrapping longitude values of exactly 180 and 360 (#12797)
  include/mbgl/util/geo.hpp
  scripts/changelog_staging/invalid-latlngbounds.json
Labels: Core, bug

#13178 [android] Change CustomGeometrySource() signature to be Kotlin friendly
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.java
Labels: Android, SEMVER-MAJOR

#13171 Telemetry 3.5.0 bump
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#13176 [android] remove ILatLng and IProjectedMeteres
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/ILatLng.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/IProjectedMeters.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLng.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/ProjectedMeters.java
Labels: Android, SEMVER-MAJOR

#13197 Deprecated ZoomButtonsController support
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
Labels: Android

#13198 Removed ZoomButtonsController support
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapZoomButtonController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/UiSettingsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/textureview/TextureViewDebugModeActivity.java
Labels: Android, SEMVER-MAJOR

#13204 Bumped telemetry version to 3.5.1
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#13202 [android] Fix order in which repos are being synced
  platform/android/build.gradle
Labels: Android, build

#13182 [build] Show ccache stats on CircleCI again
  circle.yml
Labels: build

#12736 Mapbox maps SDK for iOS custom logging.
  platform/darwin/src/MGLLoggingConfiguration.h
  platform/darwin/src/MGLLoggingConfiguration.m
  platform/darwin/src/MGLLoggingConfiguration_Private.h
  platform/ios/app/MBXAppDelegate.m
  platform/ios/core-files.txt
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/src/Mapbox.h
  platform/macos/core-files.txt
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/src/MGLMapView.mm
  platform/macos/src/Mapbox.h
Labels: feature, ⚠️ DO NOT MERGE

#13199 Add icon for fill extrusion layers to macosapp
  platform/macos/app/Assets.xcassets/Layers/fill-extrusion.imageset/Contents.json
  platform/macos/app/Assets.xcassets/Layers/fill-extrusion.imageset/fill-extrusion.pdf
  platform/macos/app/StyleLayerIconTransformer.m
  platform/macos/app/resources/fill-extrusion.svg
Labels: bug, macOS

#13190 Fix crash on nullary vararg expression function
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: crash, iOS, macOS, runtime styling

#13220 Deliver onMapReady only at the end of the initialization block
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13205 Option to consume map clicks, consuming location clicks
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/PressForMarkerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraPositionActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/MaxMinZoomActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QueryRenderedFeaturesPropertiesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QuerySourceFeaturesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/infowindow/DynamicInfoWindowAdapterActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/infowindow/InfoWindowActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationMapChangeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DoubleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DraggableMarkerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/ZoomFunctionSymbolLayerActivity.java
Labels: Android, SEMVER-MAJOR

#13226 [ios] Update pre-release installation instructions
  platform/ios/INSTALL.md
  platform/ios/scripts/release-notes-github.md.ejs
Labels: build, documentation, iOS

#13234 Gestures library v0.3.0 bump
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/gradle/dependencies.gradle
Labels: Android

#13213 Fix sign flip in programmatic camera rotation
  platform/macos/src/MGLMapView.mm
Labels: bug, macOS, release blocker

#13238 Bump snapshot version to v7.0.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#13239 Introduce the style::Layer factory classes
  include/mbgl/style/layer.hpp
  include/mbgl/style/layers/background_layer.hpp
  include/mbgl/style/layers/circle_layer.hpp
  include/mbgl/style/layers/fill_extrusion_layer.hpp
  include/mbgl/style/layers/fill_layer.hpp
  include/mbgl/style/layers/heatmap_layer.hpp
  include/mbgl/style/layers/hillshade_layer.hpp
  include/mbgl/style/layers/layer.hpp.ejs
  include/mbgl/style/layers/line_layer.hpp
  include/mbgl/style/layers/raster_layer.hpp
  include/mbgl/style/layers/symbol_layer.hpp
  src/mbgl/style/conversion/layer.cpp
  src/mbgl/style/layer.cpp
  src/mbgl/style/layers/background_layer.cpp
  src/mbgl/style/layers/circle_layer.cpp
  src/mbgl/style/layers/fill_extrusion_layer.cpp
  src/mbgl/style/layers/fill_layer.cpp
  src/mbgl/style/layers/heatmap_layer.cpp
  src/mbgl/style/layers/hillshade_layer.cpp
  src/mbgl/style/layers/layer.cpp.ejs
  src/mbgl/style/layers/line_layer.cpp
  src/mbgl/style/layers/raster_layer.cpp
  src/mbgl/style/layers/symbol_layer.cpp
Labels: Core, refactor
