Repository mapbox/mapbox-gl-native, pull requests merged in 2018-03, with the labels that each got.

#11341 Bumping new gestures library snaphost version
  platform/android/gradle/dependencies.gradle
Labels: Android

#11309 [android] rotated map returns incorrect bounds when going over date line
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Projection.java
Labels: Android

#11339 [android] add support for mapzen terrarium raster-dem encoding
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/TileSet.java
Labels: Android

#11351 Remove deprecated location APIs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MyBearingTracking.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MyLocationTracking.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapKeyListener.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Projection.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/TrackingSettings.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/MyLocationView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/MyLocationViewSettings.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/MapFragmentUtils.java
  platform/android/MapboxGLAndroidSDK/src/main/res/layout/mapbox_mapview_internal.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/TrackingSettingsTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/widgets/MyLocationViewSettingsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/MyLocationViewTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/FeatureOverviewActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/BottomSheetActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DoubleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/MapPaddingActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/BaseLocationActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/CustomLocationEngineActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MockLocationEngine.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationDrawableActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationTintActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationToggleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/userlocation/MyLocationTrackingModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/model/activity/Feature.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/drawable/ic_location_disabled.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_custom_location_engine.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_my_location_customization.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_my_location_dot_color.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_my_location_toggle.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_my_location_tracking.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_location_engine.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_padding.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_tracking.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/actions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/arrays.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/categories.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/dimens.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
Labels: Android, SEMVER-MAJOR

#11370 Updated changelog to reflect 5.5.0 and 6.0.0-beta.3 changes
  platform/android/CHANGELOG.md
Labels: Android

#11369 Release android v6.0.0-beta.3
  platform/android/CHANGELOG.md
Labels: Android

#11364 Validate width/height aren't 0 for snapshot
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
Labels: Android

#11367 Use float for pixelratio when creating a snapshotter
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
Labels: Android

#11350 Delete local ref pixel buffers when converting Image.java
  platform/android/src/map/image.cpp
Labels: Android

#11335 [ios] Add MGLMapView.showsScale to control scale bar visibility
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView+IBAdditions.h
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewLayoutTests.m
  platform/ios/test/MGLMapViewScaleBarTests.m
Labels: MapKit parity, bug, iOS

#11383 Fix CameraAnimatorActivity home button
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimatorActivity.java
Labels: Android

#11382 Rework internal zoomIn/zoomOut to use ValueAnimators
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapKeyListener.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
Labels: Android

#11384 Update javadoc configuration
  platform/android/gradle/gradle-javadoc.gradle
Labels: Android

#11374 [Qt] Expose mapLoadingFailed signal
  platform/qt/include/qmapboxgl.hpp
  platform/qt/src/qmapboxgl.cpp
  platform/qt/src/qmapboxgl_map_observer.cpp
  platform/qt/src/qmapboxgl_map_observer.hpp
Labels: Qt

#11388 Rework match expression
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android

#11071 Android readme snapshot dependency line cleanup
  platform/android/README.md
Labels: Android

#11373 [android] take advantage of MAS 3.0-beta.3 changes
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/FillExtrusionActivity.java
  platform/android/gradle/dependencies.gradle
  platform/android/src/geojson/conversion/geometry.hpp
Labels: Android

#11398 Downgrade to java 7
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegion.java
Labels: Android

#11407 Expose more gestures settings
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/UiSettingsTest.java
Labels: Android

#11408 Ckesc: Update README.md
  platform/android/README.md
Labels: Android

#11413 null check body on http request, cleanup code
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HTTPRequest.java
  platform/android/src/http_file_source.cpp
Labels: Android

#11352 Add expression conversion, getters, tests
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/CameraFunction.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/CompositeFunction.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/Function.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/SourceFunction.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/CategoricalStops.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/ExponentialStops.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/IdentityStops.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/IntervalStops.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/IterableStops.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/Stop.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/Stops.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/functions/stops/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyValue.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/layers/FunctionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/BackgroundLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CircleLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillExtrusionLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HeatmapLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HillshadeLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LightTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LineLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RasterLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/SymbolLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/layer.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/light.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/BuildingFillExtrusionActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DataDrivenStyleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/ZoomFunctionSymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/ResourceUtils.java
  platform/android/config.cmake
  platform/android/scripts/generate-style-code.js
  platform/android/src/jni.cpp
  platform/android/src/style/conversion/function.hpp
  platform/android/src/style/conversion/gson.hpp
  platform/android/src/style/conversion/property_value.hpp
  platform/android/src/style/functions/categorical_stops.cpp
  platform/android/src/style/functions/categorical_stops.hpp
  platform/android/src/style/functions/exponential_stops.cpp
  platform/android/src/style/functions/exponential_stops.hpp
  platform/android/src/style/functions/identity_stops.cpp
  platform/android/src/style/functions/identity_stops.hpp
  platform/android/src/style/functions/interval_stops.cpp
  platform/android/src/style/functions/interval_stops.hpp
  platform/android/src/style/functions/stop.cpp
  platform/android/src/style/functions/stop.hpp
Labels: Android

#11251 [core] Add expression filter support
  benchmark/fixtures/api/cache.db
  benchmark/parse/filter.benchmark.cpp
  cmake/core-files.cmake
  include/mbgl/style/filter.hpp
  include/mbgl/style/filter_evaluator.hpp
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  src/mbgl/geometry/feature_index.cpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/style/conversion/filter.cpp
  src/mbgl/style/conversion/stringify.hpp
  src/mbgl/style/filter.cpp
  src/mbgl/style/filter_evaluator.cpp
  src/mbgl/tile/custom_geometry_tile.cpp
  src/mbgl/tile/geojson_tile.cpp
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/geometry_tile_worker.cpp
  test/style/filter.test.cpp
Labels: Core, in progress

#11428 Cherry pick expression filters
  benchmark/fixtures/api/cache.db
  benchmark/parse/filter.benchmark.cpp
  cmake/core-files.cmake
  include/mbgl/style/filter.hpp
  include/mbgl/style/filter_evaluator.hpp
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  src/mbgl/geometry/feature_index.cpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/style/conversion/filter.cpp
  src/mbgl/style/conversion/stringify.hpp
  src/mbgl/style/filter.cpp
  src/mbgl/style/filter_evaluator.cpp
  src/mbgl/tile/custom_geometry_tile.cpp
  src/mbgl/tile/geojson_tile.cpp
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/geometry_tile_worker.cpp
  test/style/filter.test.cpp
Labels: Core

#11427 [boba] Clamp TileJSON bounds
  src/mbgl/style/conversion/tileset.cpp
  test/style/conversion/tileset.test.cpp
Labels: Core

#11434 Revisit proguard configuration for release-boba
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
  platform/android/MapboxGLAndroidSDK/src/main/AndroidManifest.xml
Labels: Android

#11437 [ios, build] Move iOS release builds to CircleCI
  circle.yml
  platform/ios/bitrise.yml
  platform/ios/scripts/document.sh
Labels: build, iOS

#11405 Prevent render thread from waking up unneeded on still rendering
  src/mbgl/map/map.cpp
  src/mbgl/renderer/renderer_impl.cpp
Labels: Core

#11418 Building release version of Test App in CI workflow
  circle.yml
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
Labels: Android, build

#11444 Merge ios-v3.7.6 & android-v5.5.0 (agua) to master
  circle.yml
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HTTPRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/app/MBXViewController.m
  platform/ios/bitrise.yml
  platform/ios/scripts/document.sh
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLUserLocationHeadingArrowLayer.m
  src/mbgl/style/conversion/tileset.cpp
  test/style/conversion/tileset.test.cpp
Labels: Android, Core, iOS

#11460 Bringing back missing two-tap telemetry event
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#11449 Test activity for gestures manager
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/GestureDetectorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/ResourceUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_gesture_detector.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/item_gesture_alert.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_gestures.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
Labels: Android

#11457 Array expression literal
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android

#11480 Verify optional before accessing its value
  platform/android/src/file_source.cpp
Labels: Android

#11474 Fix Events lib changes
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HTTPRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Events.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/telemetry/HttpTransportTest.java
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#11481 Verify that optional has value before accessing it
  platform/android/src/file_source.cpp
Labels: Android

#11429 Expression filters
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/BackgroundLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CircleLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillExtrusionLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Filter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HeatmapLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HillshadeLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/LineLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/RasterLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/VectorSource.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/layers/FilterTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CircleLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillExtrusionLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HeatmapLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LightTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LineLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/SymbolLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/layer.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/light.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QueryRenderedFeaturesBoxHighlightActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QuerySourceFeaturesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/BuildingFillExtrusionActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/CircleLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GeoJsonClusteringActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/RuntimeStyleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/src/style/layers/layer.cpp
  platform/android/src/style/layers/layer.hpp
Labels: Android

#11483 Bumped gestures library version to 0.1.0
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/GestureDetectorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_gestures.xml
  platform/android/gradle/dependencies.gradle
Labels: Android

#11486 Changelog for v6.0.0-beta.4
  platform/android/CHANGELOG.md
Labels: Android

#11462 Document to use subclasses of MGLFeature to access attributes
  platform/darwin/src/MGLPointAnnotation.h
  platform/darwin/src/MGLPointCollection.h
  platform/darwin/src/MGLPolygon.h
  platform/darwin/src/MGLPolyline.h
  platform/darwin/src/MGLShape.h
  platform/darwin/src/MGLShapeCollection.h
Labels: documentation, iOS, macOS

#11485 Release android v6.0.0 beta.4
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#11442 -[MGLMapView selectAnnotation:animated:] pans map to fit callout view
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXCustomCalloutView.m
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLCalloutView.h
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLAnnotationViewTests.m
  platform/ios/vendor/SMCalloutView/SMCalloutView.h
  platform/ios/vendor/SMCalloutView/SMCalloutView.m
  platform/macos/CHANGELOG.md
  platform/macos/app/Base.lproj/MainMenu.xib
  platform/macos/app/MapDocument.m
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
Labels: annotations, iOS, macOS

#11500 Literal array conversion of primitive arrays
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
Labels: Android

#11501 Make default output from step more descriptive
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android

#11503 Expose public API Telemetry
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Telemetry.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
Labels: Android

#11506 Convert Android int colors with to-color expression
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DataDrivenStyleActivity.java
Labels: Android

#11520 Prevent default style reload when string style json was set
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/StyleLoaderTest.java
Labels: Android

#11519 Prevent default style reload when string style json was set
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/StyleLoaderTest.java
Labels: Android

#11450 [ios, macos] Change the format for case expressions to a flat structure.
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSPredicate+MGLAdditions.h
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
Labels: beta blocker, iOS, macOS

#11512 String, number and bool with multiple values
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android

#11527 Cherry pick v5.5.1 changelog
  platform/android/CHANGELOG.md
Labels: Android

#11529 [build] Run more sanitizers/analyzers on iOS/macOS CI; save Xcode logs
  Makefile
  circle.yml
Labels: Node.js, build, iOS, macOS, tests

#11534 Telemetry library 3.0.0-beta.3
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#11535 Gestures library v0.2.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#11537 Release Android v6.0.0-beta.5
  platform/android/CHANGELOG.md
Labels: Android

#11528 [ios, macos] Add lookup and feature operators.
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSExpression+MGLPrivateAdditions.h
  platform/darwin/test/MGLExpressionTests.mm
Labels: beta blocker, iOS, macOS

#11551 [core] Fix issue #11538 (race condition crash for heavily modified annotations)
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/geometry_tile.hpp
Labels: Core

#11472 Install aftermarket expression functions
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/MGLCircleStyleLayer.h
  platform/darwin/src/MGLHeatmapStyleLayer.h
  platform/darwin/src/MGLLineStyleLayer.h
  platform/darwin/src/MGLStyleValue.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSExpression+MGLPrivateAdditions.h
  platform/darwin/src/NSPredicate+MGLAdditions.h
  platform/darwin/src/NSPredicate+MGLAdditions.mm
  platform/darwin/test/MGLBackgroundStyleLayerTests.mm
  platform/darwin/test/MGLCircleStyleLayerTests.mm
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLDocumentationGuideTests.swift
  platform/darwin/test/MGLExpressionTests.mm
  platform/darwin/test/MGLFillExtrusionStyleLayerTests.mm
  platform/darwin/test/MGLFillStyleLayerTests.mm
  platform/darwin/test/MGLHeatmapColorTests.mm
  platform/darwin/test/MGLHeatmapStyleLayerTests.mm
  platform/darwin/test/MGLHillshadeStyleLayerTests.mm
  platform/darwin/test/MGLLineStyleLayerTests.mm
  platform/darwin/test/MGLRasterStyleLayerTests.mm
  platform/darwin/test/MGLStyleLayerTests.mm.ejs
  platform/darwin/test/MGLSymbolStyleLayerTests.mm
  platform/ios/app/MBXViewController.m
  platform/ios/docs/guides/For Style Authors.md
  platform/ios/docs/guides/Using Style Functions at Runtime.md
  platform/macos/app/MapDocument.m
  platform/macos/docs/guides/For Style Authors.md
  platform/macos/docs/guides/Using Style Functions at Runtime.md
Labels: feature, iOS, macOS, refactor, runtime styling

#11563 Fix for integration tests running on device.
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: iOS, tests

#11574 [ios, docs] Fix formatting in Predicates & Expressions guide
  platform/darwin/docs/guides/Predicates and Expressions.md
Labels: documentation, iOS, macOS

#11389 Eviscerate mbgl expression to Foundation JSON object conversion
  platform/darwin/src/MGLStyleValue.mm
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLCircleStyleLayerTests.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/darwin/test/MGLFillExtrusionStyleLayerTests.mm
  platform/darwin/test/MGLFillStyleLayerTests.mm
  platform/darwin/test/MGLHeatmapColorTests.mm
  platform/darwin/test/MGLHeatmapStyleLayerTests.mm
  platform/darwin/test/MGLLineStyleLayerTests.mm
  platform/darwin/test/MGLStyleLayerTests.mm.ejs
  platform/darwin/test/MGLSymbolStyleLayerTests.mm
  platform/ios/src/UIColor+MGLAdditions.h
  platform/ios/src/UIColor+MGLAdditions.mm
  platform/macos/src/NSColor+MGLAdditions.h
  platform/macos/src/NSColor+MGLAdditions.mm
Labels: beta blocker, iOS, macOS, refactor, runtime styling
