Repository mapbox/mapbox-gl-native, pull requests merged in 2018-07, with the labels that each got.

#12271 [ios] Add per-commit ios-release CircleCI build
  circle.yml
Labels: build, iOS, tests

#12279 Update build status buttons
  platform/ios/README.md
  platform/macos/README.md
Labels: build, iOS, macOS

#12213 Add pitch argument to cameraThatFits functions
  include/mbgl/map/map.hpp
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
  src/mbgl/map/map.cpp
  test/map/map.test.cpp
Labels: iOS, navigation

#12291 [glfw] Update route demo to use expressions DSL
  platform/glfw/glfw_view.cpp
Labels: GLFW

#12286 Automatically localize labels into Japanese, Korean
  platform/darwin/src/MGLVectorTileSource.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, localization, macOS

#12297 [ios, build] Postpone jazzy install for ios-release build
  circle.yml
  platform/ios/scripts/document.sh
Labels: bug, build, iOS

#12308 avoid race condition when calling getMapAsync from OnMapReadyIdlingResource
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/OnMapReadyIdlingResource.java
Labels: Android, tests

#12301 [android] Consolidate release builds
  circle.yml
Labels: Android, build, refactor

#12323 update changelog for release v6.3.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#12305 Add Node as executable for profiling action
  cmake/node.xcscheme
Labels: build

#12324 [ios, macos] Remove duplicate MGLTileSourceOptionDEMEncoding declaration
  platform/darwin/src/MGLTileSource.h
Labels: bug, iOS, macOS

#12333 Fact-check and reorganize macOS changelog
  platform/macos/CHANGELOG.md
Labels: macOS

#12344 fix jni method lookup of GeometryCollection accessor
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/GeoJsonConversionTest.java
  platform/android/src/geojson/geometry_collection.cpp
Labels: Android

#12335 Remove unique LatLng validation of LatLngBounds builder
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#12234 Update annotation view touch handling (with offsets)
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
Labels: annotations, iOS

#12349 Bumped telemetry to v3.1.4
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#12350 [ios, build] Strip symbols before recording size metrics
  platform/ios/scripts/metrics.sh
Labels: build, iOS

#12346 release-chai backport: fix jni method lookup of GeometryCollection accessor
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/GeoJsonConversionTest.java
  platform/android/src/geojson/geometry_collection.cpp
Labels: Android

#12281 Clean-up CircleCI config; consistify build naming
  circle.yml
Labels: Node.js, Qt, build, refactor

#12332 Allow unwrapped arguments in match expressions
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: crash, iOS, macOS, runtime styling

#12340 Deduplicate library dependency references
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: build, iOS

#12289 Import GeoJSON
  platform/macos/app/Base.lproj/MainMenu.xib
  platform/macos/app/DroppedPinAnnotation.h
  platform/macos/app/DroppedPinAnnotation.m
  platform/macos/app/MapDocument.m
Labels: feature, macOS

#12358 [ios, build] Upload nightly iOS release build on CircleCI
  circle.yml
Labels: build, iOS

#12368 [ios] Update podspecs for ios-v4.2.0-beta.1 (release-drink)
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#12370 Update changelog v6.3.0 beta.1
  platform/android/CHANGELOG.md
Labels: Android

#12367 [ios] Adjust iOS nightly build to run later
  circle.yml
Labels: build, iOS

#12375 Validate if gesture detector is able to handle gesture
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#12373 MapView#isDestroyed
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/BulkMarkerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
Labels: Android

#12354 add geojson regression tests for java method look up from JNI
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/GeoJsonConversionTest.java
Labels: Android

#12393 Bump kotlin, timber and okhttp dependencies
  platform/android/gradle/dependencies.gradle
Labels: Android

#12397 Make the offline DB schema a regular include file
  cmake/filesource.cmake
  platform/default/mbgl/storage/offline_database.cpp
  platform/default/mbgl/storage/offline_schema.hpp
  platform/default/mbgl/storage/offline_schema.js
Labels: Core, build

#12395 [core] treat parsedate as C++ file to remove C build rules
  cmake/core-files.cmake
  src/mbgl/util/chrono.cpp
  src/parsedate/parsedate.cpp
  src/parsedate/parsedate.hpp
Labels: Core, build

#12396 Bump used gradle tools version
  platform/android/build.gradle
Labels: Android

#12405 Harden map events creation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android, telemetry

#12394 Update CA bundle
  misc/ca-bundle.crt
Labels: Core

#12406 [android] harden map events creation (backport to drink)
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android, telemetry

#12409 Bump SNAPSHOT version building on master to 6.4.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#12411 Cherry-pick iOS events symbol visibility fix to `release-node-v4.0.0`
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapboxEvents.m
Labels: build, iOS, telemetry

#12408 [android] Fix possibly race on undefined behavior
  platform/android/src/run_loop.cpp
Labels: Android, bug

#12148 [iOS] Fix unbalanced change delimiter
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: bug, iOS

#12425 Update changelog for v6.3.0
  platform/android/CHANGELOG.md
Labels: Android

#12426 Cherry pick: Update changelog for v6.3.0
  platform/android/CHANGELOG.md
Labels: Android

#12429 Mapbox Maps SDK for macOS v0.9.0
  platform/macos/CHANGELOG.md
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
Labels: build, macOS

#12430 Import GeoJSON (release-drink redux)
  platform/macos/app/Base.lproj/MainMenu.xib
  platform/macos/app/DroppedPinAnnotation.h
  platform/macos/app/DroppedPinAnnotation.m
  platform/macos/app/MapDocument.m
Labels: feature, macOS

#12443 fixed typo in error message
  src/mbgl/style/conversion/tileset.cpp
Labels: Core

#12444 Expose getMap
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
Labels: Android

#12447 [build] See what happened when `npm install` fails
  cmake/mbgl.cmake
Labels: build

#12453 [build] Disable binary size checks for fork PRs
  scripts/check_binary_size.js
Labels: bug, build

#12013 [ios] Mapbox's Location Manager new API.
  platform/darwin/src/MGLLocationManager.h
  platform/darwin/src/MGLLocationManager.m
  platform/darwin/src/MGLLocationManager_Private.h
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXCustomLocationViewController.h
  platform/ios/app/MBXCustomLocationViewController.m
  platform/ios/app/MBXViewController.m
  platform/ios/app/Main.storyboard
  platform/ios/app/simple_route.json
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/jazzy.yml
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/Mapbox.h
Labels: feature, iOS

#12459 replace deprecated javaCompile with getJavaCompiler()
  platform/android/gradle/gradle-javadoc.gradle
Labels: Android

#12458 Correct accesstoken validation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
Labels: Android

#12456 [build] Bump benchmark to v1.4.1
  benchmark/fixtures/api/cache.db
  cmake/mason-dependencies.cmake
Labels: build

#12457 Fix circle-ci configuration for building forked PRs
  circle.yml
Labels: Android, build

#12446 [build] Attempt to determine a likely base branch without a PR
  scripts/environment.js
Labels: build

#12371 [core] coveredByChildren is false if at least one child is uncovered
  src/mbgl/algorithm/covered_by_children.hpp
  test/algorithm/covered_by_children.test.cpp
Labels: Core, bug, rendering

#12455 [core] Replace expressions RTTI with enums + static cast
  include/mbgl/style/conversion/data_driven_property_value.hpp
  include/mbgl/style/conversion/property_value.hpp
  include/mbgl/style/expression/array_assertion.hpp
  include/mbgl/style/expression/at.hpp
  include/mbgl/style/expression/boolean_operator.hpp
  include/mbgl/style/expression/case.hpp
  include/mbgl/style/expression/coalesce.hpp
  include/mbgl/style/expression/compound_expression.hpp
  include/mbgl/style/expression/error.hpp
  include/mbgl/style/expression/expression.hpp
  include/mbgl/style/expression/interpolate.hpp
  include/mbgl/style/expression/is_constant.hpp
  include/mbgl/style/expression/let.hpp
  include/mbgl/style/expression/literal.hpp
  include/mbgl/style/expression/match.hpp
  src/mbgl/style/expression/assertion.cpp
  src/mbgl/style/expression/boolean_operator.cpp
  src/mbgl/style/expression/case.cpp
  src/mbgl/style/expression/coalesce.cpp
  src/mbgl/style/expression/coercion.cpp
  src/mbgl/style/expression/collator_expression.cpp
  src/mbgl/style/expression/equals.cpp
  src/mbgl/style/expression/find_zoom_curve.cpp
  src/mbgl/style/expression/interpolate.cpp
  src/mbgl/style/expression/is_constant.cpp
  src/mbgl/style/expression/length.cpp
  src/mbgl/style/expression/match.cpp
  src/mbgl/style/expression/parsing_context.cpp
  src/mbgl/style/expression/step.cpp
Labels: Core, performance

#12484 Changelog for 6.4.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#12486 [ios] Updated podspecs and changelog for ios-v4.3.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#12387 [iOS] Add fallbacks for name fields
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
Labels: iOS, localization

#12489 Validate if circle-ci var is unset
  circle.yml
Labels: Android

#12482 Add minimal touch target to marker click detection
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AnnotationManager.java
Labels: Android

#12496 [android] - unbound variable with external PR
  circle.yml
Labels: Android, build

#12377 Remove black surface during map start up
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/GLSurfaceViewMapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/ColorUtils.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
Labels: Android

#12494 [ios] Fix file encoding for pt-PT strings file
  platform/ios/resources/pt-PT.lproj/Localizable.strings
Labels: bug, build, iOS, localization

#12500 Update documentation for node publishing process
  platform/node/DEVELOPING.md
Labels: Core

#12514 Update parse_date from cURL 7.61.0
  src/parsedate/parsedate.cpp
  src/parsedate/parsedate.hpp
Labels: Core

#12502 [build] Enable link-time optimization for iOS release builds
  cmake/loop-darwin.cmake
  cmake/mbgl.cmake
  cmake/offline.cmake
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: build, iOS, performance

#12522 [ios, build] Bump CircleCI to Xcode 9.4.1
  circle.yml
Labels: build, iOS, macOS
