Repository mapbox/mapbox-gl-native, pull requests merged in 2018-09, with the labels that each got.

#12795 Bump gradle tools for AS 3.1.4
  platform/android/build.gradle
Labels: Android

#12796 Add Keep annotations to abstract components
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/NativeHttpRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/log/Logger.java
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
Labels: Android

#12767 [android] bump leak.canary to 1.6.1
  platform/android/gradle/dependencies.gradle
Labels: Android

#12804 Check if the map is destroyed before saving state in a fragment
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapFragment.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/SupportMapFragment.java
Labels: Android

#12801 Add get source id to supported layer types
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CircleLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillExtrusionLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HeatmapLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HillshadeLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/LineLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/RasterLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CircleLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillExtrusionLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/FillLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HeatmapLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/HillshadeLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LineLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RasterLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/SymbolLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/layer.junit.ejs
  platform/android/src/style/layers/layer.cpp
  platform/android/src/style/layers/layer.hpp
Labels: Android

#12776 [build] Skip Android device tests via commit message
  circle.yml
Labels: Android, build, performance

#12772 MapStrictMode testing tool
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/LibraryLoader.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/MapStrictMode.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/MapStrictModeException.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/IconFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpIdentifier.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/LocalRequestTask.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyValue.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
Labels: Android

#12810 [android] Retain a shared thread pool reference
  platform/android/src/style/sources/geojson_source.cpp
  platform/android/src/style/sources/geojson_source.hpp
Labels: Android, needs backport

#12792 Copyedit iOS, macOS changelogs
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation, iOS, macOS

#12813 Copyedit changelog (release-frappé)
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation, iOS, macOS

#12793 Add Arabic settings, accessibility translations
  platform/ios/framework/Settings.bundle/ar.lproj/Root.strings
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/resources/ar.lproj/Localizable.stringsdict
Labels: iOS, localization, needs changelog

#12758 Allow -[MGLMapView convertCoordinateBounds:toRectToView:] to span antimeridian
  platform/darwin/test/MGLMapViewTests.m
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
Labels: bug, iOS, macOS

#12816 correct latlngbounds exception message
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
Labels: Android

#12817 [android] MapStrictMode implementation [frappe-backport]
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/LibraryLoader.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/MapStrictMode.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/MapStrictModeException.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/IconFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpIdentifier.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/LocalRequestTask.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyValue.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
Labels: Android

#12355 Calls snapshotter (Obj-C) completion block on dealloc if snapshot hasn't finished.
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/darwin/src/MGLTypes.h
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterSwiftTests.swift
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterTest.m
  platform/ios/Integration Tests/integration-Bridging-Header.h
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/CHANGELOG.md
Labels: bug, iOS, macOS

#12821 Update changelog for v6.5.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#12814 Add Arabic settings, accessibility translations (release-frappé)
  platform/ios/framework/Settings.bundle/ar.lproj/Root.strings
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/resources/ar.lproj/Localizable.stringsdict
Labels: iOS, localization

#12822 Disable flaky camera tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraAnimateTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraEaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraMoveTest.java
Labels: Android

#12832 Update isEmulator check
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/egl/EGLConfigChooser.java
Labels: Android

#12735 Minor reference app fixes
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/PolylineActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/PressForMarkerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QuerySourceFeaturesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DoubleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterReuseActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_query_source_features.xml
Labels: Android

#12845 [android] "is-supported-script" expression support
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
Labels: Android, GL JS parity

#12836 macOS 10.10, Xcode 8 no longer supported
  platform/macos/INSTALL.md
Labels: documentation, macOS

#12852 [docs] Remove Deprecated Framework Links
  README.md
Labels: documentation

#12497 Remove nunicode from android binding
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/StringUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/string/UppperLowerCaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/render/RenderTestActivity.java
  platform/android/config.cmake
  platform/android/core-files.txt
  platform/android/scripts/run-render-test.py
  platform/android/src/jni.cpp
  platform/android/src/string_util.cpp
  platform/android/src/text/collator.cpp
  platform/android/src/text/collator_jni.hpp
  platform/android/src/unaccent.cpp
Labels: Android, high priority

#12854 [ios, macos, docs] Move MGLShapeOfflineRegion to offline section 🍒 cherry pick
  platform/ios/jazzy.yml
  platform/macos/jazzy.yml
Labels: documentation, iOS, macOS

#12866 [ios] Add fall-through single tap to iosapp
  platform/ios/app/MBXViewController.m
Labels: iOS

#12861 Update changelog for v6.5.0
  platform/android/CHANGELOG.md
Labels: Android

#12871 Update changelog for v6.5.0
  platform/android/CHANGELOG.md
Labels: Android

#12875 Update podspecs and changelogs for v4.4.0 final
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
Labels: build, iOS, macOS

#12878 [ios, macos] Update Podspecs & changelog for 4.4.0 🍒 [cherry pick]
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
Labels: build, iOS, macOS

#12859 Remove remainder of WebP support
  cmake/mason-dependencies.cmake
  platform/default/image.cpp
  platform/default/webp_reader.cpp
  platform/linux/config.cmake
  platform/qt/config.cmake
  platform/qt/src/qt_image.cpp
  src/mbgl/util/mapbox.cpp
  test/fixtures/image/tile.webp
  test/util/image.test.cpp
  test/util/mapbox.test.cpp
Labels: Core, build

#12880 [build] Don't let the binary size query get confused by post-dated commits
  scripts/publish_binary_size.js
Labels: build

#12882 Copyedit iOS, macOS changelogs
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation, iOS, macOS

#12884 Fix changelog syntax errors (release-frappé)
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation

#12883 Look even more widely for IB designables agent
  platform/darwin/src/NSProcessInfo+MGLAdditions.m
  platform/macos/CHANGELOG.md
Labels: build, iOS, macOS

#12890 [ios] Update changelog and podspecs for ios-v4.4.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#12899 [build] Reduce CircleCI timeouts for iOS/macOS builds
  circle.yml
Labels: build, iOS, macOS

#12905 [ios, build] Bump timeout for ios-release to 5m; fix Slack link
  circle.yml
Labels: build, iOS

#12918 Bump snapshot version to v6.6.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#12915 [core] add --cache option to GLFW binary to specify the cache database
  cmake/glfw.cmake
  platform/glfw/main.cpp
Labels: Core, GLFW

#12922 Changelog for 6.6.0.alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#12607 Move Settings.bundle into included iosapp
  platform/ios/app/Settings.bundle/Base.lproj/Root.strings
  platform/ios/app/Settings.bundle/Root.plist
  platform/ios/app/Settings.bundle/ar.lproj/Root.strings
  platform/ios/app/Settings.bundle/bg.lproj/Root.strings
  platform/ios/app/Settings.bundle/ca.lproj/Root.strings
  platform/ios/app/Settings.bundle/da.lproj/Root.strings
  platform/ios/app/Settings.bundle/de.lproj/Root.strings
  platform/ios/app/Settings.bundle/en.lproj/Root.strings
  platform/ios/app/Settings.bundle/es.lproj/Root.strings
  platform/ios/app/Settings.bundle/fi.lproj/Root.strings
  platform/ios/app/Settings.bundle/fr.lproj/Root.strings
  platform/ios/app/Settings.bundle/he.lproj/Root.strings
  platform/ios/app/Settings.bundle/hu.lproj/Root.strings
  platform/ios/app/Settings.bundle/ko.lproj/Root.strings
  platform/ios/app/Settings.bundle/lt.lproj/Root.strings
  platform/ios/app/Settings.bundle/nl.lproj/Root.strings
  platform/ios/app/Settings.bundle/pl.lproj/Root.strings
  platform/ios/app/Settings.bundle/pt-BR.lproj/Root.strings
  platform/ios/app/Settings.bundle/pt-PT.lproj/Root.strings
  platform/ios/app/Settings.bundle/ru.lproj/Root.strings
  platform/ios/app/Settings.bundle/sv.lproj/Root.strings
  platform/ios/app/Settings.bundle/uk.lproj/Root.strings
  platform/ios/app/Settings.bundle/vi.lproj/Root.strings
  platform/ios/app/Settings.bundle/zh-Hans.lproj/Root.strings
  platform/ios/app/Settings.bundle/zh-Hant.lproj/Root.strings
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/scripts/package.sh
Labels: build, iOS

#12913 [ios, macos] Fix offline database test crash.
  platform/darwin/test/MGLOfflineStorageTests.mm
Labels: build, iOS

#12925 [ios] Update changelogs and bump podspec to 4.5.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#12928 Update 6.6.0-alpha.1 changelog to reflect ProGuard changes
  platform/android/CHANGELOG.md
Labels: Android

#12931 Don't break ascent in the overscaled tile phase
  src/mbgl/algorithm/update_renderables.hpp
  test/algorithm/update_renderables.test.cpp
Labels: Core, bug

#12876 Fix Android crash on SQLite log warning
  platform/default/sqlite3.cpp
Labels: Android

#12929 Proguard config revision
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
  platform/android/MapboxGLAndroidSDKTestApp/proguard-rules.pro
Labels: Android

#12862 Avoid flipping some layer icons
  platform/macos/app/Assets.xcassets/Layers/background.imageset/Contents.json
  platform/macos/app/Assets.xcassets/Layers/heatmap.imageset/Contents.json
  platform/macos/app/Assets.xcassets/Layers/hillshade.imageset/Contents.json
Labels: bug, localization, macOS

#12934 Replace reflection setup in instrumentation tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseActivityTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/OnMapReadyIdlingResource.java
Labels: Android

#12933 Always request 1× and 2× sprite images for portability
  platform/default/mbgl/storage/offline_download.cpp
  test/storage/offline_download.test.cpp
Labels: Core, needs changelog, offline

#12894 Avoid failing CI tests when device doesn't have an internet connection
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/OnMapReadyIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseActivityTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_espresso_test.xml
Labels: Android

#12932 Invalidate camera mode in LocationComponent for gestures initiated changes only if necessary
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationCameraControllerTest.java
Labels: Android

#12958 Compare clang-tidy with merge base instead of master
  circle.yml
  package.json
  scripts/clang-tools.sh
  scripts/environment.js
Labels: Core, build

#12912 [android, build] Add firebase skipping to android-gnustl-arm-v7
  circle.yml
Labels: Android, build

#12964 Move "pending test" check into `invokeTest`
  platform/ios/Integration Tests/MGLCameraTransitionTests.mm
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: iOS, tests

#12974 Update telemetry dependency to 3.2.1
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#12844 Preserve GLSurfaceView's EGL context on pause
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/GLSurfaceViewMapRenderer.java
Labels: Android

#12969 [ios, build] Build releases with Xcode 10.0
  circle.yml
Labels: build, iOS

#12895 [ios] Fix for user puck jittering (and annotations lagging)
  platform/darwin/src/MGLFoundation.h
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS, performance

#12971 Declare that the static framework defines a module
  platform/ios/Mapbox-iOS-SDK-static-part.podspec
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: build, iOS

#12976 Changelog for 6.6.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#12978 [ios] Bump more test timeouts for Xcode 10 sluggishness
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/darwin/test/MGLStyleTests.mm
  platform/ios/Integration Tests/MBGLIntegrationTests.m
  platform/ios/Integration Tests/MGLStyleLayerIntegrationTests.m
Labels: build, iOS

#12941 [ios, macos] Add crossSourceCollissions property.
  platform/darwin/src/MGLRendererConfiguration.h
  platform/darwin/src/MGLRendererConfiguration.mm
  platform/ios/CHANGELOG.md
  platform/ios/docs/guides/Info.plist Keys.md
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/Info.plist Keys.md
  platform/macos/src/MGLMapView.mm
Labels: iOS, macOS
