Repository mapbox/mapbox-gl-native, pull requests merged in 2018-12, with the labels that each got.

#13364 Adjust coverage tracking threshold
  codecov.yml
Labels: build

#13360 [ios] Update French translation - telemetry
  platform/android/MapboxGLAndroidSDK/src/main/res/values-fr/strings.xml
  platform/darwin/resources/fr.lproj/Foundation.strings
  platform/ios/resources/fr.lproj/Localizable.strings
Labels: iOS, localization

#13485 Immediately notify core about forced connectivity state
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/net/ConnectivityReceiver.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
Labels: Android, SEMVER-MAJOR

#13499 Telemetry v4.1.1 bump
  platform/android/MapboxGLAndroidSDK/proguard-rules.pro
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#13358 Formatted "text-field" property setter
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/Formatted.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/FormattedSection.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/SymbolLayerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/layer.junit.ejs
  platform/android/scripts/generate-style-code.js
  src/mbgl/style/expression/formatted.cpp
Labels: Android

#13508 Expose endpoint change option for snapshotter
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterActivity.java
Labels: Android

#13493 Copyedit and reorganize iOS, macOS changelogs
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation, iOS, macOS

#13511 [ios] Bump podspec to 4.7.0-beta.1.
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13512 cp podspec bump to release-iowaska
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13480 [ios] Release iOS 8-compatible branch via CircleCI
  circle.yml
  platform/ios/scripts/deploy-packages-cn.sh
  platform/ios/scripts/publish-cn.sh
Labels: build, iOS

#13428 [android] returning null instead of the Source object in the MapboxMap#removeSource when it fails
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RuntimeStyleTests.java
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
Labels: Android, SEMVER-MAJOR, beta blocker

#13520 Android changelog name tweak
  CHANGELOG.md
Labels: Android, documentation

#13481 Update automatic Streets localization for v8/v11 data/styles
  platform/darwin/src/MGLVectorTileSource.mm
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/macos/CHANGELOG.md
Labels: iOS, localization, macOS

#13524 Update clustering example with filter configuration
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GeoJsonClusteringActivity.java
Labels: Android

#13523 CameraMode transition animation and result listeners
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/OnLocationCameraTransitionListener.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/Utils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationCameraControllerTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationModesActivity.java
Labels: Android

#13546 Backport #13508 to horchata
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterActivity.java
Labels: Android

#13552 Set snapshot version to 7.1.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#13551 Backport #13535 to iowaska
  src/mbgl/text/placement.cpp
Labels: beta blocker

#13557 Backport #13419 to iowaska
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/GeometryConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLng.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngSpan.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Projection.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngBoundsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/LatLngBoundsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/VisibleRegionTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/LatLngBoundsForCameraActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_bounds.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/actions.xml
  platform/android/src/geometry/lat_lng_bounds.cpp
Labels: Android

#13559 Backport #13558 to iowaska
  platform/android/CHANGELOG.md
Labels: Android

#13558 Changelog for 7.0.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#13549 [darwin] Send turnstile event for MGLSnapshotter in initializer
  platform/darwin/src/MGLMapSnapshotter.mm
Labels: iOS

#13561 [ios] Release v4.7.0 beta.2 preparation
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/darwin/src/MGLVectorTileSource.mm
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLMapAccessibilityElement.mm
  platform/macos/CHANGELOG.md
Labels: iOS, macOS

#13562 Release preparation for v4.7.0-beta.2
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13563 Update podspecs for v4.7.0-beta.2 (#13562)
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13497 [ios, macos] Standardize MGLTransition struct creation.
  platform/darwin/src/MGLBackgroundStyleLayer.mm
  platform/darwin/src/MGLCircleStyleLayer.mm
  platform/darwin/src/MGLFillExtrusionStyleLayer.mm
  platform/darwin/src/MGLFillStyleLayer.mm
  platform/darwin/src/MGLHeatmapStyleLayer.mm
  platform/darwin/src/MGLHillshadeStyleLayer.mm
  platform/darwin/src/MGLLight.mm
  platform/darwin/src/MGLLight.mm.ejs
  platform/darwin/src/MGLLineStyleLayer.mm
  platform/darwin/src/MGLRasterStyleLayer.mm
  platform/darwin/src/MGLStyle.mm
  platform/darwin/src/MGLStyleLayer.mm.ejs
  platform/darwin/src/MGLStyleValue_Private.h
  platform/darwin/src/MGLSymbolStyleLayer.mm
  platform/darwin/src/MGLTypes.h
Labels: iOS, macOS

#13564 [core] Updated iOS/macOS change logs.
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: Core

#13569 Fixed compass update time not getting updated
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentCompassEngine.java
Labels: Android

#13572 Remove style load test from instrumented unit tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
Labels: Android

#13573 Register compass sensor listener only if necessary
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/CompassEngine.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/CompassListener.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentCompassEngine.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/CompassEngineTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
Labels: Android

#13555 Validate if WeakReference is valid
  platform/android/src/map_renderer.cpp
  platform/android/src/native_map_view.cpp
  platform/android/src/snapshotter/map_snapshotter.cpp
Labels: Android

#13542 Move MapboxMapTest to java unit test
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
Labels: Android

#13565 [ios, macos] Add enablePlacementTransitions to MGLStyle.
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyle.mm
  platform/darwin/test/MGLStyleTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: GL JS parity, iOS, macOS

#13545 Immediate location animation based on map's projection
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/Utils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinatorTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationCameraControllerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
Labels: Android

#13580 [ios, macos] Fix number conversions when expressions cast to large numbers.
  platform/darwin/src/MGLConversion.h
  platform/darwin/test/MGLPredicateTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: crash, expressions, iOS, macOS

#13567 [ios] Update release notes template for correct Cocoapods/Carthage links
  platform/ios/scripts/release-notes-github.md.ejs
Labels: iOS

#13596 [mac, ios] Enable core-only layers
  platform/android/src/style/layers/layer_manager.hpp
  platform/darwin/src/MGLStyleLayerManager.h
  platform/darwin/src/MGLStyleLayerManager.mm
Labels: iOS, macOS, runtime styling

#13599 Invoke benchmark trigger from CI
  circle.yml
Labels: Android

#13585 Updates default styles to streets v11, etc.
  platform/darwin/src/MGLStyle.h
  platform/default/include/mbgl/util/default_styles.hpp
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/MGLStyleURLIntegrationTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/CHANGELOG.md
  test/util/mapbox.test.cpp
Labels: Core, iOS, macOS

#13602 Release v.4.7.0 stable prep
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13600 Stable release v.4.7.0 cherry-picks
  appveyor.yml
  circle.yml
  platform/darwin/src/MGLFeature.mm
  platform/darwin/src/MGLFeature_Private.h
  platform/darwin/src/MGLStyle.h
  platform/darwin/test/MGLFeatureTests.mm
  platform/default/mbgl/util/default_styles.hpp
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/MGLShapeSourceTests.m
  platform/ios/Integration Tests/MGLStyleURLIntegrationTest.m
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/CHANGELOG.md
  test/util/mapbox.test.cpp
Labels: iOS

#13610 mas upgrade to 4.3.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#13582 Dismiss the foreground color only when the style is loaded
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13597 [Android] Added Style object parameter mention to LocationComponent methods
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
Labels: Android, documentation

#13613 Cleanup deprecated methods for 7.0.0
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/CompassEngine.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentCompassEngine.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/TransformTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraAnimateTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraEaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraForTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraMoveTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/ScrollByActivity.java
Labels: Android

#13615 Update core styles based on the streets-v8 source
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values/strings.xml
Labels: Android

#13616 Backport #13615 to horchata
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/Style.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values/strings.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_multi_map.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/fragment_dialog_map.xml
Labels: Android

#13620 Backport #13619 to horchata
  platform/android/CHANGELOG.md
Labels: Android

#13625 Remove timber in favor of mapbox logger
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentCompassEngine.java
Labels: Android

#13627 Reworked instrumentation test activity to use a local style again
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/OnMapReadyIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/streets.json
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/espresso/EspressoTestActivity.java
Labels: Android

#13575 [android] - remove render test definitions from assets
  Makefile
Labels: Android

#13633 [android] mas bump to 4.3.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#13603 [ios, macos] Updated change log entries that missed being updated prior to 4.7.0
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS

#13637 7.0.0-beta.2 changelog
  platform/android/CHANGELOG.md
Labels: Android

#13634 7.0.0-beta.2 changelog
  platform/android/CHANGELOG.md
Labels: Android

#13646 [ios, macos] Prep work for ios-v4.7.1
  platform/darwin/src/MGLStyle.h
  platform/default/mbgl/util/default_styles.hpp
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/MGLStyleURLIntegrationTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/CHANGELOG.md
  test/util/mapbox.test.cpp
Labels: iOS, macOS
