Repository mapbox/mapbox-gl-native, pull requests merged in 2018-08, with the labels that each got.

#12519 [Qt] QMapboxGL::set{Paint,Layout}Property should return bool
  platform/qt/include/qmapboxgl.hpp
  platform/qt/src/qmapboxgl.cpp
Labels: Qt

#12527 Changelog for 6.4.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#12529 [core] don't prefetch tiles for geojson sources
  src/mbgl/renderer/tile_pyramid.cpp
Labels: Core

#12525 [Qt] Accept JSON as property value
  platform/qt/app/mapwindow.cpp
  platform/qt/qt.cmake
  platform/qt/src/qmapboxgl.cpp
  platform/qt/src/qmapboxgl_p.hpp
Labels: Qt

#12532 [ios, build] Support pre-releases in templated release notes
  platform/ios/scripts/release-notes.js
  platform/ios/scripts/release-notes.md.ejs
Labels: build, iOS

#12546 [android] Enable LTO in release builds
  platform/android/config.cmake
Labels: Android, build, performance

#12538 [build] Push binary size history to S3
  package.json
  platform/android/scripts/metrics.sh
  platform/ios/scripts/metrics.sh
  scripts/publish_binary_size.js
Labels: build, performance

#12553 [Qt] Add CMake toolchain for QNX platform
  Makefile
  platform/qt/README.md
  platform/qt/qnx.cmake
  platform/qt/qt.cmake
Labels: Qt

#12564 Update Java Services to v3.4.0
  platform/android/gradle/dependencies.gradle
Labels: Android

#12569 [build] Fix CI failure when master and release branch are identical
  scripts/environment.js
Labels: bug, build

#12574 [build] Fix CI failure when master and release branch are identical (release-espresso)
  scripts/environment.js
Labels: bug, build

#12578 Revert "[core] Replace Boost.Spirit with std::regex in CacheControl::parse
  src/mbgl/util/http_header.cpp
  test/storage/headers.test.cpp
Labels: Core

#12573 [build] Print binary size stats to CI logs, too
  scripts/check_binary_size.js
Labels: build

#12581 [ios] Updated podspecs and changelog (release-espresso)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#12582 Remove bogus library search path
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: build, macOS

#12584 [ios] Add MGLMapViewDecelerationRate typed enum
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
Labels: Swift, iOS, refactor

#12589 Telemetry bump to 3.1.5
  platform/android/gradle/dependencies.gradle
Labels: Android, telemetry

#12583 [ios] Standardize exception definitions
  platform/darwin/src/MGLComputedShapeSource.h
  platform/darwin/src/MGLComputedShapeSource.mm
  platform/darwin/src/MGLForegroundStyleLayer.mm
  platform/darwin/src/MGLOfflinePack.h
  platform/darwin/src/MGLOfflinePack.mm
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/src/MGLShape.mm
  platform/darwin/src/MGLSource.mm
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyle.mm
  platform/darwin/src/MGLStyleLayer.h
  platform/darwin/src/MGLStyleLayer.mm
  platform/darwin/src/MGLStyleLayer_Private.h
  platform/darwin/src/MGLTilePyramidOfflineRegion.mm
  platform/darwin/src/MGLTileSource.mm
  platform/darwin/src/MGLTypes.h
  platform/darwin/src/MGLTypes.m
  platform/darwin/src/MGLVectorStyleLayer.m
  platform/darwin/src/NSBundle+MGLAdditions.h
  platform/darwin/src/NSBundle+MGLAdditions.m
  platform/darwin/test/MGLOfflinePackTests.m
  platform/darwin/test/MGLOfflineRegionTests.m
  platform/darwin/test/MGLStyleTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
Labels: iOS, refactor

#12572 [ios] Remove Xcode 7 compatibility typedefs
  platform/darwin/src/MGLTypes.h
Labels: iOS, refactor

#12503 [qt] Use FollowRedirectsAttribute in network requests
  platform/qt/src/http_file_source.cpp
Labels: Qt

#12517 Shutting down thread pool of the CustomGeometrySource when the source is destroyed
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CustomGeometrySourceTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GridSourceActivity.java
  platform/android/src/native_map_view.cpp
  platform/android/src/style/sources/custom_geometry_source.cpp
  platform/android/src/style/sources/custom_geometry_source.hpp
  platform/android/src/style/sources/source.cpp
  platform/android/src/style/sources/source.hpp
Labels: Android

#12616 Use unconverted bearing value for latlngbounds calculation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/LatLngBoundsTest.java
Labels: Android

#12462 [docs] Changelog entries for symbol-placement: line-center
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  platform/node/CHANGELOG.md
Labels: documentation, iOS

#12619 [android] temporarily disable CustomGeometrySource tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CustomGeometrySourceTest.kt
Labels: Android, tests

#12599 Add info on using a keypath containing a dot to Predicates & Expressions guide
  platform/darwin/docs/guides/Predicates and Expressions.md
Labels: documentation, iOS, macOS

#12521 [core] Don't default-show text/icons that depend on the placement of a paired icon/text
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  platform/node/CHANGELOG.md
  src/mbgl/text/placement.cpp
Labels: Core, bug

#12622 release-espresso backport: Use unconverted bearing value for latlngbounds calculation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/LatLngBoundsTest.java
Labels: Android

#12605 Fix to textureview transparent background testapp activity
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_textureview_transparent.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/raw/no_bg_style.json
Labels: Android, bug

#12632 Update for 4.0.5
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#12628 Store release so files with debugging information
  circle.yml
Labels: Android, build

#12636 release-espresso backport: Store release so files with debugging information
  circle.yml
Labels: Android

#12638 Bumped Snapshot version building on master to 6.5.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#12639 Hide peer constructors
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/BackgroundLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CircleLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/CustomLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillExtrusionLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/FillLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HeatmapLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/HillshadeLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/LineLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/RasterLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/SymbolLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/Light.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/light.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/ImageSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterDemSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/Source.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/VectorSource.java
Labels: Android

#12634 [macos] Rename Guides to Appendices
  platform/macos/jazzy.yml
Labels: documentation, macOS

#12640 Canonicalize another exception name
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView+IBAdditions.mm
Labels: macOS, refactor

#12643 Changelog for v6.4.0
  platform/android/CHANGELOG.md
Labels: Android

#12642 [ios] Cherry-pick 12257 into release-boba
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: CocoaPods, iOS

#12646 [docs] Changelog entries for symbol-placement: line-center
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  platform/node/CHANGELOG.md
Labels: documentation, iOS

#12644 [macos] Rename Guides to Appendices
  platform/macos/jazzy.yml
Labels: macOS

#12641 Copyedit iOS, macOS changelogs
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation, iOS, macOS

#12645 [macos] Fix pod name within docs
  platform/macos/docs/pod-README.md
Labels: documentation, macOS

#12648 v4.3.0 consolidated cherry-picks (into release-espresso)
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Migrating to Expressions.md.ejs
  platform/ios/CHANGELOG.md
  platform/ios/docs/guides/Adding Markers to a Map.md
  platform/ios/docs/guides/For Style Authors.md
  platform/ios/docs/guides/Migrating to Expressions.md
  platform/ios/docs/guides/Runtime Styling.md
  platform/ios/docs/guides/Working with Mapbox Studio.md
  platform/ios/docs/img/adding-points-to-a-map/annotation-image.png
  platform/ios/docs/img/adding-points-to-a-map/annotation-view.png
  platform/ios/docs/img/adding-points-to-a-map/circle-layer.png
  platform/ios/docs/img/adding-points-to-a-map/symbol-layer.png
  platform/ios/docs/img/runtime-styling/CustomAnnotations.gif
  platform/ios/docs/img/runtime-styling/DynamicStyles.gif
  platform/ios/docs/img/runtime-styling/Emoji.gif
  platform/ios/docs/img/runtime-styling/HexBins.gif
  platform/ios/docs/img/runtime-styling/Population.gif
  platform/ios/docs/img/runtime-styling/SnowLevels.gif
  platform/ios/docs/img/studio-workflow/add-properties.gif
  platform/ios/docs/img/studio-workflow/create-polygons.gif
  platform/ios/docs/img/studio-workflow/property-values.png
  platform/ios/docs/img/studio-workflow/stop-functions.png
  platform/ios/jazzy.yml
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/Migrating to Expressions.md
  platform/macos/docs/pod-README.md
Labels: iOS, macOS

#12651 Update podspecs for 4.3.0 and 0.10.0 releases.
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
Labels: iOS, macOS

#12652 [ios, macos] Update podspecs for 4.3.0 and 0.10.0 releases. (CP #12651)
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
Labels: iOS, macOS

#12647 Changelog for v6.4.0 (CP #12643)
  platform/android/CHANGELOG.md
Labels: Android

#12649 Update changelog with fixed security vulnerability
  platform/android/CHANGELOG.md
Labels: Android

#12557 [ios] Add experimental frame rate measurements to MGLMapView
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapView_Experimental.h
Labels: feature, iOS, performance

#12414 [core] Evict unused font stacks from GlyphManager
  include/mbgl/util/font_stack.hpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/style/parser.cpp
  src/mbgl/text/glyph_manager.cpp
  src/mbgl/text/glyph_manager.hpp
  src/mbgl/util/font_stack.cpp
  test/fixtures/style_parser/text-font.info.json
Labels: Core

#12657 Obtain paths to file directories on a worker thread
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
Labels: Android

#12673 Downgrade event severity for erroneous DDS rendering to Warning
  src/mbgl/renderer/render_layer.cpp
Labels: Core

#12520 Re-implement "avoid edges" for MapMode::Tile
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/text/collision_index.cpp
  src/mbgl/text/collision_index.hpp
  src/mbgl/text/placement.cpp
Labels: Node.js

#12625 [ios, macos] Warn if MGLShapeSource is initialized with MGLShapeCollection
  platform/darwin/src/MGLComputedShapeSource.mm
  platform/darwin/src/MGLShapeCollection.mm
  platform/darwin/src/MGLShapeSource.mm
  platform/ios/CHANGELOG.md
Labels: iOS, macOS

#12352 Add enabled property to MGLShape
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/test/MGLMapViewDelegateIntegrationTests.swift
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.mm
  platform/macos/src/MGLMapViewDelegate.h
  platform/macos/test/MGLMapViewDelegateIntegrationTests.swift
Labels: annotations, iOS, in progress, macOS

#12615 line-progress expression + line-gradient example
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonOptions.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GradientLineActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_gradient_line.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/raw/test_line_gradient_feature.geojson
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
Labels: Android

#12654 [android] Make AndroidRendererFrontend to request render once per event loop (#12586)
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/RuntimeStyleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_runtime_style.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/actions.xml
  platform/android/src/android_renderer_frontend.cpp
  platform/android/src/android_renderer_frontend.hpp
Labels: Android

#12604 [ios, macos] Introduce `MGLShapeSourceOptionLineDistanceMetrics`
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLShapeSource.mm
  platform/darwin/test/MGLShapeSourceTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/For Style Authors.md
Labels: iOS, macOS, needs changelog, runtime styling

#12664 StyleJson configuration on MapboxMapOptions
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/textureview/TextureViewTransparentBackgroundActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_textureview_transparent.xml
Labels: Android

#12686 Update MapView OfflineRegionDefintion initialize
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#12676 Offline symbol render example
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/fonts/DIN Offc Pro Bold,Arial Unicode MS Bold/0-255.pbf
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/fonts/DIN Offc Pro Italic,Arial Unicode MS Regular/0-255.pbf
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/fonts/DIN Offc Pro Medium,Arial Unicode MS Regular/0-255.pbf
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/fonts/DIN Offc Pro Regular,Arial Unicode MS Regular/0-255.pbf
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/fonts/DIN Offc Pro Regular,Arial Unicode MS Regular/8192-8447.pbf
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/streets.json
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_symbollayer.xml
  platform/android/scripts/exclude-activity-gen.json
Labels: Android

#12696 Added zh-rCN strings.xml file for Simplified Chinese characters
  .tx/config
  platform/android/MapboxGLAndroidSDK/src/main/res/values-zh-rCN/strings.xml
Labels: Android, localization

#12688 [android] "collator" and "resolved-locale" expressions support
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
Labels: Android

#12707 Replace hardcode telemetry settings string by resources variant
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/attribution/AttributionParser.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/attribution/AttributionParseTest.java
Labels: Android, localization

#12689 [build] Run lower-value iOS CircleCI builds as nightlies
  circle.yml
Labels: build, iOS

#12714 Update changelog for release v6.5.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#12718 [ios] Bump podspecs; update changelogs for 4.4.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#12720 [ios] Update changelog for v4.4.0-alpha.1 release
  platform/ios/CHANGELOG.md
Labels: iOS

#12710 Add plain text file lists for iOS/macOS
  cmake/benchmark.cmake
  cmake/core.cmake
  cmake/filesource.cmake
  cmake/loop-darwin.cmake
  cmake/test.cmake
  package.json
  platform/android/config.cmake
  platform/darwin/filesource-files.txt
  platform/darwin/loop-files.txt
  platform/ios/DEVELOPING.md
  platform/ios/config.cmake
  platform/ios/core-files.txt
  platform/macos/DEVELOPING.md
  platform/macos/config.cmake
  platform/macos/core-files.txt
  platform/macos/macos.xcodeproj/project.pbxproj
  scripts/generate-cmake-files.js
Labels: Core, build, iOS, macOS

#12722 [ios] Install node modules in document.sh
  platform/ios/scripts/document.sh
Labels: documentation, iOS

#12509 Check if the custom geometry request has been canceled while converting features
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.java
  platform/android/src/style/sources/custom_geometry_source.cpp
  platform/android/src/style/sources/custom_geometry_source.hpp
Labels: Android, high priority

#12468 Introduce abstract components
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/LibraryLoader.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/ModuleProvider.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/ModuleProviderImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/TelemetryConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HTTPRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpIdentifier.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpLogger.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUrl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUtil.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpResponder.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/LocalRequestTask.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/NativeHttpRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/log/Logger.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/log/LoggerDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AnnotationManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Telemetry.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/TelemetryDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/egl/EGLConfigChooser.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/textureview/TextureViewRenderThread.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/HttpRequestImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/HttpRequestUtil.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/net/ConnectivityReceiver.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/PropertyValue.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/TimberLogger.java
  platform/android/core-files.txt
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/gradle-checkstyle.gradle
  platform/android/src/http_file_source.cpp
  platform/android/src/jni.cpp
  platform/android/src/logger.cpp
  platform/android/src/logger.hpp
  platform/android/src/logging_android.cpp
Labels: Android

#12713 Update broken test app examples
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DoubleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterReuseActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/fragment_double_map.xml
Labels: Android

#12734 Keep OfflineGeometryRegionDefinition fields and constructor
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineGeometryRegionDefinition.java
Labels: Android

#12753 Added pragma to remove iOS build warning
  src/mbgl/text/language_tag.cpp
Labels: build

#12750 [build] Add Slack notifications for important iOS builds
  circle.yml
  scripts/notify-slack.sh
Labels: build, iOS

#12760 Update changelog for v6.5.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#12770 [ios] Bump podspecs & update changelog for 4.4.0-alpha.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-symbols.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#12771 [build] Fix ios-release-tag slack notification
  circle.yml
Labels: bug, build, iOS

#12759 Fix typo in “Information for Style Authors” guide
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: documentation, iOS, macOS, runtime styling

#12719 Adding Traditional Chinese character strings.xml files for HK & Taiwan support
  .tx/config
  platform/android/MapboxGLAndroidSDK/src/main/res/values-es/strings.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values-vi/strings.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values-zh-rCN/strings.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values-zh-rHK/strings.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values-zh-rTW/strings.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/strings.xml
Labels: Android, localization
