Repository mapbox/mapbox-gl-native, pull requests merged in 2019-12, with the labels that each got.

#15996 [core] Introduce Pass<> class and use it for Scheduler
  include/mbgl/actor/scheduler.hpp
  next/CMakeLists.txt
  src/mbgl/actor/scheduler.cpp
  test/actor/actor.test.cpp
  test/util/async_task.test.cpp
Labels: Core, refactor

#16000 Remove OfflineRegion.java and android docs
  .github/ISSUE_TEMPLATE/android.md
  README.md
  platform/android/.gitignore
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegion.java
Labels: Android

#16005 [core] Move logic from Map::cycleDebugOptions to GLFW example app
  include/mbgl/map/map.hpp
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
  platform/glfw/glfw_view.cpp
  platform/glfw/glfw_view.hpp
  platform/qt/app/mapwindow.cpp
  platform/qt/include/qmapboxgl.hpp
  platform/qt/src/qmapboxgl.cpp
  src/mbgl/map/map.cpp
Labels: Core

#16011 Bulk conversion of geographic coordinates to screen coordinates
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
Labels: Android

#16037 [test runner] Report absolute path to the results html file
  render-test/render_test.cpp
Labels: tests

#14906 [core] Update GL JS for consistent uniform names
  scripts/generate-shaders.js
Labels: Core

#16031 [ios, macos]Remove iOS/macOS codes from native codes
  next/platform/macos/macos.cmake
  platform/darwin/include/mbgl/interface/native_apple_interface.h
  platform/darwin/src/MGLNetworkIntegrationManager.h
  platform/darwin/src/MGLNetworkIntegrationManager.m
  platform/darwin/src/http_file_source.mm
  platform/darwin/src/native_apple_interface.m
  platform/ios/core-files.json
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/src/MGLMapView.mm
  platform/macos/core-files.json
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
  platform/macos/src/MGLMapView.mm
Labels: iOS, macOS, refactor

#16073 [core] Offline download must clear batch buffer at load interrupt
  platform/default/src/mbgl/storage/offline_download.cpp
  test/storage/offline_download.test.cpp
Labels: bug, offline

#16080 [core] Handle zero text size
  src/mbgl/layout/symbol_layout.cpp
Labels: Core, bug, crash

#16081 Cherrypick 16080
  src/mbgl/layout/symbol_layout.cpp
Labels: :cherries: cherry pick, Android
