Repository mapbox/mapbox-gl-native, pull requests merged in 2019-10, with the labels that each got.

#15672 Changelog for v8.3.2
  platform/android/CHANGELOG.md
Labels: Android

#15738 [core] fix opacity interpolation for composition expressions
  platform/node/test/ignores.json
  src/mbgl/renderer/paint_property_binder.hpp
Labels: Core

#15745 [ios] Podspec & changelog updates for v5.5.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15742 Remove projected meters per pixel and pixel ratio relation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
Labels: Android

#15749 [ios] Disable iOS code coverage script
  circle.yml
Labels: iOS

#15761 [core] Decouple Scheduler interface from actor model
  include/mbgl/actor/mailbox.hpp
  include/mbgl/actor/scheduler.hpp
  include/mbgl/util/run_loop.hpp
  platform/android/src/map_renderer.cpp
  platform/android/src/map_renderer.hpp
  platform/android/src/map_renderer_runnable.cpp
  platform/android/src/map_renderer_runnable.hpp
  platform/qt/src/qmapboxgl_scheduler.cpp
  platform/qt/src/qmapboxgl_scheduler.hpp
  src/mbgl/actor/mailbox.cpp
  src/mbgl/util/thread_pool.cpp
  src/mbgl/util/thread_pool.hpp
  test/actor/actor.test.cpp
Labels: Core, refactor

#15703 [ios] Fix layout of Scale bar components
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLScaleBar.mm
  platform/ios/test/MGLMapViewLayoutTests.m
  platform/ios/test/MGLMapViewScaleBarTests.m
Labels: iOS

#15762 Keep Mapbox.java when obfuscating code
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
Labels: Android

#15746 [ios] Adds pointForCoordinate/coordinateForPoint to MGLMapSnapshotOverlay
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/darwin/src/MGLMapSnapshotter_Private.h
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
Labels: iOS

#15584 [ios] Fixes an issue that caused the ornaments ignore contentInset property.
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewContentInsetTests.m
  platform/ios/test/MGLMapViewGestureRecognizerTests.mm
  platform/ios/test/MGLMapViewPitchTests.m
  platform/ios/test/MGLMockGestureRecognizers.h
  platform/ios/test/MGLMockGestureRecognizers.m
Labels: bug, iOS

#15764 [ios, macos] Changed exception to assert and nil return
  platform/darwin/src/MGLImageSource.mm
  platform/darwin/src/MGLRasterTileSource.mm
  platform/darwin/src/MGLVectorTileSource.mm
Labels: iOS

#15765 [core] Introduce SequencedScheduler and ParallelScheduler
  src/mbgl/actor/scheduler.cpp
  src/mbgl/util/thread_pool.cpp
  src/mbgl/util/thread_pool.hpp
Labels: Core, refactor

#15769 [android] Expose pre-fetching zoom delta.
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
Labels: Android, needs changelog

#15779 [ios] Skip Record Size/metrics.sh step in release workflows
  circle.yml
Labels: build, iOS

#15786 [ios] Podspec & changelog updates for v5.5.0-alpha.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15784 [core] Introduce Scheduler::makeWeakPtr()
  include/mbgl/actor/scheduler.hpp
  include/mbgl/util/run_loop.hpp
  platform/android/src/map_renderer.hpp
  platform/qt/src/qmapboxgl_scheduler.hpp
  src/mbgl/util/thread_pool.hpp
  test/actor/actor.test.cpp
Labels: Core

#15788 Manually write and read camera's padding array to parcel
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraPosition.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/camera/CameraPositionTest.java
Labels: Android

#15790 update changelog for 8.5.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#15796 [ios, android] Update curl command to indicate there is no password
  circle.yml
Labels: Android, build, iOS

#15771 [ios] Fix for iOS 9 crash (seen in simulator)
  platform/darwin/src/MGLSDKMetricsManager.m
  platform/ios/CHANGELOG.md
Labels: bug, iOS

#15515 Add iOS bindings for cluster properties
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLShapeSource.mm
  platform/darwin/src/MGLStyleValue.mm
  platform/darwin/src/MGLStyleValue_Private.h
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLExpressionTests.mm
  platform/darwin/test/MGLShapeSourceTests.mm
  platform/ios/CHANGELOG.md
  src/mbgl/style/sources/geojson_source_impl.cpp
Labels: clustering, iOS, needs changelog

#15814 Remove snapshot and release builds, disable broken metric script
  circle.yml
Labels: Android

#15821 [build] Update to Xcode 11.1
  circle.yml
Labels: build, iOS, macOS

#15817 [build] Make output of the tests verbose
  circle.yml
Labels: needs review

#15833 [ios] Add ARC config to the new build system.
  next/platform/ios/ios.cmake
Labels: build, iOS

#15835 [build] Only add mapbox-base if target is not set
  next/CMakeLists.txt
Labels: bug, build

#15842 [ios] Set xcode properties for cmake.
  next/CMakeLists.txt
  next/platform/ios/ios.cmake
Labels: build, iOS

#15854 [core] avoid edges for labels that use text-variable-anchors
  src/mbgl/text/placement.cpp
Labels: Core

#15862 Use individual textures for line dash patterns
  src/mbgl/geometry/line_atlas.cpp
  src/mbgl/geometry/line_atlas.hpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/render_orchestrator.cpp
  test/geometry/line_atlas.test.cpp
Labels: Core, bug, rendering
