Repository mapbox/mapbox-gl-native, pull requests merged in 2019-07, with the labels that each got.

#14913 [build] clean up cloudformation template and policies
  ci.template
  cloudformation/ci.template.js
Labels: build

#15017 [core] Minor change to silence documentation warning on iOS.
  include/mbgl/storage/resource_options.hpp
Labels: Core

#14962 Cache management API
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegion.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/CacheTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineManagerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/DeleteRegionActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/storage/CacheManagementActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_cache_management.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
  platform/android/scripts/exclude-activity-gen.json
  platform/android/src/offline/offline_manager.cpp
  platform/android/src/offline/offline_manager.hpp
  platform/android/src/offline/offline_region.cpp
  platform/android/src/offline/offline_region.hpp
Labels: Android

#14769 [ios] Add removeStyleImage to MGLMapView
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView+Impl.h
  platform/ios/src/MGLMapView+Impl.mm
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/src/MGLMapView_Private.h
  platform/ios/test/MGLMapViewDelegateIntegrationTests.swift
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView+Impl.h
  platform/macos/src/MGLMapView+Impl.mm
  platform/macos/src/MGLMapView.mm
  platform/macos/src/MGLMapViewDelegate.h
  platform/macos/src/MGLMapView_Private.h
  platform/macos/test/MGLMapViewDelegateIntegrationTests.swift
Labels: iOS, macOS

#15051 Changelog for 8.2.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#15057 [node] Parse 'sdf' option when adding an image
  platform/node/CHANGELOG.md
  platform/node/src/node_map.cpp
Labels: Node.js

#15052 Add ktlint, optimise code for validation
  Makefile
  platform/android/.editorconfig
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinatorTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/log/LoggerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
  platform/android/MapboxGLAndroidSDKLint/src/main/java/com/mapbox/mapboxsdk/lint/KeepDetector.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/AppCenter.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/InstrumentationRunner.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactoryTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/BaseIntegrationTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/FragmentBackStackTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/GLSurfaceViewReopenTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/GLSurfaceViewReuseTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/OrientationChangeTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/QueryRenderedFeaturesBoxCountTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/TextureViewReopenTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/TextureViewReuseTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/ViewPagerScrollTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/LocationComponentAction.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/MapboxLocationTestingUtils.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/StyleChangeIdlingResource.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/BaseLayerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/TransformTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/VisibleRegionTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/fragment/MapDialogFragmentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/ImageMissingTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/RemoveUnusedImagesTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/StyleLoadTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/CacheTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceMapTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/espresso/PixelTestActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/NestedViewPagerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationFragmentActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/GLSurfaceRecyclerViewActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/OverlayMapActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/TextureRecyclerViewActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/ChangeResourcesCachePathActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/DownloadRegionActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/MergeOfflineRegionsActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/storage/CacheManagementActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DraggableMarkerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/FileUtils.kt
  platform/android/build.gradle
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/download-schema.gradle
  platform/android/gradle/ktlint.gradle
Labels: Android

#15058 MapSnapshotter and offline download test
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/offline/OfflineDownloadTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotterTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterMarkerActivity.java
Labels: Android

#15069 introduce MapboxMapOptions ease of use createFromAttributes
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/MapFragmentUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/NestedViewPagerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/ViewPagerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/BottomSheetActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
Labels: Android

#15053 [ios] Prepare ios-v5.2.0-alpha.2 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15028 [ios, build] Add tests for MGLMapView pitch setting and tilt gesture
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLMapViewPitchTests.m
Labels: UX, iOS, tests

#15074 [core] Share render tiles lists between layers
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/paint_parameters.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/render_source.hpp
  src/mbgl/renderer/sources/render_image_source.hpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/renderer/sources/render_tile_source.hpp
Labels: Core, performance, refactor

#15073 Decrease the minimum pixel distance required to interpolate during camera animation
  src/mbgl/map/transform.cpp
Labels: Core

#15078 [build] Opt out of homebrew cleanup on CI
  circle.yml
Labels: build, iOS, macOS

#14862 [ios, macos] Default to local rendering of CJK characters, using system font
  platform/darwin/src/MGLRendererConfiguration.h
  platform/darwin/src/MGLRendererConfiguration.mm
  platform/darwin/test/MGLRendererConfigurationTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/app/Info.plist
  platform/ios/docs/guides/Info.plist Keys.md
  platform/macos/CHANGELOG.md
  platform/macos/app/Info.plist
  platform/macos/docs/guides/Info.plist Keys.md
Labels: iOS, localization, macOS, text rendering

#15087 Update okhttp to latest stable version that support pre lollipop
  platform/android/gradle/dependencies.gradle
Labels: Android

#15094 [ios] Prepare ios-v5.2.0-alpha.3 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#15100 Remove access token's nullability annotations to not impact Kotlin interop
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
Labels: Android

#15099 Ensure location shadow's gradient radius is greater than 0
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/Utils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/drawable/mapbox_user_icon_shadow_0px_test.xml
Labels: Android

#15102 Fix up "match" expressions docs with stop arguments
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
Labels: Android

#15103 Ensure that move detector is enabled if double-tap is interrupted
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapGestureDetectorTest.kt
Labels: Android

#15104 Changelog for 8.2.0-alpha.3
  platform/android/CHANGELOG.md
Labels: Android

#15055 Add MGLCompassButton and MGLOrnamentVisibility
  platform/darwin/src/MGLTypes.h
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/jazzy.yml
  platform/ios/sdk-files.json
  platform/ios/src/MGLCompassButton.h
  platform/ios/src/MGLCompassButton.mm
  platform/ios/src/MGLCompassButton_Private.h
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapView_Private.h
  platform/ios/src/Mapbox.h
  platform/ios/src/UIImage+MGLAdditions.h
  platform/ios/src/UIImage+MGLAdditions.mm
  platform/ios/test/MGLCompassButtonTests.m
  platform/ios/test/MGLMapViewDirectionTests.mm
Labels: MapKit parity, UX, feature, iOS

#15064 [node] prepare node-v4.2.0 release
  package.json
  platform/node/CHANGELOG.md
Labels: Node.js

#15113 [ios] Adds thread safe access to MGLNetworkConfiguration events dictionary
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLNetworkConfigurationTests.m
Labels: iOS

#14952 [ios , macos] Exclude CJK resources from offline download by default
  platform/darwin/src/MGLOfflineRegion.h
  platform/darwin/src/MGLShapeOfflineRegion.mm
  platform/darwin/src/MGLTilePyramidOfflineRegion.mm
  platform/darwin/test/MGLOfflineRegionTests.m
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXOfflinePacksTableViewController.m
  platform/macos/CHANGELOG.md
  platform/macos/app/MapDocument.m
Labels: iOS, macOS, offline, text rendering

#15121 Create map snapshot inside testcase
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotterTest.kt
Labels: Android

#14978 [ios] Cache Management API
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/src/MGLTypes.h
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/ios/app/MBXOfflinePacksTableViewController.m
  platform/ios/app/Main.storyboard
Labels: iOS, offline

#15116 [ios, macos] Change "map ID" to "tileset ID"
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLOfflineRegion.h
  platform/darwin/src/MGLRasterTileSource.h
  platform/darwin/src/MGLShapeOfflineRegion.h
  platform/darwin/src/MGLTilePyramidOfflineRegion.h
  platform/darwin/src/MGLVectorTileSource.h
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/MGLStyleLayerIntegrationTests.m
  platform/ios/src/MGLMapView.h
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView+IBAdditions.h
  platform/macos/src/MGLMapView.h
Labels: documentation, iOS, macOS

#15137 Update Bintray's package name
  platform/android/gradle/artifact-settings.gradle
  platform/android/gradle/gradle-bintray.gradle
Labels: Android

#15131 [ios] Add changelog entry for Cache Management API
  platform/darwin/src/MGLOfflineStorage.h
  platform/ios/CHANGELOG.md
Labels: iOS

#15130 [core] Fix collision with content insets
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  src/mbgl/map/transform_state.cpp
  src/mbgl/map/transform_state.hpp
  src/mbgl/text/collision_index.cpp
Labels: Android, Core, beta blocker, iOS, needs backport, needs changelog, regression

#15146 [ios] Prepare ios-v5.2.0-beta.1 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#15141 Fail MapSnapshotter test in case of an error returned from core
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotterTest.kt
Labels: Android, tests

#15142 Changelog for 8.2.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#15147 Ignore a flaky MapSnapshotter test until #11669 is resolved
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotterTest.kt
Labels: Android, tests

#15149 Backport #15142 to picklejuice
  platform/android/CHANGELOG.md
Labels: Android

#15151 Backport #15147 to picklejuice
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotterTest.kt
Labels: Android

#15164 [docs] Remove references to increasing offline tile limit
  include/mbgl/storage/offline.hpp
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegion.java
  platform/darwin/src/MGLOfflineStorage.h
Labels: Android, documentation, iOS, macOS

#15171 Update CI image of the release job
  circle.yml
Labels: Android

#15170 Update snapshot version for the q release
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#15153 [core][cp] Backport #15092 to oolong
  include/mbgl/style/layer_properties.hpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/renderer_impl.cpp
Labels: needs changelog

#15154 [core][cp] Backport #15092 to nectar
  include/mbgl/style/layer_properties.hpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/renderer_impl.cpp
Labels: needs changelog

#15135 Update dependencies, cleanup ktlint checks
  platform/android/.editorconfig
  platform/android/LICENSE.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactory.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/LocationComponentAction.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/OnMapFragmentReadyIdlingResource.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/GesturesUiTestUtils.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/VisibleRegionTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/offline/OfflineDownloadTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotterTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/ImageMissingTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/RemoveUnusedImagesTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/CacheTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineManagerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceMapTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceStandaloneTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceTestUtils.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ImageTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/FragmentBackStackActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationFragmentActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/ChangeResourcesCachePathActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/DownloadRegionActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/MergeOfflineRegionsActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/storage/CacheManagementActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DraggableMarkerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/turf/PhysicalUnitCircleActivity.kt
  platform/android/build.gradle
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/gradle-javadoc.gradle
  platform/android/gradle/jacoco-report.gradle
  platform/android/gradle/wrapper/gradle-wrapper.properties
Labels: Android

#15172 Fix wrong #15065 nit fix
  src/mbgl/renderer/render_orchestrator.cpp
Labels: beta blocker

#15181 8.2.0 QA fixes for the test app
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/streets.json
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/PressForMarkerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/FragmentBackStackActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DraggableMarkerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/textureview/TextureViewDebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/raw/local_style.json
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/raw/sat_style.json
Labels: Android

#15191 Remove layers first when clearing the style
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
Labels: Android

#15174 [core][cp] Cherry-pick #15172 to release-picklejuice
  src/mbgl/renderer/render_orchestrator.cpp
Labels: :cherries: cherry pick, Core

#15192 Backport #15191 to picklejuice
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
Labels: :cherries: cherry pick, Android

#15194 [core] Introduce VertexVector::extend() and use it in placement code.
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/text/placement.cpp
Labels: Core, refactor

#15204 Changelog for 8.2.0
  platform/android/CHANGELOG.md
Labels: Android

#15205 Backport #15204 to picklejuice
  platform/android/CHANGELOG.md
Labels: :cherries: cherry pick, Android

#15202 [ios] Cherry picks #15113 - Adds thread safe access to MGLNetworkConfiguration events
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLNetworkConfigurationTests.m
Labels: :cherries: cherry pick, iOS

#15210 [ios] Prepare ios-v5.2.0 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15213 [ios, build] Trigger external deploy jobs before long-running build tasks
  circle.yml
Labels: build, iOS

#15120 [ios, macos]MGLLoggingConfiguration can filter logs from core
  platform/darwin/filesource-files.json
  platform/darwin/src/MGLLoggingConfiguration.h
  platform/darwin/src/MGLLoggingConfiguration.mm
  platform/darwin/src/MGLLoggingConfiguration_Private.h
  platform/darwin/src/logging_nslog.mm
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
Labels: Core, iOS, macOS

#15209 [core] Optimize Query Rendered Features API
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/tile_pyramid.cpp
Labels: Core, performance

#15218 Align gesture animation reason
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#15217 [core] Avoid feature properties copying
  src/mbgl/layout/symbol_feature.hpp
  src/mbgl/style/expression/compound_expression.cpp
  src/mbgl/style/expression/expression.cpp
  src/mbgl/tile/geojson_tile_data.hpp
  src/mbgl/tile/geometry_tile_data.cpp
  src/mbgl/tile/geometry_tile_data.hpp
  src/mbgl/tile/vector_tile_data.cpp
  src/mbgl/tile/vector_tile_data.hpp
  test/tile/vector_tile.test.cpp
Labels: Core, performance

#15226 [ios] Release oolong v5.1.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15224 Update changelog for release v8.1.1
  platform/android/CHANGELOG.md
Labels: Android

#15212 [ios, build] Stop copying iosapp token script into framework
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: bug, build, iOS

#15234 [ios] Fix changelog entries from ios-v5.1.1 (oolong)
  platform/ios/CHANGELOG.md
Labels: iOS

#15240 [core] Shrink filteredLayersForSource inside reduceMemoryUse()
  src/mbgl/renderer/render_orchestrator.cpp
Labels: Core, performance, refactor

#15248 [build] Don't allow codecov to fail a CI job
  circle.yml
Labels: build

#15244 Harden MapGestureDetector tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapGestureDetectorTest.kt
Labels: Android

#15251 [build] Do not include mapbox-base if target already exists
  cmake/vendor.cmake
Labels: build

#15253 Ensure default local ideographs font family is not overwrote
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsTest.java
Labels: Android

#15254 [android] update Bintray's package name
  platform/android/gradle/artifact-settings.gradle
  platform/android/gradle/gradle-bintray.gradle
Labels: Android

#15259 [ios] Updates changelog to reference 4.11.2, 5.0.2, 5.1.2
  platform/ios/CHANGELOG.md
Labels: iOS

#14269 Do not include CJK ideographs in the offline packs by default
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineGeometryRegionDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineTilePyramidRegionDefinition.java
Labels: Android, needs changelog

#15265 Save location animation timestamp only when fed
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
Labels: Android, needs changelog

#15266 Do not reinitialize camera/render mode if it hasn't changed
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationCameraControllerTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.java
Labels: Android

#15271 Update changelog for the v8.3.0-alpha.1 release
  platform/android/CHANGELOG.md
Labels: Android

#15272 Update changelog for release v8.2.1
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15273 [android] Update changelog for v8.0.2 patch release
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15249 [ios, build] Update to Xcode 10.3 on CircleCI
  circle.yml
Labels: build, iOS, macOS

#15275 [android] Cherry-pick changes for release-picklejuice v8.2.1 patch release
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
Labels: Android, needs review

#15274 [android] Update changelog for v7.4.1 patch release
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15277 [android] Additional changelog item to v7.4.1 mojito patch release section
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15279 [ios] Release 5.3.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS
