Repository mapbox/mapbox-gl-native, pull requests merged in 2019-08, with the labels that each got.

#15288 Remove unnecessary android:appComponentFactory reference
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
Labels: Android

#15295 [android] update Bintray's package name
  platform/android/gradle/artifact-settings.gradle
  platform/android/gradle/gradle-bintray.gradle
Labels: :cherries: cherry pick, Android

#15296 [android] update Bintray's package name
  platform/android/gradle/artifact-settings.gradle
  platform/android/gradle/gradle-bintray.gradle
Labels: :cherries: cherry pick, Android

#15293 Load a style without an URI or JSON
  platform/android/.gitignore
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/NoStyleActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
Labels: Android

#15286 [android] Adding latitude value check for test app CameraPositionActivity
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraPositionActivity.java
Labels: Android, bug

#15285 [ios, build] Make CocoaPods CI deployment synchronous
  circle.yml
Labels: build, iOS

#15089 [core] A more accurate algorithm for approximating round line joins
  src/mbgl/renderer/buckets/line_bucket.cpp
Labels: Core, GL JS parity, performance, rendering

#15313 macOS/iOS: Fix rare crash when downloading tiles that returned a 404
  platform/darwin/src/http_file_source.mm
Labels: bug, crash, iOS, macOS

#15290 [core] Enable opaque pass for background layer. fix heatmap+backgroud test
  platform/node/test/ignores.json
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
Labels: Core, GL JS parity

#15304 [ios] Document how scale bar visibility is determined
  platform/ios/src/MGLMapView.h
Labels: documentation, iOS

#15314 Enable render tests marked as flaky because of node-gcc8
  platform/node/test/ignores.json
Labels: tests

#15328 Mark render tests flaky on Linux only
  render-test/linux-ignores.json
Labels: tests

#15319 [core] Disable flaky OfflineDatabase.MaximumAmbientCacheSize test
  test/storage/offline_database.test.cpp
Labels: Core, offline, tests

#15330 [android] Do not try to wake up the RunLoop if a wake is already pending
  platform/android/src/run_loop.cpp
  platform/android/src/run_loop_impl.hpp
Labels: needs changelog

#15334 [android] Updated changelog for 8.3.0-alpha.2 release
  platform/android/CHANGELOG.md
Labels: Android

#15336 [ios] Release v5.3.0 alpha.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15305 [build] Skip CI jobs if there are no relevant changed files
  circle.yml
  package.json
  scripts/check-ci-job-skippability.js
Labels: build

#15255 Add fallback support to local ideograph font families
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/FontUtils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/utils/FontUtilsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterActivity.java
Labels: Android

#15335 [android] Added #15330 to the 8.3.0-alpha.2 changelog
  platform/android/CHANGELOG.md
Labels: Android

#15362 [ios] Bump to libmbxaccounts 1.0.1
  platform/ios/vendor/mapbox-accounts-ios/libmbxaccounts.a
Labels: iOS

#15360 [android] Test app tweaks from 8.3.0-alpha.2 QA
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_backstack_fragment.xml
Labels: Android

#15359 [build] Look further back for branch merge base
  scripts/environment.js
Labels: build

#15379 [ios] Release v5.3.0-alpha.3
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15386 Execute quickzoom scale change based on the Y axis delta change
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/MathUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapGestureDetectorTest.kt
Labels: Android

#15387 Changelog for 8.3.0-alpha.3
  platform/android/CHANGELOG.md
Labels: Android

#15392 Do not skip tag-initiated builds
  circle.yml
Labels: build

#15401 Move #15398 out of `v8.3.0-alpha.3` changelog
  platform/android/CHANGELOG.md
Labels: Android

#15396 Check if the CustomGeometrySource's java peer is valid when the thread is shutting down
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CustomGeometrySourceTest.kt
  platform/android/src/style/sources/custom_geometry_source.cpp
Labels: Android

#15355 Synchronize TextureView EGL context creation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/textureview/TextureViewRenderThread.java
Labels: Android

#15402 [ios, docs] Update CocoaPods installation instructions
  platform/ios/INSTALL.md
Labels: documentation, iOS

#15397 Remove version info in ImageManager when removing an image
  src/mbgl/renderer/image_manager.cpp
  test/renderer/image_manager.test.cpp
Labels: Core, bug, performance

#15410 Font fallback
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/FontUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/utils/FontUtilsTest.java
Labels: Android

#15418 Update javadoc on style image missing
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#15123 [ios] Added annotation selection tests with rotation & scaling of the map
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.mm
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView_Private.h
Labels: iOS, tests

#15381 [ios] Fix bug where scale bar shows 0 mm instead of 0
  platform/ios/src/MGLScaleBar.mm
Labels: iOS

#15380 [ios] Updates for offline pricing
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/http_file_source.mm
  platform/darwin/test/MGLResourceTests.mm
  platform/ios/CHANGELOG.md
Labels: iOS, offline

#14929 [ios] Add threshold for triggering the rotate gesture recognizer
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewDirectionTests.mm
  platform/ios/test/MGLMapViewZoomTests.mm
  platform/ios/test/MGLMockGestureRecognizers.h
  platform/ios/test/MGLMockGestureRecognizers.m
Labels: UX, beta blocker, iOS

#15432 [ios] Update MGLTileSetTests.testTileSetFromTileURLTemplates for Xcode 11
  platform/darwin/test/MGLTileSetTests.mm
Labels: bug, iOS, tests

#15439 [render test] mapbox-gl-native baseline for text-pitch-alignment tests
  platform/node/test/ignores.json
  render-test/expected/text-pitch-alignment/auto-text-rotation-alignment-map/expected.png
  render-test/expected/text-pitch-alignment/map-text-rotation-alignment-map/expected.png
  render-test/expected/text-pitch-alignment/viewport-text-rotation-alignment-map/expected.png
Labels: tests

#15437 Revert "[android] invalidate camera when setting a padding"
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxMapInstrumentationTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/VisibleRegionTest.kt
  platform/android/src/native_map_view.cpp
Labels: Android

#15363 [android] Updating HttpRequestUrl to separate offline requests from Maps SKU
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUrl.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/http/HttpRequestUrlTest.kt
Labels: Android, beta blocker, needs changelog

#15433 [ios] Fix integration tests failing on iOS 9
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.mm
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
Labels: iOS, tests

#15446 Release iOS v5.3.0-beta.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15447 CP Release iOS v5.3.0-beta.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15448 [ios] Fix changelog for v5.3.0-beta.1
  platform/ios/CHANGELOG.md
Labels: iOS

#15438 [core] Fix GeoJSON tiles update
  src/mbgl/renderer/sources/render_geojson_source.cpp
  src/mbgl/tile/geojson_tile.cpp
  src/mbgl/tile/geojson_tile.hpp
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/geometry_tile.hpp
  src/mbgl/tile/geometry_tile_worker.cpp
  src/mbgl/tile/geometry_tile_worker.hpp
Labels: Core, bug

#15445 Update snapshot version number to 8.4.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#15459 Changelog for v8.3.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#15457 [core] Fill layer pattern change must cause re-layout
  src/mbgl/style/layers/fill_layer_impl.cpp
Labels: Core, bug

#15458 Changelog for v8.3.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#15425 [android] bindings for aggregated cluster properties
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonOptions.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GeoJsonClusteringActivity.java
  platform/android/src/java_types.cpp
  platform/android/src/java_types.hpp
  platform/android/src/style/android_conversion.hpp
  platform/android/src/style/value.cpp
  platform/android/src/style/value.hpp
Labels: Android

#15451 [ios, macos] Clarify best practices when using -[setCenter:animated:]
  platform/ios/src/MGLMapView.h
Labels: documentation

#15440 [core] Export symbol placement update status from MapObserver
  include/mbgl/map/map_observer.hpp
  include/mbgl/renderer/renderer_observer.hpp
  platform/android/src/android_renderer_frontend.cpp
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
  platform/ios/src/MGLMapView+Impl.h
  platform/ios/src/MGLMapView+Impl.mm
  platform/macos/src/MGLMapView+Impl.h
  platform/macos/src/MGLMapView+Impl.mm
  platform/qt/src/qmapboxgl_map_observer.cpp
  platform/qt/src/qmapboxgl_map_observer.hpp
  platform/qt/src/qmapboxgl_renderer_observer.hpp
  src/mbgl/map/map_impl.cpp
  src/mbgl/map/map_impl.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_tree.hpp
  src/mbgl/renderer/renderer_impl.cpp
  test/src/mbgl/test/stub_map_observer.hpp
Labels: Core

#15461 [core] Fix tileCover / TileCoordinate fromScreenCoordinate(#15442)
  src/mbgl/map/transform_state.cpp
  src/mbgl/map/transform_state.hpp
  src/mbgl/util/tile_coordinate.hpp
  src/mbgl/util/tile_cover.cpp
  src/mbgl/util/tile_cover.hpp
  test/util/tile_cover.test.cpp
Labels: Core, bug

#15453 [ios] Fix a few minor warnings in iosapp
  platform/ios/app/MBXState.m
  platform/ios/app/Main.storyboard
Labels: bug, iOS

#15469 Changelog for v8.2.2
  platform/android/CHANGELOG.md
Labels: Android

#15349 [ios] Improve tilt gesture recognizer detection.
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewPitchTests.m
Labels: iOS

#15122 [ios] Added "pending" completion blocks
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/MGLMapViewPendingBlockTests.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
Labels: annotations, iOS, tests

#15481 [render tests] gl-native baseline for debug/collision- tests
  platform/node/test/ignores.json
  render-test/expected/debug/collision-lines-overscaled/expected.png
  render-test/expected/debug/collision-lines-pitched/expected.png
  render-test/expected/debug/collision-lines/expected.png
  render-test/expected/debug/collision-pitched-wrapped/expected.png
  render-test/expected/symbol-visibility/visible/expected.png
Labels: tests

#15484 Initialize CameraPositionActivity listeners after the style is loaded
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraPositionActivity.java
Labels: Android

#15456 [core] fix mixed sdf + non-sdf icon rendering in one layer
  src/mbgl/layout/symbol_instance.cpp
  src/mbgl/layout/symbol_instance.hpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/layout/symbol_layout.hpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/text/placement.cpp
  test/gl/bucket.test.cpp
  test/text/cross_tile_symbol_index.test.cpp
Labels: needs cherrypick, release blocker

#15493 [android] reorder android-check make command
  Makefile
Labels: Android

#15495 Ignore project wide gradle.properties file
  platform/android/.gitignore
Labels: Android

#15494 Cherry-pick #15456 [core] fix mixed sdf + non-sdf icon rendering in one layer
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  platform/node/CHANGELOG.md
  src/mbgl/layout/symbol_instance.cpp
  src/mbgl/layout/symbol_instance.hpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/layout/symbol_layout.hpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/text/placement.cpp
  test/gl/bucket.test.cpp
  test/text/cross_tile_symbol_index.test.cpp
Labels: :cherries: cherry pick

#15488 Add font array attribute configuration
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsAttrsTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_camera_position.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_gesture_detector.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/arrays.xml
Labels: Android, needs backport, release blocker

#15500 Cancel CameraAnimatorActivity joint example when the map is destroyed
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimatorActivity.java
Labels: Android

#15505 Add font array attribute configuration for local ideograph font
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapOptionsAttrsTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_camera_position.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_gesture_detector.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/arrays.xml
Labels: :cherries: cherry pick, Android

#15507 Invalidate foreground icon sources even when location layer is hidden
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.java
Labels: Android

#15508 Invalidate foreground icon sources even when location layer is hidden
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.java
Labels: :cherries: cherry pick, Android

#15516 [ios] Prepare v5.3.0 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15517 [ios] Prepare v5.3.0 release (#15516)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15513 Do not clear native layers and sources when style is reloading
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
Labels: Android, needs changelog

#15519 [android] Javadoc changes to clarify OfflineManager methods
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
Labels: Android, needs review

#15467 [core] fix collisionBox alignment when Icon/text translation is enabled
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  platform/node/CHANGELOG.md
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/text/placement.cpp
  test/gl/bucket.test.cpp
Labels: needs changelog

#15524 [ios] Allow MGLScaleBar to support dark mode on iOS 13
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLScaleBar.mm
Labels: bug
