Repository mapbox/mapbox-gl-native, pull requests merged in 2019-11, with the labels that each got.

#15898 [core] Use expected.hpp from mapbox-base
  cmake/core.cmake
  cmake/filesource.cmake
  cmake/render-test.cmake
  cmake/vendor.cmake
  include/mbgl/storage/offline.hpp
  include/mbgl/util/expected.hpp
  misc/buck/mapbox-gl-native/BUCK
  next/CMakeLists.txt
  platform/default/src/mbgl/storage/offline.cpp
  scripts/generate-file-lists.js
  scripts/standalone.sh
  vendor/expected-files.json
  vendor/expected.cmake
  vendor/expected/LICENSE.txt
  vendor/expected/files.txt
  vendor/expected/include/expected.hpp
  vendor/expected/version.txt
  vendor/mapbox-base-files.json
Labels: Core, refactor

#15906 [core] Improve OfflineDatabase error handling
  platform/default/include/mbgl/storage/offline_database.hpp
  platform/default/src/mbgl/storage/offline_database.cpp
Labels: Core, bug, refactor

#15946 [core] Remove default move operator for RenderTile
  src/mbgl/renderer/render_tile.hpp
Labels: Core, build

#15948 [ios] Refactors host checks
  platform/darwin/src/http_file_source.mm
Labels: iOS

#15947 [core] fix rendering of dashed lines with round caps
  src/mbgl/geometry/line_atlas.cpp
Labels: Core, bug, needs changelog, regression

#15980 Do not fail on tautological-constant-compare error
  next/CMakeLists.txt
Labels: Android

#15958 [android] README update about work being moved to new repo
  platform/android/README.md
  platform/ios/README.md
Labels: Android, documentation, needs review, product

#15985 [core] Introduce Scheduler::GetSequenced() API
  include/mbgl/actor/scheduler.hpp
  src/mbgl/actor/scheduler.cpp
  test/util/async_task.test.cpp
Labels: Core

#15991 [glfw] Fix map not resizing on Linux
  platform/glfw/glfw_gl_backend.cpp
Labels: bug

#15992 [core] Retain thread pool in GeoJSONSource
  include/mbgl/style/sources/geojson_source.hpp
  src/mbgl/style/sources/geojson_source.cpp
Labels: Core, bug, needs backport
