Repository mapbox/mapbox-gl-native, pull requests merged in 2019-01, with the labels that each got.

#13638 Save debug cache state vs map state
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
Labels: Android

#13661 Happy new year!
  LICENSE.md
  platform/android/gradle/gradle-javadoc.gradle
  platform/ios/app/Info.plist
  platform/ios/benchmark/Info.plist
  platform/ios/jazzy.yml
  platform/macos/jazzy.yml
  test/src/app-info.plist
Labels: Android, Core, iOS, macOS

#13662 Cancel camera transitions only when set CameraMode is not None
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationCameraControllerTest.java
Labels: Android

#13666 [ios, macos] Added missing mapViewDidBecomeIdle for iOS. Fixed typo.
  platform/ios/src/MGLMapView.mm
  platform/macos/src/MGLMapView.mm
Labels: iOS, macOS

#11984 [core] fix deduping rings in querying, #11357
  src/mbgl/geometry/feature_index.cpp
Labels: Core

#13680 Fix random bounds generation in test app bounds activity
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterReuseActivity.java
Labels: Android

#13670 Fix location interval workaround initialization
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
Labels: Android

#13651 Update script detection for Unicode 11
  src/mbgl/util/i18n.cpp
Labels: Core, text rendering

#13547 [ios] Cherry-pick #13427 - Expose "local ideograph font family" in map snapshotters
  package.json
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterActivity.java
  platform/android/src/snapshotter/map_snapshotter.cpp
  platform/android/src/snapshotter/map_snapshotter.hpp
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/default/mbgl/map/map_snapshotter.cpp
  platform/default/mbgl/map/map_snapshotter.hpp
  platform/ios/CHANGELOG.md
Labels: iOS

#13548 [ios] Cherry-pick #13476 - Add turnstile events for Snapshotter
  platform/darwin/src/MGLMapSnapshotter.mm
Labels: iOS

#13685 [ios, macos] Renames MGLStyle.enablePlacementTransitions
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyle.mm
  platform/darwin/test/MGLStyleTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS

#13623 [ios, macos] Update code comments to mapbox-streets-v8
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/NSExpression+MGLAdditions.h
Labels: documentation, iOS, macOS

#13695 Update changelog for android v7.1.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#13689 Fixes a bug where the animated parameter of -[MGLMapView selectAnnotation:animated:] was ignored.
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/macos/src/MGLMapView.mm
Labels: iOS

#13690 [ios] Updates the change log with 4.7.1 changes.
  platform/ios/CHANGELOG.md
Labels: iOS

#13696 [ios] Podspec bump to v4.8.0 alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13644 Migrate tests, playground to Swift 4.2
  platform/darwin/test/MGLSDKTestHelpers.swift
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: build, iOS

#13576 Espresso tests rework
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/OrientationTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/TransformTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/VisibleRegionTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/action/WaitAction.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/EspressoTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/activity.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/annotations/IconTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/annotations/MarkerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/annotations/PolygonTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/annotations/PolylineTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraAnimateTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraEaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraForTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraMoveTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/feature/QueryRenderedFeaturesBoxCountTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/feature/QueryRenderedFeaturesHighlightTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/feature/QueryRenderedFeaturesPropertiesTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/feature/QueryRenderedSymbolBoxCountTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/GeoJsonConversionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/LatLngBoundsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/StyleLoadTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/AttributionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/CompassViewTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/LogoTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineManagerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineUtilsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/string/UppperLowerCaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CustomGeometrySourceTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/GeoJsonSourceTests.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ImageTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/LightTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RuntimeStyleTests.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RuntimeStyleTimingTests.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/StyleLoaderTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/light.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/DrawerUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/FinishLoadingStyleIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/GestureUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/LoadStyleIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/MapboxIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/TestConstants.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/ViewUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/debug/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/debug/java/com/mapbox/mapboxsdk/testapp/activity/SingleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/debug/java/com/mapbox/mapboxsdk/testapp/activity/SingleFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/debug/res/layout/activity_single.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/heavy_style.json
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/espresso/EspressoTestActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/infowindow/DynamicInfoWindowAdapterActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/RuntimeStyleTestActivity.java
  platform/android/scripts/exclude-activity-gen.json
Labels: Android

#13688 Lift Parcelable inheritance to the OfflineRegionDefinition
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineGeometryRegionDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegionDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineTilePyramidRegionDefinition.java
Labels: Android, offline

#13705 Regression test for symbols flashing
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
Labels: Android

#13706 Throw exception when setting an maxfps while the mapRenderer isn't created yet
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13704 Add missing files
  platform/android/core-files.json
  platform/ios/core-files.json
Labels: Core, build

#13713 Update changelog for v7.0.1
  platform/android/CHANGELOG.md
Labels: Android

#13673 Avoid leaking attribution dialog when context is being stopped
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
Labels: Android

#13692 [android] - Update link to API docs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
Labels: Android, documentation

#13694 [ios] - Update links to new API doc format
  platform/ios/Integration Tests/MGLStyleLayerIntegrationTests.m
Labels: documentation, iOS

#13693 [macos] - Update links to new API doc format
  platform/darwin/src/MGLRasterTileSource.h
  platform/darwin/src/MGLStyle.h
Labels: documentation, iOS, macOS

#13628 [android] Implement google benchmark runner for Android platform
  Makefile
  benchmark/benchmark-files.json
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/config.cmake
  platform/android/src/test/benchmark_runner.cpp
  platform/default/src/mbgl/benchmark/main.cpp
  platform/linux/config.cmake
  platform/macos/config.cmake
Labels: Android, performance

#13577 [core] Split layer type specific code in mbgl::Programs
  src/core-files.json
  src/mbgl/programs/background_program.hpp
  src/mbgl/programs/circle_program.hpp
  src/mbgl/programs/fill_extrusion_program.hpp
  src/mbgl/programs/fill_program.hpp
  src/mbgl/programs/heatmap_program.hpp
  src/mbgl/programs/hillshade_program.hpp
  src/mbgl/programs/line_program.hpp
  src/mbgl/programs/program.hpp
  src/mbgl/programs/programs.cpp
  src/mbgl/programs/programs.hpp
  src/mbgl/programs/raster_program.hpp
  src/mbgl/programs/symbol_program.hpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_static_data.hpp
Labels: Core, refactor

#13720 Return constexpr strings from functions to avoid ODR compile failures
  src/mbgl/style/conversion/stringify.hpp
  src/mbgl/style/layers/layer_properties.hpp.ejs
  src/mbgl/style/layers/line_layer_properties.hpp
  src/mbgl/style/layers/symbol_layer_properties.hpp
Labels: Core

#13723 Avoid null pointer when quickly closing activity
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
Labels: Android

#13721 [core] Notify requests about network reachability in priority order
  platform/default/src/mbgl/storage/online_file_source.cpp
Labels: Core, tests

#12952 [ios] Support getLeaves (and related) clustering methods
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/MGLCluster.h
  platform/darwin/src/MGLFeature.h
  platform/darwin/src/MGLFeature.mm
  platform/darwin/src/MGLFeature_Private.h
  platform/darwin/src/MGLFoundation_Private.h
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLShapeSource.mm
  platform/darwin/src/MGLShapeSource_Private.h
  platform/darwin/test/MGLCodingTests.mm
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLFeatureTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/jazzy.yml
  platform/ios/sdk-files.json
  platform/ios/src/Mapbox.h
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
  platform/macos/src/Mapbox.h
Labels: Core, iOS, macOS

#13631 Expose query feature extensions
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/earthquakes.geojson
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GeoJsonClusteringActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_geojson_clustering.xml
  platform/android/core-files.json
  platform/android/src/android_renderer_frontend.cpp
  platform/android/src/android_renderer_frontend.hpp
  platform/android/src/gson/json_element.cpp
  platform/android/src/jni.cpp
  platform/android/src/math/math.cpp
  platform/android/src/math/math.hpp
  platform/android/src/style/sources/geojson_source.cpp
  platform/android/src/style/sources/geojson_source.hpp
Labels: Android

#13738 Updated licenses after Android vendorization
  platform/android/LICENSE.md
Labels: Android

#13737 Do not invoke #onCancel when animation is scheduled from #onFinish
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/TransformTest.kt
Labels: Android

#13741 Update changelog for v7.1.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#13733 Allow resetting fps listener, update debug mode menu options
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_debug_mode.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_debug.xml
Labels: Android

#13739 [core] TilePyramid has sorted render tiles
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_source.hpp
  src/mbgl/renderer/sources/render_geojson_source.cpp
  src/mbgl/renderer/sources/render_raster_dem_source.cpp
  src/mbgl/renderer/sources/render_raster_source.cpp
  src/mbgl/renderer/sources/render_vector_source.cpp
  src/mbgl/renderer/tile_pyramid.cpp
  src/mbgl/renderer/tile_pyramid.hpp
Labels: Core

#13745 [macos] Fixes MGLMapView.visibleAnnotations
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.mm
Labels: annotations, macOS

#13747 [ios] Podspec bump to 4.8.0-alpha.2.
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13743 Avoid leaking compassView context through animator
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/CompassView.java
Labels: Android

#13749 Re-apply location component's "layer-below" when changed
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationModesActivity.java
Labels: Android

#13756 [core] Remove tile sorting from the clip and mask algorithms
  src/mbgl/algorithm/generate_clip_ids.hpp
  src/mbgl/algorithm/generate_clip_ids_impl.hpp
  src/mbgl/algorithm/update_tile_masks.hpp
  test/algorithm/generate_clip_ids.test.cpp
  test/algorithm/update_tile_masks.test.cpp
Labels: Core, performance

#13766 Update changelog for v7.1.0-alpha.3
  platform/android/CHANGELOG.md
Labels: Android

#13769 Rename required TransitionOptions field
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
  platform/android/src/native_map_view.cpp
  platform/android/src/style/transition_options.cpp
  platform/android/src/style/transition_options.hpp
Labels: Android

#13768 Use ReLinker as default library loader for the test app
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
  platform/android/gradle/dependencies.gradle
Labels: Android

#13750 Import gestures dimens using the correct package structure
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#13774 Ignore unused arguments for all configurations
  platform/android/MapboxGLAndroidSDK/build.gradle
Labels: Android

#13727 [ios] Partially offscreen annotations (without callouts) are no longer moved on-screen
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/vendor/SMCalloutView/SMCalloutView.m
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.mm
  platform/macos/test/MGLAnnotationTests.m
Labels: annotations, iOS, macOS

#13776 [ios, macos] MGLMapView logging improvements.
  platform/darwin/src/MGLLoggingConfiguration_Private.h
  platform/ios/src/MGLMapView.mm
  platform/macos/src/MGLMapView.mm
Labels: iOS, macOS

#13761 [ios] Fix wrong coordinates bounds when setting direction.
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS

#13778 Update changelog for v7.1.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#13777 Remove deprecated javacompile
  platform/android/gradle/gradle-javadoc.gradle
Labels: Android

#13779 CP update changelog for v7.1.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#13755 [ios] Fix links in documentation
  platform/darwin/scripts/style-spec-overrides-v8.json
  platform/darwin/src/MGLAccountManager.h
  platform/darwin/src/MGLCircleStyleLayer.h
  platform/darwin/src/MGLFillExtrusionStyleLayer.h
  platform/darwin/src/MGLFillStyleLayer.h
  platform/darwin/src/MGLHeatmapStyleLayer.h
  platform/darwin/src/MGLHillshadeStyleLayer.h
  platform/darwin/src/MGLLight.h
  platform/darwin/src/MGLLineStyleLayer.h
  platform/darwin/src/MGLRasterDEMSource.h
  platform/darwin/src/MGLRasterStyleLayer.h
  platform/darwin/src/MGLSymbolStyleLayer.h
  platform/darwin/src/MGLTileSource.h
  platform/ios/Integration Tests/MGLStyleLayerIntegrationTests.m
  platform/ios/docs/guides/Info.plist Keys.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLSDKUpdateChecker.mm
Labels: documentation, iOS

#13782 [ios, macos] Add Czech and Hungarian translations.
  platform/darwin/resources/cs.lproj/Foundation.strings
  platform/darwin/resources/cs.lproj/Foundation.stringsdict
  platform/ios/CHANGELOG.md
  platform/ios/app/Settings.bundle/cs.lproj/Root.strings
  platform/ios/app/cs.lproj/Localizable.strings
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/resources/cs.lproj/Localizable.strings
  platform/ios/resources/cs.lproj/Localizable.stringsdict
  platform/ios/resources/hu.lproj/Localizable.stringsdict
  platform/macos/CHANGELOG.md
  platform/macos/app/cs.lproj/Localizable.strings
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk/cs.lproj/Localizable.strings
Labels: iOS, localization, macOS

#13784 [ios, macos] Add Czech and Hungarian translations. (#13782)
  platform/darwin/resources/cs.lproj/Foundation.strings
  platform/darwin/resources/cs.lproj/Foundation.stringsdict
  platform/ios/CHANGELOG.md
  platform/ios/app/Settings.bundle/cs.lproj/Root.strings
  platform/ios/app/cs.lproj/Localizable.strings
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/resources/cs.lproj/Localizable.strings
  platform/ios/resources/cs.lproj/Localizable.stringsdict
  platform/ios/resources/hu.lproj/Localizable.stringsdict
  platform/macos/CHANGELOG.md
  platform/macos/app/cs.lproj/Localizable.strings
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk/cs.lproj/Localizable.strings
Labels: iOS, localization, macOS

#13785 [ios] Podspec bump to v4.8.0-beta.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#13786 [ios] Podspec bump to v4.8.0-beta.1 (#13785)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#13788 Update project readme with buck source file ignore config
  platform/android/README.md
Labels: Android, documentation

#13796 [ios] Update more URLs to docs.mapbox.com/ios
  platform/darwin/src/MGLAnnotation.h
  platform/darwin/src/MGLFeature.h
  platform/darwin/src/MGLGeometry.h
  platform/darwin/src/MGLImageSource.h
  platform/darwin/src/MGLMapCamera.h
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLPointAnnotation.h
  platform/darwin/src/MGLPolygon.h
  platform/darwin/src/MGLPolyline.h
  platform/darwin/src/MGLRasterTileSource.h
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyleLayer.h
  platform/darwin/src/MGLTilePyramidOfflineRegion.h
  platform/darwin/src/MGLVectorTileSource.h
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/ios/DEVELOPING.md
  platform/ios/Integration Tests/MGLStyleLayerIntegrationTests.m
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/README.md
  platform/ios/jazzy.yml
  platform/ios/scripts/document.sh
  platform/ios/src/MGLAnnotationImage.h
  platform/ios/src/MGLAnnotationView.h
  platform/ios/src/MGLCalloutView.h
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/src/MGLMapboxEvents.m
  platform/ios/src/MGLUserLocation.h
  platform/ios/src/MGLUserLocationAnnotationView.h
  platform/macos/docs/pod-README.md
Labels: documentation, iOS

#13760 [ios] Fix typo in MGLComputedShapeSource error message
  platform/darwin/src/MGLComputedShapeSource.mm
Labels: bug, iOS

#13725 [ios][docs] update code snippet instructions
  platform/ios/DEVELOPING.md
Labels: documentation, iOS

#13793 Add image support with drawable overload
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/BitmapUtils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleBuilderTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
Labels: Android

#13801 Prioritize running benchmarks when building master
  circle.yml
Labels: Android

#13809 [ios] Fix jazzy building.
  platform/ios/scripts/document.sh
Labels: build, iOS

#13810 [ios] Fix jazzy building.
  platform/ios/scripts/document.sh
Labels: build, iOS

#13807 [android] change SNAPSHOT version to 7.2.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#13816 Run vendor submodule check
  platform/android/gradle/android-nitpick.gradle
Labels: Android, build

#13817 [ios] Update more URLs to docs.mapbox.com/ios
  platform/darwin/src/MGLAnnotation.h
  platform/darwin/src/MGLFeature.h
  platform/darwin/src/MGLGeometry.h
  platform/darwin/src/MGLImageSource.h
  platform/darwin/src/MGLMapCamera.h
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLPointAnnotation.h
  platform/darwin/src/MGLPolygon.h
  platform/darwin/src/MGLPolyline.h
  platform/darwin/src/MGLRasterTileSource.h
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLStyle.h
  platform/darwin/src/MGLStyleLayer.h
  platform/darwin/src/MGLTilePyramidOfflineRegion.h
  platform/darwin/src/MGLVectorTileSource.h
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/ios/DEVELOPING.md
  platform/ios/Integration Tests/MGLStyleLayerIntegrationTests.m
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/README.md
  platform/ios/jazzy.yml
  platform/ios/scripts/document.sh
  platform/ios/src/MGLAnnotationImage.h
  platform/ios/src/MGLAnnotationView.h
  platform/ios/src/MGLCalloutView.h
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/src/MGLMapboxEvents.m
  platform/ios/src/MGLUserLocation.h
  platform/ios/src/MGLUserLocationAnnotationView.h
  platform/macos/docs/pod-README.md
Labels: iOS

#13818 [ios] Fix typo in MGLComputedShapeSource error message
  platform/darwin/src/MGLComputedShapeSource.mm
Labels: iOS

#13832 Update changelog for v7.1.0
  platform/android/CHANGELOG.md
Labels: Android

#13833 Cherry pick update changelog for v7.1.0
  platform/android/CHANGELOG.md
Labels: Android

#13795 [android] added performance event
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/TelemetryDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/PerformanceEvent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
Labels: Android, performance

#13838 [core] change loop variable type to auto
  src/mbgl/style/expression/match.cpp
Labels: Core

#13579 [ios][documentation] Add new code snippets
  platform/darwin/scripts/style-spec-overrides-v8.json
  platform/darwin/src/MGLLight.h
  platform/darwin/src/MGLOfflinePack.h
  platform/darwin/src/MGLShapeOfflineRegion.h
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLTilePyramidOfflineRegion.h
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/ios/src/MGLMapView.h
Labels: documentation, iOS, ⚠️ DO NOT MERGE

#13842 [ios] Bump podspec to 4.8.0.
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#13843 [ios] Bump podspec to 4.8.0.
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS
