Repository mapbox/mapbox-gl-native, pull requests merged in 2019-03, with the labels that each got.

#14018 CADisplayLink method now takes a parameter as required.
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
Labels: iOS

#14012 Add plural style builder methods
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleBuilderTest.kt
Labels: Android

#13980 Verify no native method is called when saving state
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/SupportMapFragment.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
Labels: Android

#14022 [android] Adding areAllGesturesEnabled() boolean retreival method to UiSettings class
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/UiSettingsTest.java
Labels: Android

#14029 [build, darwin] Disable Xcode indexing on CI
  Makefile
  cmake/mbgl.cmake
  platform/darwin/ci.xcconfig
  platform/ios/scripts/package.sh
  platform/macos/scripts/package.sh
Labels: build, iOS, macOS

#14019 Mute warnings about OpenGL deprecation.
  platform/darwin/src/MGLOpenGLStyleLayer.h
Labels: iOS, macOS

#14030 [build, ios] Replace 'nightly' build with snapshot
  circle.yml
  platform/ios/INSTALL.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/scripts/deploy-nightly.sh
  platform/ios/scripts/deploy-snapshot.sh
  platform/ios/scripts/publish.sh
  platform/macos/scripts/deploy-packages.sh
Labels: build, iOS

#14031 Add option to prefetch low-resolution tiles
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
Labels: iOS

#14035 Clear callbacks as part of OnDestroy
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapFragment.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/SupportMapFragment.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/FragmentBackStackActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_backstack_fragment.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
  platform/android/scripts/exclude-activity-gen.json
Labels: Android

#14036 Fix dialog fragment setup, add regression test
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/fragment/MapDialogFragmentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/MapInDialogActivity.java
Labels: Android

#14040 [core] util::wrap(): std::fmod is not lossless
  include/mbgl/math/wrap.hpp
  test/map/transform.test.cpp
Labels: Core

#14054 Remove hybrid library table from readme
  README.md
Labels: documentation

#14056 [ios] Release ios-v4.10.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#14058 Get vector drawables using AppCompatResources and set them programmatically
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/IconFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LayerBitmapProvider.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/Utils.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/ImageSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/BitmapUtils.java
  platform/android/MapboxGLAndroidSDK/src/main/res/layout/mapbox_mapview_internal.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/AnimatedImageSourceActivity.java
Labels: Android

#14063 Changelog for 7.3.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#14061 [ios] Trigger mobile metrics tests
  circle.yml
Labels: iOS

#14064 [ios, macos] Fix a bug with multiple format expressions.
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: expressions, iOS, macOS

#14067 Publish SNAPSHOTs to oss.jfrog.org
  Makefile
  circle.yml
  platform/android/README.md
  platform/android/build.gradle
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/gradle-bintray.gradle
Labels: Android, build

#14076 Remove unnecessary JSON style declaration in the gradient line example
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GradientLineActivity.java
Labels: Android

#14068 Throw an exception if the component is accessed before the activation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentNotInitializedException.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
Labels: Android

#13911 [iOS] Enable developers to change position of ornaments
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXOrnamentsViewController.h
  platform/ios/app/MBXOrnamentsViewController.m
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLScaleBar.mm
  platform/ios/src/UIView+MGLAdditions.h
  platform/ios/src/UIView+MGLAdditions.m
  platform/ios/test/MGLMapViewLayoutTests.m
  platform/ios/test/MGLMapViewScaleBarTests.m
Labels: feature, iOS, pair-review

#14084 Fix quick-zoom + double-tap gestures combo regression
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#14086 Explicitly declare MapboxIssueRegistry's lint version
  platform/android/MapboxGLAndroidSDKLint/src/main/java/com/mapbox/mapboxsdk/lint/MapboxIssueRegistry.kt
Labels: Android

#14085 Set a blank style when an empty builder is provided
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
Labels: Android

#14082 [darwin] Fix direction wrapping
  platform/darwin/test/MGLMapViewTests.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewDirectionTests.mm
  platform/macos/src/MGLMapView.mm
Labels: bug, iOS, macOS, release blocker

#14087 [node] Change Map/FileSource relationship to composition
  platform/node/src/node_map.cpp
  platform/node/src/node_map.hpp
Labels: Node.js

#14093 [ios, build] Remove unnecessary clean step from release packaging
  platform/ios/scripts/deploy-packages.sh
Labels: build, iOS

#14099 Avoid passing FileSource to mbgl::Renderer{,Impl}
  benchmark/api/query.benchmark.cpp
  benchmark/api/render.benchmark.cpp
  bin/render.cpp
  include/mbgl/renderer/renderer.hpp
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/src/android_renderer_frontend.cpp
  platform/android/src/map_renderer.cpp
  platform/android/src/map_renderer.hpp
  platform/default/include/mbgl/gl/headless_frontend.hpp
  platform/default/src/mbgl/gl/headless_frontend.cpp
  platform/default/src/mbgl/map/map_snapshotter.cpp
  platform/glfw/main.cpp
  platform/ios/src/MGLMapView.mm
  platform/macos/src/MGLMapView.mm
  platform/node/src/node_map.cpp
  platform/qt/src/qmapboxgl.cpp
  platform/qt/src/qmapboxgl_map_renderer.cpp
  platform/qt/src/qmapboxgl_map_renderer.hpp
  platform/qt/src/qmapboxgl_renderer_backend.hpp
  src/mbgl/annotation/annotation_tile.cpp
  src/mbgl/map/map_impl.cpp
  src/mbgl/renderer/renderer.cpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/renderer/renderer_impl.hpp
  src/mbgl/renderer/update_parameters.hpp
  test/api/annotations.test.cpp
  test/api/api_misuse.test.cpp
  test/api/custom_geometry_source.test.cpp
  test/api/custom_layer.test.cpp
  test/api/query.test.cpp
  test/api/recycle_map.cpp
  test/gl/context.test.cpp
  test/map/map.test.cpp
  test/map/prefetch.test.cpp
  test/text/local_glyph_rasterizer.test.cpp
  test/util/memory.test.cpp
Labels: Core

#14090 [android] Updated Android readme links and writing
  platform/android/README.md
Labels: Android, documentation, needs review

#14095 [android, iOS, macOS] Adding Galician translation from Transifex
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/res/values-gl/strings.xml
  platform/darwin/resources/gl.lproj/Foundation.strings
  platform/darwin/resources/gl.lproj/Foundation.stringsdict
  platform/ios/CHANGELOG.md
  platform/ios/app/Settings.bundle/gl.lproj/Root.strings
  platform/ios/app/gl.lproj/Localizable.strings
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/resources/gl.lproj/Localizable.strings
  platform/ios/resources/gl.lproj/Localizable.stringsdict
  platform/macos/CHANGELOG.md
  platform/macos/app/gl.lproj/Localizable.strings
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk/gl.lproj/Localizable.strings
Labels: Android, iOS, localization, macOS

#14015 [ios] Generate iOS code coverage for metrics
  ci.template
  circle.yml
  platform/ios/ios.xcodeproj/xcshareddata/xcschemes/CI.xcscheme
  platform/ios/scripts/ios-code-coverage.sh
  scripts/code-coverage.sh
Labels: iOS

#14110 [ios] Updated podspecs for v4.10.0-alpha.2
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#14118 move TextureView to basic category for UiAutomator scrolling
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
Labels: Android

#14128 [android] text-color option for formatted sections
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/FormattedSection.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/src/style/formatted.cpp
Labels: Android

#14079 Change firebase device for running gnustl instrumentation tests
  circle.yml
Labels: Android

#14094 [ios, macos] Add format expression convenience methods support.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/src/MGLAttributedExpression.h
  platform/darwin/src/MGLAttributedExpression.m
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/darwin/test/MGLStyleLayerTests.mm.ejs
  platform/darwin/test/MGLSymbolStyleLayerTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/docs/guides/For Style Authors.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/src/Mapbox.h
  platform/macos/CHANGELOG.md
  platform/macos/docs/guides/For Style Authors.md
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
  platform/macos/src/Mapbox.h
Labels: expressions, iOS, macOS

#14051 Remove base idlingResource setup
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/OrientationTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/VisibleRegionTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/action/OrientationAction.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/action/WaitAction.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/EspressoTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/annotations/IconTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/camera/CameraForTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/GeoJsonConversionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/StyleLoadTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/CompassViewTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CustomGeometrySourceTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/GeoJsonSourceTests.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ImageTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RuntimeStyleTests.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/FinishLoadingStyleIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/LoadStyleIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/MapboxIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/OnMapReadyIdlingResource.java
Labels: Android

#14141 Cache location layer IDs in a set instead of a list
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.java
Labels: Android

#14145 [build] Add SHA to the iOS coverage report
  scripts/code-coverage.sh
Labels: build

#14148 Delete unused NSData category
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/src/NSData+MGLAdditions.h
  platform/darwin/src/NSData+MGLAdditions.mm
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/test/MGLNSDataAdditionsTests.m
Labels: iOS, refactor

#14157 Unit and instrumentation tests code coverage report
  Makefile
  circle.yml
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/build.gradle
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/jacoco-report.gradle
  platform/android/scripts/parse-jacoco-report.py
Labels: Android, tests

#14155 Expose LocationComponent's layer IDs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentConstants.java
Labels: Android

#14161 Update licenses with ReLinker
  platform/android/LICENSE.md
Labels: Android

#14146 [ios, macos] Add text-color support to format expressions.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/MGLAttributedExpression.h
  platform/darwin/src/MGLAttributedExpression.m
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/docs/guides/For Style Authors.md
  platform/ios/src/UIColor+MGLAdditions.h
  platform/macos/docs/guides/For Style Authors.md
  platform/macos/src/NSColor+MGLAdditions.h
  platform/macos/src/NSColor+MGLAdditions.mm
Labels: iOS, macOS, runtime styling

#14159 Refactor idling resource from test
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineManagerTest.kt
Labels: Android

#14168 [ios, macos] Fix format expression parsing.
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
Labels: beta blocker, expressions, iOS, macOS

#14174 Add offline troubleshooting link to javadoc of OfflineManager
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
Labels: Android

#14169 Correct the code_coverage time to follow ISO 8601
  scripts/code-coverage.sh
Labels: Android, build, iOS

#14175 Changelog for 7.3.0-beta.1 (CP to liquid)
  platform/android/CHANGELOG.md
Labels: Android

#14173 Changelog for 7.3.0-beta.1
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.java
Labels: Android

#14178 CP [ios, macos] Fix format expression parsing. (#14168)
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
Labels: expressions, iOS, macOS

#14188 [core] Change definition of "complete" so offline packs created before #11055 can complete.
  include/mbgl/storage/offline.hpp
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: Core

#14190 Cherry picks #14188: [core] Change check in "complete()" for offline packs
  include/mbgl/storage/offline.hpp
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS

#14181 [ios, macos] Fix conditional expression parsing error.
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: crash, expressions, iOS, macOS, needs changelog

#14088 Add pixel test activity
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/assets/streets.json
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/VisibleRegionTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ImageTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ImageTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/espresso/PixelTestActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_pixel_test.xml
Labels: Android

#14180 call getMapAsync when restoring map fragment
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/MapFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/SupportMapFragmentActivity.java
Labels: Android

#14191 CP - [ios, macos] Fix conditional expression parsing error. (#14181)
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS

#14196 [ios] Podspecs for v4.10.0 beta.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
Labels: build, iOS

#14197 [ios] Bumped podspecs for v4.10.0-beta.1
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#14179 Improve reliability of UiAutomator tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/GLSurfaceViewReopenTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/TextureViewReopenTest.kt
Labels: Android

#14186 Fix formatting of the 7.3.0-beta.1 changelog
  platform/android/CHANGELOG.md
Labels: Android

#14187 Backport #14186 to liquid
  platform/android/CHANGELOG.md
Labels: Android

#14203 Bump snapshot version to 7.4.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#14189 [core] Replace shared_ptr with unique_ptr in {Map,Resource}Options
  benchmark/api/render.benchmark.cpp
  include/mbgl/map/map_options.hpp
  include/mbgl/storage/resource_options.hpp
  platform/android/src/file_source.cpp
  platform/glfw/main.cpp
  platform/node/src/node_map.cpp
  src/mbgl/map/map_options.cpp
  src/mbgl/storage/resource_options.cpp
Labels: Core, refactor

#14208 remove unneeded permissions
  ci.template
Labels: build

#14198 [ios, macos] Support expressions in formatting parameters.
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/MGLAttributedExpression.h
  platform/darwin/src/MGLAttributedExpression.m
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: iOS, release blocker

#14213 CP - [ios, macos] Support expressions in formatting parameters. (#14198)
  platform/darwin/docs/guides/For Style Authors.md.ejs
  platform/darwin/docs/guides/Predicates and Expressions.md
  platform/darwin/src/MGLAttributedExpression.h
  platform/darwin/src/MGLAttributedExpression.m
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLDocumentationExampleTests.swift
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/docs/guides/For Style Authors.md
  platform/macos/docs/guides/For Style Authors.md
Labels: expressions, iOS

#14212 [core] Fix signature of fluent interface setters
  include/mbgl/map/map_options.hpp
  include/mbgl/storage/resource_options.hpp
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/darwin/src/MGLOfflineStorage.mm
  platform/ios/src/MGLMapView.mm
  platform/macos/src/MGLMapView.mm
  platform/qt/src/qmapboxgl.cpp
  src/mbgl/map/map_options.cpp
  src/mbgl/storage/resource_options.cpp
Labels: Core, bug

#14177 Validate license generation with nitpick on CI
  platform/android/gradle/android-nitpick.gradle
  platform/android/scripts/validate-license.py
Labels: Android

#13933 [ios, macos, build] Remove DEBUG from logging configuration.
  platform/darwin/src/MGLLoggingConfiguration.h
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: build

#14221 Harden fetching camera for bounds when padding is excessive
  src/mbgl/map/map.cpp
  test/map/map.test.cpp
Labels: Core

#14234 Provide more information when the OfflineManager test times out
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineManagerTest.kt
Labels: Android, tests

#14238 [ios, macos] Open project using selected toolchain
  Makefile
Labels: build, iOS, macOS

#14230 Crash when rendering lines with missing patterns
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/paint_property_binder.hpp
Labels: Core, crash

#14244 Don't call OnSurfaceCreated from the main thread
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/GLSurfaceViewMapRenderer.java
Labels: Android

#14241 [ios, core] Updates project for iOS SDK 12.2 / Always use vendored optional
  circle.yml
  cmake/loop-darwin.cmake
  platform/darwin/src/NSBundle+MGLAdditions.m
  platform/darwin/test/MGLAttributionInfoTests.m
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  platform/ios/Integration Tests/MGLCameraTransitionTests.mm
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  vendor/optional.cmake
Labels: Core, build, iOS

#14249 CP: Don't call OnSurfaceCreated from the main thread
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/GLSurfaceViewMapRenderer.java
Labels: Android

#14250 [ios, macos] Added missing changelog entries for #14241
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: iOS, macOS

#14256 Changelog for v7.3.0
  platform/android/CHANGELOG.md
Labels: Android

#14257 Backport #14256 to liquid
  platform/android/CHANGELOG.md
Labels: Android

#14255 [build] Metrics: publish Github Stats
  ci.template
  circle.yml
  scripts/publish_github_stats.js
Labels: Core

#14251 Fix thread assertion while running instrumentation test
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxTest.java
Labels: Android

#14258 Support running instrumented tests on more devices
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/BaseIntegrationTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/FragmentBackStackTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/GLSurfaceViewReopenTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/TextureViewReopenTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/AttributionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_backstack_fragment.xml
Labels: Android
