Repository mapbox/mapbox-gl-native, pull requests merged in 2019-09, with the labels that each got.

#15424 Add number format expression
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
Labels: Android

#15548 Always call onSourceLoaded observers
  src/mbgl/style/sources/custom_geometry_source.cpp
  src/mbgl/style/sources/raster_source.cpp
  src/mbgl/style/sources/vector_source.cpp
  src/mbgl/style/style_impl.cpp
  test/storage/sync_file_source.test.cpp
  test/test-files.json
Labels: bug

#15557 Avoid converting float to long in android_conversion.hpp
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/src/style/android_conversion.hpp
Labels: Android, needs changelog

#15558 Cherrypick #15528
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/TransformTest.kt
Labels: Android, needs changelog

#15561 [android] Update changelog for the v8.4.0-alpha.1 release
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15547 [ios] fix compass font thinner than previous version on iOS 13
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLCompassButton.mm
Labels: bug, iOS

#15552 [ios, macos] Fix content inset documentation.
  platform/ios/src/MGLMapView.h
  platform/macos/src/MGLMapView.h
Labels: documentation

#15562 [ios] Remove feature flag for rotation threshold
  platform/ios/src/MGLMapView.mm
Labels: iOS, needs changelog

#15563 [ios] Add changelog entry for #15562
  platform/ios/CHANGELOG.md
Labels: iOS

#15564 [ios] Update pod specs and change log for ristretto alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15473 [core, ios] Call transitionFinishFn for jumpTo.
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Camera Tests/MGLCameraTransitionFinishTests.mm
  platform/ios/Integration Tests/Camera Tests/MGLCameraTransitionTests.mm
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/Integration Tests/MGLMapViewPendingBlockTests.m
  platform/ios/ios.xcodeproj/project.pbxproj
  src/mbgl/map/transform.cpp
Labels: Core, iOS, needs changelog

#15419 Increase timeout of offline download test
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/offline/OfflineDownloadTest.kt
Labels: Android

#15434 Update android build tools and gradle wrapper to latest stable version
  platform/android/build.gradle
  platform/android/gradle/wrapper/gradle-wrapper.properties
Labels: Android

#15571 [ios] Fix change log typos and re-order
  platform/ios/CHANGELOG.md
Labels: iOS

#15550 [darwin] Use en_US as default test locale/language
  platform/darwin/test/MGLClockDirectionFormatterTests.m
  platform/darwin/test/MGLCompassDirectionFormatterTests.m
  platform/darwin/test/MGLCoordinateFormatterTests.m
  platform/ios/ios.xcodeproj/xcshareddata/xcschemes/CI.xcscheme
  platform/ios/ios.xcodeproj/xcshareddata/xcschemes/dynamic.xcscheme
  platform/ios/test/MGLMapAccessibilityElementTests.m
  platform/macos/macos.xcodeproj/xcshareddata/xcschemes/CI.xcscheme
  platform/macos/macos.xcodeproj/xcshareddata/xcschemes/dynamic.xcscheme
  platform/macos/macos.xcodeproj/xcshareddata/xcschemes/macosapp.xcscheme
Labels: iOS, macOS, tests

#15583 [ios] Refactor way location permissions are requested
  platform/ios/src/MGLMapView.mm
Labels: iOS, refactor

#15597 [android] Fix leaked window in test app's BulkMarkerActivity.
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/BulkMarkerActivity.java
Labels: Android

#15577 [core] Add unit test to verify that Offline usage tag is not set
  test/storage/offline_download.test.cpp
Labels: Core, tests

#15609 [android] Updated changelog for 8.4.0-alpha.2 release
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15428 [node][release] prep v4.3.0
  package.json
  platform/node/CHANGELOG.md
  platform/node/DEVELOPING.md
Labels: Node.js

#15610 [android] Adjusted changelog to fix since section
  platform/android/CHANGELOG.md
Labels: Android, documentation, needs review

#15477 [ios] Add custom XCTestSuite for integration tests
  platform/ios/Integration Tests/Camera Tests/MGLCameraTransitionTests.mm
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
  platform/ios/Integration Tests/MGLStyleURLIntegrationTest.m
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterSwiftTests.swift
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterTest.m
Labels: iOS, tests

#15612 [ios] iOS 13 cherry-picks for ios-v5.3.1 (queso)
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLCompassButton.mm
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLScaleBar.mm
Labels: iOS

#15603 [ios] Small fixes to the Swift Playground
  platform/ios/Mapbox.playground/Contents.swift
  platform/ios/Mapbox.playground/contents.xcplayground
Labels: iOS

#15626 [ios] Update change log.
  platform/ios/CHANGELOG.md
Labels: iOS

#15530 [ios] Introduce overlays to MGLMapSnapshotter
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterTest.m
  platform/macos/CHANGELOG.md
Labels: iOS, macOS

#15629 [ios] Add support for running tests (that require an access token) individually.
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.h
  platform/ios/Integration Tests/MGLMapViewIntegrationTest.m
Labels: iOS, tests

#15633 [ios] report error if rendering takes > 1 second.
  platform/darwin/src/MGLTypes.h
  platform/ios/src/MGLMapView+OpenGL.mm
Labels: iOS

#15641 Ignore location tracking mode based animations when the camera is transitioning
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
Labels: Android

#15645 [ios] Ensure potential variables that might be nil have a fallback.
  platform/darwin/src/MGLSDKMetricsManager.m
Labels: iOS

#15643 [ios] Fixed test name (since validAccessToken has been removed)
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterSwiftTests.swift
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterTest.m
Labels: iOS, tests

#15642 [android] fix: MapSnapshotter.withApiBaseUri function
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
Labels: Android, needs changelog

#15653 MapSnapshotter.withApiBaseUri function
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
Labels: :cherries: cherry pick, needs changelog

#15656 [ios] (Re)add tilesize rounding.
  platform/darwin/src/MGLRasterTileSource.mm
Labels: iOS

#15299 Generalize docs deployment script and add Android docs deployment to circle config
  circle.yml
  scripts/trigger-maps-documentation-deploy-steps.sh
Labels: Android, build

#15582 Fix MGLOfflinePack invalidate crash
  platform/darwin/src/MGLOfflinePack.mm
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/test/MGLOfflinePackTests.mm
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/darwin/test/MGLTestAssertionHandler.h
  platform/darwin/test/MGLTestAssertionHandler.m
  platform/default/include/mbgl/storage/offline_database.hpp
  platform/default/src/mbgl/storage/offline_database.cpp
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: Core, crash, iOS

#15663 Prepare for Maps SDK for iOS v5.3.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15665 Add changelog entries from ios-v5.3.1 to master
  platform/ios/CHANGELOG.md
Labels: iOS

#15664 [android] Updated changelog for 8.3.1 patch release-queso
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15667 [android] Updated changelog for 8.3.1 queso earcut patch release
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15669 Cherry-pick #15560 to release-queso
  platform/android/CHANGELOG.md
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
  platform/node/CHANGELOG.md
  src/mbgl/tile/geometry_tile_data.cpp
Labels: Core

#15671 Prepare for Maps SDK for iOS v5.3.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15670 Prepare for Maps SDK for iOS v5.3.2
  platform/ios/CHANGELOG.md
Labels: iOS

#15673 Changelog for v8.3.2
  platform/android/CHANGELOG.md
Labels: :cherries: cherry pick, Android

#15621 [test] Add unit tests for mbgl::util::Timer covering timer cancellation around the time of its expiration
  test/util/timer.test.cpp
Labels: tests

#15682 [android] Updated Android changelog for 8.4.0-beta.1 ristretto release
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15683 [android] Cherry pick updated Android changelog for 8.4.0-beta.1 ristretto release
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15684 Release ristretto beta.1 prep
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15685 [ios] Cherry pick #15684: Release ristretto beta.1 prep
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: :cherries: cherry pick, iOS

#15391 [ios]Add errors reporting
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/src/MGLShape.mm
  platform/darwin/src/MGLSource.mm
  platform/darwin/src/MGLTypes.h
  platform/ios/src/MGLMapView+Impl.mm
  platform/ios/src/MGLMapView+OpenGL.mm
Labels: iOS

#15687 [ios] Copyedit changelog for ios-5.4.0
  platform/ios/CHANGELOG.md
Labels: iOS

#15688 [ios] Copyedit changelog for ios-5.4.0 (release-ristretto)
  platform/ios/CHANGELOG.md
Labels: iOS

#15623 [android] Migrate Android SDK to GL JS–powered feedback form
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/AttributionDialogManagerTest.java
Labels: Android, needs changelog

#15699 [android] Fix the crash when CameraPosition padding is set.
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterActivity.java
  platform/android/src/map/camera_position.cpp
Labels: Android

#15704 Update snapshot version for release-sangria
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#15705 Update gitignore to not track .cxx directories
  platform/android/.gitignore
Labels: Android

#15714 [android] cherry pick of snapshot padding (15623) and feedback form (15699) to ristretto
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/AttributionDialogManagerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/snapshot/MapSnapshotterActivity.java
  platform/android/src/map/camera_position.cpp
Labels: Android, needs review

#15713 [android] Updated Android changelog for 8.4.0 stable release (ristretto)
  platform/android/CHANGELOG.md
Labels: Android, needs review, ⚠️ DO NOT MERGE

#15715 [android] Updated changelog for 8.4.0 stable release (cp to ristretto)
  platform/android/CHANGELOG.md
Labels: Android, needs review

#15716 [ios] Update podspecs for v5.4.0 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15717 [ios] CP #15716 - Update podspecs & changelog for v5.4.0 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: :cherries: cherry pick, iOS

#15723 [core] Enable move semantics for StyleProperty
  include/mbgl/style/style_property.hpp
  test/map/map.test.cpp
Labels: Core

#15707 [docs] Correct license typo in project README
  README.md
Labels: documentation
