Repository mapbox/mapbox-gl-native, pull requests merged in 2019-06, with the labels that each got.

#14822 Do not try to package duplicate files in the publication
  platform/android/gradle/gradle-bintray.gradle
Labels: Android

#14823 [core] Fix symbol bucket dynamic vertices update
  src/mbgl/renderer/bucket.hpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/text/collision_index.hpp
  src/mbgl/text/placement.cpp
  src/mbgl/text/placement.hpp
Labels: Core

#14813 [ios] Fix content insets with custom edge padding.
  platform/darwin/src/MGLGeometry_Private.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSValue+MGLStyleAttributeAdditions.mm
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
Labels: bug, iOS, macOS

#14803 [ios] Fix undeclared selector warning in MGLAnnotationView
  platform/ios/src/MGLAnnotationView.mm
Labels: iOS

#14816 [macos]Added an `MGLMapView.prefetchesTiles` property to configure lo…
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
Labels: macOS, performance

#14830 Fix warnings with Xcode 11's updated Clang version
  platform/darwin/src/collator.mm
  src/mbgl/renderer/render_tile.hpp
Labels: Core

#14841 Reset the native renderer only when the GL thread exits
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/GLSurfaceViewMapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/MapboxGLSurfaceView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/SurfaceHolderCallbackAdapter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/textureview/TextureViewMapRenderer.java
Labels: Android

#14804 Copy features array before passing them to core
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/GeoJsonSourceTests.java
Labels: Android

#14799 [core] Ignore flaky fill-pattern render tests
  platform/node/test/ignores.json
Labels: Core, tests

#14836 Rename URL API to URI
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleBuilderTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/EspressoTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/RuntimeStyleTests.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/StyleLoaderTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimationTypeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/ManualZoomActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/MaxMinZoomActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QueryRenderedFeaturesBoxCountActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QueryRenderedFeaturesBoxHighlightActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationMapChangeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationModesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/ManualLocationUpdatesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/BottomSheetActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DoubleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/SimpleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/OfflineActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/AnimatedImageSourceActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/CircleLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/FillExtrusionStyleTestActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GeoJsonClusteringActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GridSourceActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/HeatmapLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/HillshadeLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/RuntimeStyleActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/RuntimeStyleTimingTestActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/StyleFileActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/telemetry/PerformanceMeasurementActivity.java
Labels: Android

#14802 [ios] Update libmbxaccounts for navigation SDK override
  platform/darwin/src/MGLAccountManager.m
  platform/ios/src/MGLMapboxEvents.m
  platform/ios/vendor/mapbox-accounts-ios/MBXSKUToken.h
  platform/ios/vendor/mapbox-accounts-ios/libmbxaccounts.a
Labels: beta blocker, iOS

#14853 Improve test stability
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/GeoJsonConversionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/ImageMissingTest.kt
Labels: Android

#14873 [ios] Bump podspec to v5.1.0-alpha.2
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14855 [android] updated changelog for 8.1.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#14008 improve offline cli help page
  bin/offline.cpp
Labels: documentation, offline

#14871 [core] Ignore more flaky node render tests
  platform/node/test/ignores.json
Labels: Core, Node.js, bug, tests

#14882 Fix reset behavior for setLatLngBoundsForCameraTarget
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMap.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/LatLngBoundsForCameraActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_bounds.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/actions.xml
  platform/android/src/native_map_view.cpp
Labels: Android

#14890 Change library loader to soloader
  platform/android/LICENSE.md
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/loader/LibraryLoaderProviderImpl.java
  platform/android/gradle/dependencies.gradle
Labels: Android

#14885 [ios] Fix external sku token getter
  platform/darwin/src/MGLAccountManager.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLAccountManagerTests.m
Labels: beta blocker, iOS

#14899 Update changelog v8.0.1
  platform/android/CHANGELOG.md
Labels: Android

#14898 Allow null updates to GeoJsonSource#setGeoJson
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
Labels: Android

#14896 [android] Remove mapboxJavaServices dependency
  platform/android/gradle/dependencies.gradle
Labels: Android

#14857 [ios, macos] Added offline query parameter (for iOS)
  platform/darwin/src/http_file_source.mm
  platform/darwin/test/MGLResourceTests.mm
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: iOS, macOS

#14837 Add resource usage to HttpRequest, add offline query param
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUrl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/NativeHttpRequest.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/HttpRequestImpl.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxInjector.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/http/HttpRequestUrlTest.kt
  platform/android/src/http_file_source.cpp
Labels: Android

#14591 [iosapp] Introduce map state manager
  platform/ios/app/MBXState.h
  platform/ios/app/MBXState.m
  platform/ios/app/MBXStateManager.h
  platform/ios/app/MBXStateManager.m
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: iOS

#14916 [android] Update changelog for 8.1.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#14917 [android] Android 8.1.0-beta.1 changelog update cherrypick
  platform/android/CHANGELOG.md
Labels: Android, needs review

#14914 [iOS, docs] Fixes grammatical issue in GeoJSON guide
  platform/darwin/docs/guides/Working with GeoJSON Data.md
Labels: documentation, iOS

#14920 [ios] Bump podspec to v5.1.0-beta.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14922 [ios] Bump podspec to v5.1.0-beta.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14911 [build, darwin] Enable aggressive API usage warnings
  cmake/mbgl.cmake
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: build, iOS, macOS

#14766 [ios, macos] Optionally include a developer xcconfig file in generated config.xcconfig file.
  .gitignore
  platform/ios/DEVELOPING.md
  platform/macos/DEVELOPING.md
  scripts/config.xcconfig.in
Labels: build, iOS, macOS

#14903 [ios, build] Add MORE_SIMULATORS option to iOS make commands
  Makefile
  platform/ios/DEVELOPING.md
Labels: iOS, tests

#14933 README typo, granualar to granular
  platform/node/README.md
Labels: Node.js

#14937 Store shared libraries as CI artefact
  circle.yml
Labels: Android

#14954 Accept floating numbers during core->platform color conversion
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/ColorUtils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/utils/ColorUtilsTest.kt
Labels: Android

#14956 Backport #14954 to oolong
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/ColorUtils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/utils/ColorUtilsTest.kt
Labels: Android

#14955 [android] bump SNAPSHOT version to 8.2.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#14946 [android] Removed duplicate soloader changelog line
  platform/android/CHANGELOG.md
Labels: Android, needs review

#14945 [android] Added CameraMode.NONE_COMPASS and CameraMode.NONE_GPS to LocationModesActivity
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationModesActivity.java
Labels: Android, needs review

#14947 [ios, build] Add more specific iOS simulator flags for make commands
  Makefile
  platform/ios/DEVELOPING.md
Labels: iOS, tests

#14953 CameraUpdateFactory#newLatLngBounds with camera tilt and bearing
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactory.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactoryTest.kt
Labels: Android

#14948 [ios] Simplify -[MGLOfflineStorageTests testAddFileContent]
  platform/darwin/test/MGLOfflineStorageTests.mm
Labels: iOS, tests

#14967 [ios] Prepare for ios-v5.1.0 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14968 [ios] Prepare for ios-v5.1.0 release (release-oolong)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14949 [ios] Address iosapp state manager tailwork
  platform/ios/app/MBXState.m
  platform/ios/app/MBXStateManager.m
Labels: iOS, refactor

#14965 Ensure to re-enable move when quickzoom finishes
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#14971 Limit concurrent request for Android 4.4 and below to 10
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/HttpRequestImpl.java
Labels: Android

#14973 [android] Updated Android changelog for stable 8.1.0 release (oolong)
  platform/android/CHANGELOG.md
Labels: Android, needs review

#14969 [ios] Require two fingers for duration of tilt gesture
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: UX, iOS

#14975 [android] Updated Android 8.1.0 changelog with kitkat crash info
  platform/android/CHANGELOG.md
Labels: Android

#14974 [android] Updated Android changelog for stable 8.1.0 release
  platform/android/CHANGELOG.md
Labels: Android

#14976 [ios] Fix failing annotation selection integration tests
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  platform/ios/Integration Tests/MGLCameraTransitionTests.mm
Labels: iOS

#14381 Add completion handlers to animated MGLMapView methods
  platform/darwin/test/MGLMapViewTests.m
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/macos/CHANGELOG.md
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
Labels: feature, iOS, macOS, navigation

#14924 update LatLngBounds example with animating bottomsheet
  platform/android/MapboxGLAndroidSDKTestApp/src/main/assets/points-sf.geojson
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/LatLngBoundsActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/drawable/ic_arrow_upward.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_latlngbounds.xml
Labels: Android

#14986 Change Firebase test lab device to Nexus 7
  circle.yml
Labels: Android

#14909 [darwin] Add warning about certain tests requiring en_US locale
  platform/darwin/test/MGLClockDirectionFormatterTests.m
  platform/darwin/test/MGLCompassDirectionFormatterTests.m
  platform/darwin/test/MGLCoordinateFormatterTests.m
  platform/darwin/test/MGLNSStringAdditionsTests.m
  platform/ios/test/MGLMapAccessibilityElementTests.m
Labels: iOS, macOS, tests

#14989 Invalidate camera when setting a padding
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxMapInstrumentationTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/VisibleRegionTest.kt
  platform/android/src/native_map_view.cpp
Labels: Android

#14997 Add setVerbosity to Logger, add LogLevel IntDef
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/log/Logger.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/log/LoggerTest.kt
Labels: Android

#14995 [android] Add MicroSoft AppCenter lib.
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/AppCenter.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/integration/BaseIntegrationTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/BaseLayerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/BaseTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/fragment/MapDialogFragmentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/ImageMissingTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/RemoveUnusedImagesTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineManagerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineUtilsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/render/RenderTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceMapTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceStandaloneTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceTestUtils.kt
  platform/android/gradle/dependencies.gradle
Labels: Android, tests

#14999 Remove assert from deconstructor of run_loop.cpp
  platform/darwin/src/run_loop.cpp
Labels: iOS

#15003 [build] GCC 8.0 now implements 'cast-function-type'
  cmake/sqlite.cmake
Labels: build

#15004 bring back manual opacity regression test
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
Labels: Android

#15010 Update changelog for v8.2.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#14847 Fixes problems associated with node 10 and NAN
  platform/node/src/node_map.cpp
  platform/node/src/node_map.hpp
  platform/node/src/node_request.cpp
  platform/node/src/node_request.hpp
Labels: Node.js

#14959 [ios, macos] Deprecate methods in favor of new completion handler versions
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Annotation Tests/MGLAnnotationViewIntegrationTests.m
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLAnnotationViewTests.m
  platform/macos/src/MGLMapView.h
  platform/macos/src/MGLMapView.mm
Labels: iOS, macOS, refactor

#15000 [ios] Remove previously deprecated unavailable methods and properties
  platform/darwin/src/MGLAccountManager.h
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/MGLStyle.h
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
Labels: iOS, refactor

#15012 [ios] Release ios-v5.2.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#15014 [ios] Fix ios-v5.2.0-alpha.1 podspec versions
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: bug, iOS

#15005 Update CI image with NDK r20
  circle.yml
Labels: Android

#14840 [core] Add number-format expression
  cmake/core.cmake
  cmake/mason-dependencies.cmake
  include/mbgl/style/expression/expression.hpp
  include/mbgl/style/expression/number_format.hpp
  include/mbgl/util/platform.hpp
  platform/android/core-files.json
  platform/android/src/jni.cpp
  platform/android/src/text/format_number.cpp
  platform/android/src/text/format_number_jni.hpp
  platform/darwin/src/string_nsstring.mm
  platform/default/src/mbgl/util/format_number.cpp
  platform/linux/config.cmake
  platform/node/src/node_expression.cpp
  platform/qt/qt.cmake
  platform/qt/src/format_number.cpp
  src/core-files.json
  src/mbgl/style/expression/number_format.cpp
  src/mbgl/style/expression/parsing_context.cpp
  test/fixtures/expression_equality/number-format-currency.a.json
  test/fixtures/expression_equality/number-format-currency.b.json
  test/fixtures/expression_equality/number-format-default.a.json
  test/fixtures/expression_equality/number-format-default.b.json
  test/fixtures/expression_equality/number-format-precision.a.json
  test/fixtures/expression_equality/number-format-precision.b.json
  test/style/expression/expression.test.cpp
Labels: Core, expressions, iOS, macOS

#15021 [core] Fix error handling in HeadlessFrontend::render()
  platform/default/src/mbgl/gfx/headless_frontend.cpp
  render-test/runner.cpp
Labels: needs review
