Repository mapbox/mapbox-gl-native, pull requests merged in 2019-05, with the labels that each got.

#14556 [ios] Update podspecs for 4.11.0-beta.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14557 [ios] CP #14556 - Update podspecs for 4.11.0-beta.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: :cherries: cherry pick, iOS

#14558 [ios] Update Podspecs for v4.12.0-alpha.1
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14559 [ios] Add changelog header for v4.12.0-alpha.1
  platform/ios/CHANGELOG.md
Labels: iOS

#14542 [iosapp] Move token setting to build script
  platform/ios/DEVELOPING.md
  platform/ios/app/MBXAppDelegate.h
  platform/ios/app/MBXAppDelegate.m
  platform/ios/app/MBXViewController.m
  platform/ios/app/insert_access_token.sh
  platform/ios/benchmark/MBXBenchAppDelegate.h
  platform/ios/benchmark/MBXBenchAppDelegate.m
  platform/ios/benchmark/MBXBenchViewController.mm
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: build, iOS, refactor

#14535 [Android]Expand schema test, modify performance event
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/MapBaseEvent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/MapEventFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/OfflineDownloadEndEvent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/PerformanceEvent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/telemetry/MapEventFactoryTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/telemetry/SchemaTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/module/telemetry/PerformanceEventTest.java
Labels: Android, telemetry

#14572 [ios] Static analysis fix tweaks - part 2
  platform/darwin/include/mbgl/storage/reachability.h
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/reachability.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/resources/Base.lproj/Localizable.strings
  platform/ios/resources/bg.lproj/Localizable.strings
  platform/ios/resources/ca.lproj/Localizable.strings
  platform/ios/resources/cs.lproj/Localizable.strings
  platform/ios/resources/da.lproj/Localizable.strings
  platform/ios/resources/de.lproj/Localizable.strings
  platform/ios/resources/es.lproj/Localizable.strings
  platform/ios/resources/fr.lproj/Localizable.strings
  platform/ios/resources/gl.lproj/Localizable.strings
  platform/ios/resources/he.lproj/Localizable.strings
  platform/ios/resources/hu.lproj/Localizable.strings
  platform/ios/resources/ja.lproj/Localizable.strings
  platform/ios/resources/ko.lproj/Localizable.strings
  platform/ios/resources/lt.lproj/Localizable.strings
  platform/ios/resources/pt-BR.lproj/Localizable.strings
  platform/ios/resources/pt-PT.lproj/Localizable.strings
  platform/ios/resources/ru.lproj/Localizable.strings
  platform/ios/resources/sv.lproj/Localizable.strings
  platform/ios/resources/uk.lproj/Localizable.strings
  platform/ios/resources/vi.lproj/Localizable.strings
  platform/ios/resources/zh-Hans.lproj/Localizable.strings
  platform/ios/resources/zh-Hant.lproj/Localizable.strings
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/vendor/SMCalloutView/SMCalloutView.m
Labels: iOS

#14576 [ios] Uppercase'd "string" to remove cmake warning
  platform/ios/toolchain.cmake
Labels: build, iOS

#14575 Interpret negative direction as unchanged when setting visible coordinates
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
Labels: bug, iOS, navigation

#14609 [build] Upgrade from Xcode 9.3.0 to 9.3.1 on CircleCI
  circle.yml
Labels: Qt, build

#14552 Remove references to MGLStyleValue from MGLFeature documentation
  platform/darwin/src/MGLFeature.h
Labels: documentation, iOS, macOS, runtime styling

#14560 Include fix-it suggestions in deprecation warnings
  platform/darwin/src/MGLOfflineStorage.h
  platform/darwin/src/NSExpression+MGLAdditions.h
Labels: build, iOS, macOS

#14611 Changelog for 7.5.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#14613 [ios] Podspec & changelog updates for v4.12.0-alpha.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14600 Remove missing image log
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#14623 Updates changelog entry for #14486
  platform/android/CHANGELOG.md
Labels: Android

#14621 Add javadoc for onIdle with snapshot, update test app example
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.kt
Labels: Android

#14606 Option to provide custom values for location camera transition
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationCameraControllerTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationModesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_location_mode.xml
Labels: Android

#14579 [ios] Remove obsolete telemetry gesture events
  platform/ios/src/MGLMapView.mm
Labels: iOS, refactor, telemetry

#14630 Remove skuId from schema test
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/telemetry/SchemaTest.java
Labels: Android

#14626 Normalize previous rotation values of the location animator
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/Utils.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationAnimatorCoordinatorTest.kt
Labels: Android

#14628 Remove/readd listener to avoid recursion
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.kt
Labels: Android

#14627 Remove gesture event handling code
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/TelemetryConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/TelemetryDefinition.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/MapClickEvent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/MapDragendEvent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/MapEventFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/MapState.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/telemetry/MapEventFactoryTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/telemetry/SchemaTest.java
Labels: Android, telemetry

#14617 Copyedit macOS changelog
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation, iOS, macOS

#14647 Split image missing test
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/ImageMissingTest.kt
Labels: Android

#14643 [core] RenderTile shall never be created for a not renderable tile
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/tile_pyramid.cpp
  src/mbgl/text/cross_tile_symbol_index.cpp
Labels: Core, refactor

#14659 Expose trackingGesturesManagement attribute
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
Labels: Android

#14658 Update snapshot version to 8.0.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android, SEMVER-MAJOR

#14682 [ios] Update podspec to v4.11.0.
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14684 [ios] Update podspec to v4.11.0.
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14680 [ios, macos] clarified documentation for newCamera param of the shouldChangeFromCamera delegate
  platform/ios/src/MGLMapViewDelegate.h
Labels: documentation, iOS, macOS

#14679 Polish translation and fixes to Czech/Hungarian for Android
  platform/android/MapboxGLAndroidSDK/src/main/res/values-cs/strings.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values-hu/strings.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values-pl/strings.xml
Labels: Android, localization

#14683 [ios] Update to libmbxaccounts 0.0.5
  platform/darwin/src/MGLAccountManager.m
  platform/ios/src/MGLMapboxEvents.m
  platform/ios/vendor/mapbox-accounts-ios/MBXSKUToken.h
  platform/ios/vendor/mapbox-accounts-ios/libmbxaccounts.a
Labels: beta blocker, iOS

#14691 Ignore telemetry schema size test for map load
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/telemetry/SchemaTest.java
Labels: Android

#14690 [android] - update changelog for v8.0.0-beta.1
  platform/android/CHANGELOG.md
Labels: Android

#14668 [ios] Rename performance metrics variable names.
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/darwin/src/MGLNetworkConfiguration_Private.h
  platform/darwin/src/http_file_source.mm
Labels: iOS, telemetry

#14693 [ios] Podspec updates for v4.12.0-beta.1
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14694 [ios] Podspec updates for v4.12.0-beta.1
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14593 Revert "[android] new manifest flag to enable/disable sku tokens"
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/AccountsManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUrl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
Labels: Android

#14697 Update changelog for releasing v6.8.2
  platform/android/CHANGELOG.md
Labels: Android

#14699 Revert "[android] new manifest flag to enable/disable sku tokens"
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/AccountsManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUrl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
Labels: Android

#14667 [android] added connectivity state attribute to tile loading metric
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/TileLoadingMeasurementUtils.java
Labels: Android

#14698 Bump snapshot version to 8.1.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#14703 Wrap snapshot jni callback with try-catch
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#14701 Show multiple maps in a RecyclerView example
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/GLSurfaceRecyclerViewActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/TextureRecyclerViewActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
Labels: Android

#14482 Remove re-linking programs approach
  src/mbgl/gl/attribute.cpp
  src/mbgl/gl/attribute.hpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/gl/program.hpp
Labels: Core, performance, rendering

#14578 [ios] Enable SKU tokens for all requests
  platform/darwin/src/MGLAccountManager.m
  platform/darwin/src/MGLAccountManager_Private.h
  platform/darwin/src/http_file_source.mm
  platform/ios/app/Info.plist
  platform/ios/src/MGLMapboxEvents.m
Labels: iOS, release blocker

#14707 [core] Remove binary shader support
  misc/proto/binary_program.proto
  src/core-files.json
  src/mbgl/gl/attribute.hpp
  src/mbgl/gl/binary_program.cpp
  src/mbgl/gl/binary_program.hpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/gl/features.hpp
  src/mbgl/gl/program.hpp
  src/mbgl/gl/program_binary_extension.hpp
  src/mbgl/gl/texture.hpp
  src/mbgl/gl/types.hpp
  src/mbgl/gl/uniform.hpp
  test/programs/binary_program.test.cpp
  test/test-files.json
Labels: Core, rendering

#14716 [ios] Enable SKU tokens for all requests (release-nectar)
  platform/darwin/src/MGLAccountManager.m
  platform/darwin/src/MGLAccountManager_Private.h
  platform/darwin/src/http_file_source.mm
  platform/ios/app/Info.plist
  platform/ios/src/MGLMapboxEvents.m
Labels: :cherries: cherry pick, iOS

#14717 [ios] Podspec bumps for v5.0.0
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: SEMVER-MAJOR, iOS

#14719 [ios] Podspec & changelog updates for v5.0.0 (🍒#4717)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: SEMVER-MAJOR, iOS

#14723 CP #14471 to origin
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentOptions.java
Labels: Android

#14728 Update changelog for nectar final release
  platform/android/CHANGELOG.md
Labels: Android

#14727 Update changelog for nectar final release
  platform/android/CHANGELOG.md
Labels: Android

#14729 [ios] Add missing tick to Podspec specification
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14737 macOS map SDK v0.14.0
  platform/macos/CHANGELOG.md
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
Labels: build, macOS

#14736 [ios] Podspec typo fix & changelog edits (🍒 #14729)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14739 macOS map SDK v0.14.0 (release-nectar)
  platform/macos/CHANGELOG.md
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
Labels: :cherries: cherry pick, build, macOS

#14748 Deprecate MapboxMapOptions empty constructor
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMapOptions.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/PolygonActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/MapFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/NestedViewPagerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/SupportMapFragmentActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/ViewPagerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/BottomSheetActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/DoubleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/textureview/TextureViewTransparentBackgroundActivity.java
Labels: Android

#14741 [core] SymbolBucket updates complete at placement stage
  src/mbgl/layout/symbol_projection.cpp
  src/mbgl/layout/symbol_projection.hpp
  src/mbgl/renderer/bucket.hpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/renderer/upload_parameters.hpp
  src/mbgl/text/placement.cpp
  src/mbgl/text/placement.hpp
Labels: Core, needs review

#14745 Break location camera tracking when a developer invoked animation starts
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Transform.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationCameraControllerTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
Labels: Android

#14757 Limit thread's scope to release the Object before detaching the thread
  include/mbgl/util/thread.hpp
Labels: Android, Core

#14767 [ios, build] Specify Mapbox development team for project iOS apps
  platform/ios/Integration Test Harness/Assets.xcassets/AppIcon.appiconset/Contents.json
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: build, iOS

#14778 Update maven publishing script to enable aar packaging
  platform/android/build.gradle
  platform/android/gradle/gradle-bintray.gradle
  platform/android/gradle/wrapper/gradle-wrapper.properties
Labels: Android

#14653 [build, node] Bump macos CI job to Node 8 & Xcode 10.2.1
  circle.yml
Labels: Node.js, build

#14765 [ios] Update Raster Tiles API name and link
  platform/darwin/src/MGLRasterTileSource.h
  platform/darwin/src/MGLStyle.h
Labels: documentation, iOS, macOS

#14774 Option to change the zoom rate. Decrease the default zoom rate by 35%
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/UiSettingsTest.java
Labels: Android

#14791 [core] Introduce RenderTileSource
  src/core-files.json
  src/mbgl/renderer/sources/render_custom_geometry_source.cpp
  src/mbgl/renderer/sources/render_custom_geometry_source.hpp
  src/mbgl/renderer/sources/render_geojson_source.cpp
  src/mbgl/renderer/sources/render_geojson_source.hpp
  src/mbgl/renderer/sources/render_raster_dem_source.cpp
  src/mbgl/renderer/sources/render_raster_dem_source.hpp
  src/mbgl/renderer/sources/render_raster_source.cpp
  src/mbgl/renderer/sources/render_raster_source.hpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/renderer/sources/render_tile_source.hpp
  src/mbgl/renderer/sources/render_vector_source.cpp
  src/mbgl/renderer/sources/render_vector_source.hpp
Labels: Core, needs review, refactor

#14786 Move building example custom layer to testapp
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/gradle/native-build.gradle
Labels: Android

#14763 iOS/macOS: refactor MGLMapViewImpl
  platform/darwin/src/MGLOpenGLStyleLayer.mm
  platform/darwin/src/MGLRendererFrontend.h
  platform/darwin/src/headless_backend_cgl.mm
  platform/darwin/src/headless_backend_eagl.mm
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/src/MGLAnnotationView.mm
  platform/ios/src/MGLMapView+Impl.h
  platform/ios/src/MGLMapView+Impl.mm
  platform/ios/src/MGLMapView+OpenGL.h
  platform/ios/src/MGLMapView+OpenGL.mm
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapView_Private.h
  platform/macos/config.cmake
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
  platform/macos/src/MGLMapView+Impl.h
  platform/macos/src/MGLMapView+Impl.mm
  platform/macos/src/MGLMapView+OpenGL.h
  platform/macos/src/MGLMapView+OpenGL.mm
  platform/macos/src/MGLMapView.mm
  platform/macos/src/MGLMapViewDelegate.h
  platform/macos/src/MGLMapView_Private.h
  platform/macos/test/MGLMapViewDelegateIntegrationTests.swift
Labels: iOS, macOS, refactor

#14798 Changelog for 8.1.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#14800 [ios] Bump podspec to v5.1.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#14631 [android] Add support for external SDK clients tokens management
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/AccountsManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/AccountsManagerTest.java
  platform/android/gradle/dependencies.gradle
Labels: Android
