Repository mapbox/mapbox-gl-native, pull requests merged in 2019-02, with the labels that each got.

#13853 Changelog for v7.1.1
  platform/android/CHANGELOG.md
Labels: Android

#13854 Backport #13853 to java
  platform/android/CHANGELOG.md
Labels: Android

#13849 [ios] Fix the user location not getting displayed when setting tracking mode to followWithCourse and followWithHeading
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS, needs changelog

#13868 Expose symbol placement transition duration option
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/TransitionOptions.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
  platform/android/src/native_map_view.cpp
  platform/android/src/style/conversion/transition_options.cpp
  platform/android/src/style/transition_options.cpp
  platform/android/src/style/transition_options.hpp
Labels: Android

#13875 [ios, macos] Update unit test bundle identifier.
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/test/MGLOfflineStorageTests.mm
Labels: iOS, macOS, tests

#13872 Update downstream circle-ci job name
  circle.yml
Labels: Android

#13880 [ios, build] Make jazzy sqlite3 installation version agnostic
  platform/ios/scripts/install-packaging-dependencies.sh
Labels: build, iOS

#13884 [ios] Release ios-v4.9.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#13889 Add experimental pointer
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
Labels: Android

#13891 Update changelog for v7.1.2
  platform/android/CHANGELOG.md
Labels: Android

#13893 [android] Update changelog for v7.2.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#13901 [android] Removing duplicates from changelog for 7.2.0-alpha.1
  platform/android/CHANGELOG.md
Labels: Android

#13902 [ios] Improvement of the tilt gesture
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: UX, iOS

#13900 Check supported interface orientations into account when rotating device/view layout
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: bug, iOS

#13913 Use #onDidBecomeIdle during instrumentation tests
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/LocationComponentAction.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/utils/MapboxLocationTestingUtils.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/geometry/GeoJsonConversionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/MapboxIdlingResource.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/TestingAsyncUtils.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/utils/Utils.java
Labels: Android, tests

#13858 Fix deadlock in http request on hitting tile limit
  platform/android/src/async_task.cpp
  platform/android/src/run_loop.cpp
  platform/android/src/run_loop_impl.hpp
  platform/android/src/timer.cpp
Labels: Android

#13536 Dependencies bump, snapshot version update
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/gradle.properties
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/attribution/AttributionParseTest.java
  platform/android/gradle/dependencies.gradle
Labels: Android

#13920 Invalidate the camera position when gesture finishes
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#13754 [ios, macos] Move `apiBaseURL` to `MGLAccountManager`
  platform/darwin/src/MGLAccountManager.m
  platform/darwin/src/MGLAccountManager_Private.h
  platform/darwin/src/MGLNetworkConfiguration.h
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/darwin/src/MGLOfflineStorage.mm
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: iOS, macOS, refactor

#13924 [ios] Release ios-v4.9.0-alpha.2
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#13926 [android] hook into surface holder to cleanup renderer on the right thread before the surface is destroyed
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/GLSurfaceViewMapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/SurfaceHolderCallbackAdapter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/textureview/TextureViewMapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/textureview/TextureViewRenderThread.java
  platform/android/src/map_renderer.cpp
  platform/android/src/map_renderer.hpp
Labels: Android

#13930 [android] Update changelog for v7.2.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#13929 Bring back style loading test to native map
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
Labels: Android

#13886 [ios, macos] Expose the url session configuration object.
  platform/darwin/filesource-files.json
  platform/darwin/src/MGLNetworkConfiguration.h
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/darwin/src/http_file_source.mm
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/src/Mapbox.h
  platform/macos/CHANGELOG.md
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
  platform/macos/src/Mapbox.h
Labels: feature, iOS, macOS, needs changelog

#13943 [ios] Mock MGLOfflineStorage in MGLDocumentationExampleTests
  platform/darwin/src/MGLOfflinePack.h
  platform/darwin/test/MGLDocumentationExampleTests.swift
Labels: iOS, offline, tests

#13934 [qt] fix missing alpha channel for `QColor`
  platform/qt/src/qmapboxgl.cpp
  platform/qt/src/qt_conversion.hpp
Labels: Qt

#13956 Ignore android-nitpick's non-zero exit value when updating submodules
  platform/android/gradle/android-nitpick.gradle
Labels: Android, tests

#13959 [ios] Mock MGLOfflineStorage in MGLDocumentationExampleTests (kombucha)
  platform/darwin/src/MGLOfflinePack.h
  platform/darwin/test/MGLDocumentationExampleTests.swift
Labels: documentation, iOS, tests

#13960 [ios] Release ios-v4.9.0-beta.1
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#13961 [ios] Release ios-v4.9.0-beta.1
  platform/ios/Mapbox-iOS-SDK-nightly-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#13965 Initialize vendor submodules as a CI step
  circle.yml
  platform/android/gradle/android-nitpick.gradle
  platform/android/gradle/gradle-update-vendor-modules.gradle
Labels: Android, tests

#13964 Bump snapshot to 7.3.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#13968 [android] Android 7.2.0-beta.1 changelog update
  platform/android/CHANGELOG.md
Labels: Android

#13970 [android] Android 7.2.0-beta.1 changelog update cherrypick
  platform/android/CHANGELOG.md
Labels: Android

#13973 Add missing package-info.java files
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/modes/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/log/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/package-info.java
Labels: Android, documentation

#13975 add missing package-info.java files
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/modes/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/log/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/package-info.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/package-info.java
Labels: Android, documentation

#13974 make ReLinker default library loader
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/LibraryLoader.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/LibraryLoaderProvider.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/ModuleProvider.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/ModuleProviderImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/loader/LibraryLoaderProviderImpl.java
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
Labels: Android

#13978 Expose MGLMapView OpenGL context to OpenGL style layers
  platform/darwin/src/MGLOpenGLStyleLayer.h
  platform/darwin/src/MGLOpenGLStyleLayer.mm
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapView_Private.h
  platform/macos/src/MGLMapView.mm
  platform/macos/src/MGLMapView_Private.h
Labels: iOS, macOS

#13505 [build] Log Android/iOS binary sizes to S3
  ci.template
  platform/android/scripts/metrics.sh
  platform/ios/scripts/metrics.sh
  scripts/publish_binary_size.js
Labels: Android, build, iOS

#13990 Replace remaining hardcoded delays with the idle event
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/StyleLoadTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CustomGeometrySourceTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/ExpressionTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/GeoJsonSourceTests.java
Labels: Android, tests

#13985 [build] Add more granular timestamps for binary metrics collection
  scripts/publish_binary_size.js
Labels: build

#13988 [ios] Make PingFang as the default local font family
  platform/darwin/src/MGLRendererConfiguration.h
  platform/darwin/src/MGLRendererConfiguration.mm
  platform/ios/CHANGELOG.md
Labels: iOS, localization, needs changelog

#13995 [android] Android README link and writing updates
  platform/android/README.md
Labels: Android, documentation

#14003 [android] Update to changelog with stable 7.2.0 changes
  platform/android/CHANGELOG.md
Labels: Android

#14004 [android] Cherrypick for changelog update for stable 7.2.0 release
  platform/android/CHANGELOG.md
Labels: Android
