Repository mapbox/mapbox-gl-native, pull requests merged in 2019-04, with the labels that each got.

#14270 Update snapshot activity example with idle listener
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/imagegenerator/SnapshotActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_snapshot.xml
Labels: Android

#14268 Disable move gesture detector foreseeing the quickzoom
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
Labels: Android

#14281 Add pixel dimension annotation to public UiSettings methods
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
Labels: Android, documentation

#14247 Add #toString override for formatted sections
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/Formatted.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/FormattedSection.java
Labels: Android

#14220 LatLng#distanceTo with TurfMeasurement#distance
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLng.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/geometry/LatLngTest.java
Labels: Android

#14265 Remove support v7
  platform/android/LICENSE.md
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/widgets/CompassView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/BitmapUtils.java
  platform/android/MapboxGLAndroidSDK/src/main/res/layout/mapbox_mapview_internal.xml
Labels: Android

#14292 Clear camera callbacks' message queue when the map is destroyed
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/CameraChangeDispatcher.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
Labels: Android

#14170 Change the firebase device for arm-v7 test run to htc_m8
  circle.yml
Labels: Android, tests

#14301 [core] Adds target branch parameter to clang-tools.sh
  Makefile
  circle.yml
  scripts/clang-tools.sh
Labels: Core, build

#14296 Disable leak canary during instrumentation tests
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/InstrumentationApplication.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/InstrumentationRunner.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapboxApplication.java
Labels: Android, tests

#14311 Clean up location permissions annotation
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
Labels: Android

#14307 [ios] Enable/disable presentsWithTransaction to address #14232
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: bug, iOS

#14318 [ios] Cherry picks - Enable/disable presentsWithTransaction to address #14232 (#14307)
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS

#14302 [ios] Add iOS bindings and example for missing icons event.
  platform/ios/app/MBXViewController.m
  platform/ios/app/missing_icon.json
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/test/MGLMapViewDelegateIntegrationTests.swift
Labels: Core, iOS

#14322 CP [ios] Add iOS bindings and example for missing icons event. (#14302)
  platform/ios/app/MBXViewController.m
  platform/ios/app/missing_icon.json
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/test/MGLMapViewDelegateIntegrationTests.swift
Labels: feature, iOS

#14323 [ios] Cocoapods bump to v4.10.0-beta.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#14327 [ios] Cocoapods bump to v4.10.0-beta.2 (#14323)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/CHANGELOG.md
Labels: iOS

#14328 [ios] Bump to ios-v4.11.0-alpha.1
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#14338 Clear previous style loaded listener when setting a new style
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
Labels: Android

#14262 (Android) Added getter for the field isComponentInitialized
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponent.java
Labels: Android

#14346 [android] Small naming tweaks to mentions of Android Maps SDK
  CONTRIBUTING.md
  platform/android/tests/README.md
Labels: Android, documentation, needs review

#14339 [android] Fix build with mismatching glShaderSource signature
  platform/android/src/gl_functions.cpp
Labels: Android

#14352 [core] Move should not call destructors
  include/mbgl/style/conversion_impl.hpp
  test/style/conversion/conversion_impl.test.cpp
  test/test-files.json
Labels: Core, crash, expressions

#14354 CP [core] Move should not call destructors
  include/mbgl/style/conversion_impl.hpp
  test/style/conversion/conversion_impl.test.cpp
  test/test-files.json
Labels: Core

#14355 Bump Podspecs & changelog for ios-v4.10.0-beta.3
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#14357 [ios] Podspec & changelog update for ios-v4.10.0-beta.3 (CP #1435)
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: build, iOS

#14308 Cherry pick disable binary program shaders
  src/mbgl/gl/context.hpp
  src/mbgl/gl/features.hpp
Labels: Android

#14360 Refactor ThreadLocal backend
  platform/default/src/mbgl/util/thread_local.cpp
  platform/qt/src/thread_local.cpp
  src/mbgl/util/thread_local.hpp
Labels: Core, refactor

#14349 Allow resetting a custom OkHttp client to the default impl
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/HttpRequestImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/HttpRequestUtil.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxInjector.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/module/http/HttpRequestUtilTest.kt
Labels: Android

#14343 [android] Avoid memory leak by making static inner classes
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/telemetry/PerformanceMeasurementActivity.java
Labels: Android

#14369 fix firing onStyleImageMissing after sprite has loaded
  src/mbgl/renderer/image_manager.cpp
  test/renderer/image_manager.test.cpp
Labels: Core, release blocker

#14366 Check for Mapbox#INSTANCE when initializing the MapView
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/MapboxTest.java
Labels: Android

#14333 Expose LocationComponentConstants class
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentConstants.java
Labels: Android

#13997 [ios, macos] Add Mapbox Maps SDK metrics manager.
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/darwin/src/MGLNetworkConfiguration_Private.h
  platform/darwin/src/MGLSDKMetricsManager.h
  platform/darwin/src/MGLSDKMetricsManager.m
  platform/darwin/src/MGLSDKMetricsManager_Private.h
  platform/darwin/src/http_file_source.mm
  platform/ios/app/MBXAppDelegate.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/src/MGLMapboxEvents.h
  platform/ios/src/Mapbox.h
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
  platform/macos/src/Mapbox.h
Labels: iOS, macOS

#14387 [android] Update changelog for v7.4.0-alpha.2
  platform/android/CHANGELOG.md
Labels: Android

#14379 [ios] Deactivate MGLMapView IBDesignable
  platform/darwin/src/MGLAccountManager.m
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/sdk-files.json
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapboxEvents.m
  platform/ios/src/MGLSDKUpdateChecker.mm
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk-files.json
  platform/macos/src/NSProcessInfo+MGLAdditions.h
  platform/macos/src/NSProcessInfo+MGLAdditions.m
Labels: crash, iOS

#14390 Fix offline pack CJK checkbox in macosapp
  platform/macos/app/Base.lproj/MapDocument.xib
Labels: bug, macOS, offline

#14391 [ios] Updated podspecs for v4.11.0-alpha.2
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14185 [ios] Fix issue wrong position of attribution dialog after rotation
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS

#14397 Activate the ConnectivityReceiver when starting the download
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegion.java
Labels: Android, offline

#14399 Ignore equal offline region's download state updates
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegion.java
Labels: Android, offline

#14383 Run glFinish when reducing memory
  platform/ios/src/MGLMapView.mm
  src/mbgl/gl/context.cpp
Labels: Core, iOS

#14293 Only perform thread checking in debug builds
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/layers/Layer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/Light.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/light/light.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/Source.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/ThreadUtils.java
Labels: Android

#14414 Update changelog for v7.3.1 release
  platform/android/CHANGELOG.md
Labels: Android

#14413 [android] - allow snapshot generation without overlain view content
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
Labels: Android

#14406 [ios, macos] Premultiply color values for mgl_color
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/src/UIColor+MGLAdditions.mm
  platform/macos/CHANGELOG.md
  platform/macos/src/NSColor+MGLAdditions.mm
Labels: bug, iOS, macOS

#14416 [ios, macos] Premultiply color values for mgl_color (🍒#14406)
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/src/UIColor+MGLAdditions.mm
  platform/macos/CHANGELOG.md
  platform/macos/src/NSColor+MGLAdditions.mm
Labels: iOS, macOS

#14320 Add style image missing binding integration
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapChangeReceiver.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Style.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/ImageMissingTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolGeneratorActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/SymbolLayerActivity.java
  platform/android/src/android_renderer_frontend.cpp
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
Labels: Android

#14405 [ios, macos] Fix MGLSymbolStyleLayer.text localization issue.
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/src/MGLSymbolStyleLayer.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
Labels: iOS, localization, macOS, release blocker

#14431 CP [ios, macos] Fix MGLSymbolStyleLayer.text localization issue. (#14405)
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/src/MGLSymbolStyleLayer.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
Labels: iOS, macOS

#14427 Provide default nav experience for singleInstance activity
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/feature/QueryRenderedFeaturesBoxCountActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/fragment/FragmentBackStackActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/maplayout/SimpleMapActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/textureview/TextureViewDebugModeActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/NavUtils.java
Labels: Android

#14429 Circle with radius expressed in physical measurement
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/turf/PhysicalUnitCircleActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_physical_circle.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/categories.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
Labels: Android

#14412 Program against NativeMap
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapboxMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MarkerContainer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/Projection.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/ShapeAnnotationContainer.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/AnnotationManagerTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/MapboxMapTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/StyleTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/TransformTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/BaseLayerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/NativeMapViewTest.kt
Labels: Android

#14437 Circle with radius expressed in physical measurement
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/turf/PhysicalUnitCircleActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_physical_circle.xml
Labels: Android

#14439 [ios] Ensure glFinish is called when going into the background, and block rendering in the background
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS, rendering

#14426 Unify has surface state handling
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/MapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/glsurfaceview/GLSurfaceViewMapRenderer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/renderer/textureview/TextureViewMapRenderer.java
  platform/android/src/map_renderer.cpp
  platform/android/src/map_renderer.hpp
Labels: Android, beta blocker

#14448 Update changelog for v7.3.2
  platform/android/CHANGELOG.md
Labels: Android

#14443 Update script detection for Unicode 12.1
  src/mbgl/util/i18n.cpp
Labels: Core, text rendering

#14451 [ios] CP #14439 - Ensure glFinish is called when going into the background, and block rendering in the background
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS

#14445 [ios] Consider anchored UIView callouts when deciding whether to enable presentsWithTransaction
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: iOS

#14452 [ios] Prepare for iOS v4.10.0 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14455 [ios] Update iOS Changelog on master
  platform/ios/CHANGELOG.md
Labels: iOS

#14454 [ios] Prepare for iOS SDK v4.10.0 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14404 [android] Introduce AccountsManager to support SKU tokens in API requests
  platform/android/LICENSE.md
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/AccountsManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUrl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/storage/FileSource.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/AccountsManagerTest.java
  platform/android/gradle/dependencies.gradle
Labels: Android, beta blocker

#14462 [ios, build] Update to libmbxaccounts v0.0.2
  platform/ios/vendor/mapbox-accounts-ios/libmbxaccounts.a
Labels: build, iOS, release blocker

#14465 [ios, build] CP - Update to libmbxaccounts v0.0.2 (#14462)
  platform/ios/vendor/mapbox-accounts-ios/libmbxaccounts.a
Labels: :cherries: cherry pick, iOS

#14441 [android] update changelog for 7.4.0-beta.1 release
  platform/android/CHANGELOG.md
Labels: Android

#14466 Backport 14441 to mojito
  platform/android/CHANGELOG.md
Labels: Android

#14476 [android] Enable/Disable SKU token handling
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/AccountsManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpRequestUrl.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/telemetry/TelemetryImpl.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
Labels: Android

#14489 Changelog for `v7.4.0-beta.2`
  platform/android/CHANGELOG.md
Labels: Android

#14497 Clear up LocationComponent's z-index positioning docs and add "layer-above" option
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationComponentPositionManager.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/location/LocationLayerController.java
  platform/android/MapboxGLAndroidSDK/src/main/res-public/values/public.xml
  platform/android/MapboxGLAndroidSDK/src/main/res/values/attrs.xml
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationComponentOptionsTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationComponentPositionManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/location/LocationLayerControllerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationModesActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/styles.xml
Labels: Android

#14499 Add toString, hashcode and equals to OfflineRegionError.
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegionError.java
Labels: Android

#14477 [ios] Make MGLLocationManager protocol swift friendly.
  platform/darwin/src/MGLLocationManager.h
  platform/ios/CHANGELOG.md
Labels: Swift, iOS

#14501 [ios] Make MGLLocationManager protocol swift friendly. (#14477)
  platform/darwin/src/MGLLocationManager.h
  platform/ios/CHANGELOG.md
Labels: Swift, iOS

#14467 [ios] Enable/Disable sku token handling
  platform/darwin/src/MGLAccountManager.m
  platform/darwin/src/MGLAccountManager_Private.h
  platform/darwin/src/http_file_source.mm
  platform/ios/src/MGLMapboxEvents.m
  platform/ios/vendor/mapbox-accounts-ios/MBXSKUToken.h
  platform/ios/vendor/mapbox-accounts-ios/libmbxaccounts.a
Labels: beta blocker, iOS, ⚠️ DO NOT MERGE

#14502 [ios] CP #14467 - Enable/Disable sku token handling
  platform/darwin/src/MGLAccountManager.m
  platform/darwin/src/MGLAccountManager_Private.h
  platform/darwin/src/http_file_source.mm
  platform/ios/src/MGLMapboxEvents.m
  platform/ios/vendor/mapbox-accounts-ios/MBXSKUToken.h
  platform/ios/vendor/mapbox-accounts-ios/libmbxaccounts.a
Labels: :cherries: cherry pick, iOS

#14503 [ios] Preparation for v4.11.0-beta.1 release.
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: iOS

#14505 [ios] CP #14503 - Preparation for v4.11.0-beta.1 release
  platform/ios/CHANGELOG.md
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
Labels: :cherries: cherry pick, iOS

#14215 [build] Retry failed GitHub API requests
  package.json
  scripts/check_binary_size.js
  scripts/publish_binary_size.js
  scripts/publish_doxygen_coverage.js
Labels: build

#14514 Don't weak reference FileUtils callback
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/MergeOfflineRegionsActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/FileUtils.kt
Labels: Android

#14500 Use same complete/isComplete logic as core
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegionStatus.java
Labels: Android

#14519 Bump gradle tooling for AS 3.4
  platform/android/build.gradle
  platform/android/gradle/wrapper/gradle-wrapper.properties
Labels: Android

#14438 Change approach to stencil clipping to (almost) match JS
  src/core-files.json
  src/mbgl/algorithm/covered_by_children.hpp
  src/mbgl/algorithm/generate_clip_ids.cpp
  src/mbgl/algorithm/generate_clip_ids.hpp
  src/mbgl/algorithm/generate_clip_ids_impl.hpp
  src/mbgl/annotation/render_annotation_source.cpp
  src/mbgl/gfx/context.hpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/paint_parameters.cpp
  src/mbgl/renderer/paint_parameters.hpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_tile.cpp
  src/mbgl/renderer/render_tile.hpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/renderer/sources/render_custom_geometry_source.cpp
  src/mbgl/renderer/sources/render_geojson_source.cpp
  src/mbgl/renderer/sources/render_vector_source.cpp
  src/mbgl/util/clip_id.cpp
  src/mbgl/util/clip_id.hpp
  test/algorithm/covered_by_children.test.cpp
  test/algorithm/generate_clip_ids.test.cpp
  test/test-files.json
Labels: Core, GL JS parity, refactor

#14543 Update snapshot version to v7.5.0
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: Android

#14544 Offline manual test, headless region download
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/offline/DownloadRegionActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/drawable/ic_pause_black_24dp.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_region_download.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
  platform/android/scripts/exclude-activity-gen.json
Labels: Android

#14529 [ios] Check for valid superview to avoid crash on iOS 9
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: crash, iOS

#14453 [ios, macos] Fixes for static analyzer warnings
  platform/darwin/src/MGLStyleValue_Private.h
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/src/NSExpression+MGLPrivateAdditions.h
  platform/darwin/src/NSPredicate+MGLPrivateAdditions.h
  platform/ios/app/MBXCustomLocationViewController.m
  platform/ios/app/MBXFrameTimeGraphView.m
  platform/ios/app/MBXOrnamentsViewController.m
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/src/UIView+MGLAdditions.h
  platform/ios/vendor/SMCalloutView/SMCalloutView.m
Labels: build, iOS

#14550 [ios] CP #14529 - Check for valid superview to avoid crash on iOS 9
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
Labels: :cherries: cherry pick, iOS
