Repository mapbox/mapbox-gl-native, pull requests merged in 2020-02, with the labels that each got.

#16159 [tile mode] Improvements in symbol placement on tile borders
  CHANGELOG.md
  metrics/expectations/platform-all/render-tests/text-variable-anchor/all-anchors-tile-map-mode/expected.png
  src/mbgl/text/collision_index.cpp
  src/mbgl/text/collision_index.hpp
  src/mbgl/text/placement.cpp
Labels: Core, bug, needs changelog, text rendering

#16023 [core] sort symbols using symbol-sort-key before placement
  src/mbgl/layout/symbol_instance.hpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/layout/symbol_layout.hpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/text/placement.cpp
  src/mbgl/text/placement.hpp
  test/gl/bucket.test.cpp
  test/text/cross_tile_symbol_index.test.cpp
Labels: Core, GL JS parity, text rendering

#16191 Revert "[ios, macos] Include SKU token for offline requests (#16130)"
  platform/darwin/src/http_file_source.mm
  platform/darwin/test/MGLResourceTests.mm
Labels: iOS

#16193 Revert "[ios, macos] Include SKU token for offline requests (#16130)"…
  platform/darwin/src/http_file_source.mm
  platform/darwin/test/MGLResourceTests.mm
Labels: iOS, macOS

#16221 [android] add jni binding for source zoom delta
  platform/android/src/style/sources/source.cpp
  platform/android/src/style/sources/source.hpp
Labels: Android

#16218 [core] Dismiss actors from sprite loader
  CMakeLists.txt
  src/mbgl/sprite/sprite_loader.cpp
  src/mbgl/sprite/sprite_loader.hpp
  src/mbgl/sprite/sprite_loader_worker.cpp
  src/mbgl/sprite/sprite_loader_worker.hpp
Labels: refactor

#16242 Restore support for iOS 9–11 by default
  CHANGELOG.md
  platform/ios/ios.cmake
Labels: build, gl-ios
