Repository mapbox/mapbox-gl-native, pull requests merged in 2020-03, with the labels that each got.

#16274 [render test runner] Enable pixel ratio in tile mode
  render-test/parser.cpp
  render-test/runner.cpp
Labels: tests

#16282 [build] Removed unused misc code
  misc/buck/.buckconfig
  misc/buck/mapbox-gl-native/Android.mk
  misc/buck/mapbox-gl-native/Application.mk
  misc/buck/mapbox-gl-native/BUCK
  misc/buck/mapbox-gl-native/include
  misc/buck/mapbox-gl-native/platform
  misc/buck/mapbox-gl-native/src
  misc/buck/mapbox-gl-native/vendor
Labels: build

#16289 Disable ccache on iOS
  platform/ios/ios.cmake
Labels: build, iOS

#16303 [core] Fix crash at Placement::getSymbolPlacement()
  src/mbgl/text/placement.cpp
Labels: Core, crash

#16266 [build] Add tool for monitoring CircleCI jobs
  circle.yml
  scripts/ci-circleci-start-pipeline.py
Labels: build

#16334 Use RGB values for local glyph generation
  platform/android/src/text/local_glyph_rasterizer.cpp
Labels: Android

#16321 Add NSURLSession delegation to http_file_source.mm
  platform/darwin/include/mbgl/interface/native_apple_interface.h
  platform/darwin/src/http_file_source.mm
  platform/darwin/src/native_apple_interface.m
Labels: iOS
