Repository mapbox/mapbox-gl-native, pull requests merged in 2020-04, with the labels that each got.

#16415 [core] Fix -Werror={pessimizing,redundant}-move from GCC 9
  platform/default/src/mbgl/storage/asset_file_source.cpp
  platform/default/src/mbgl/storage/database_file_source.cpp
  platform/default/src/mbgl/storage/local_file_source.cpp
  platform/default/src/mbgl/storage/main_resource_loader.cpp
  platform/default/src/mbgl/storage/online_file_source.cpp
  src/mbgl/gl/program.hpp
  src/mbgl/gl/renderer_backend.cpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/style/conversion/layer.cpp
  test/src/mbgl/test/stub_file_source.cpp
Labels: bug

#16412 Fix macOS minimum deployment target
  CHANGELOG.md
  platform/macos/macos.cmake
Labels: build, crash, macOS

#16424 Fix compilation issues on GCC 9
  platform/default/src/mbgl/text/bidi.cpp
  src/mbgl/util/convert.cpp
Labels: build

#16428 Fix error receiving local file URL response
  CHANGELOG.md
  platform/darwin/src/http_file_source.mm
Labels: bug, iOS, macOS

#16435 Mapbox GL Native v1.6.0-rc.2
  CHANGELOG.md
Labels: build

#16442 [build] Fix script that trigger downstream jobs
  scripts/ci-circleci-start-pipeline.py
Labels: build

#16449 [darwin] Remove `accountType` check
  platform/darwin/src/http_file_source.mm
Labels: iOS
