Repository mapbox/mapbox-gl-native, pull requests merged in 2020-01, with the labels that each got.

#16094 Make Layer::releaseCoreLayer public
  platform/android/src/style/layers/layer.hpp
Labels: Android

#16069 [android][core] Add `Map::latLngBoundsForCameraUnwrapped` and jni binding for `getVisibleCoordinateBounds`.
  include/mbgl/map/map.hpp
  platform/android/src/native_map_view.cpp
  platform/android/src/native_map_view.hpp
  src/mbgl/map/map.cpp
  test/map/map.test.cpp
Labels: Android, Core, needs changelog

#16106 [core] Fix GeoJSONVTData ownership and life cycle
  src/mbgl/style/sources/geojson_source_impl.cpp
  src/mbgl/util/thread_pool.hpp
Labels: Core

#16024 Add CI bot that validates downstream API breakage
  circle.yml
Labels: Android

#16108 [cp][core] Fix GeoJSONVTData ownership and life cycle
  src/mbgl/style/sources/geojson_source_impl.cpp
  src/mbgl/util/thread_pool.hpp
Labels: :cherries: cherry pick

#16103 [ios] Add native_apple_interface to ios.cmake
  circle.yml
  next/platform/ios/ios.cmake
Labels: build

#16130 [ios, macos] Include SKU token for offline requests
  circle.yml
  platform/darwin/src/http_file_source.mm
  platform/darwin/test/MGLResourceTests.mm
Labels: iOS

#16141 [tile mode] Fix variable symbols placement
  metrics/expectations/platform-all/render-tests/text-variable-anchor/all-anchors-tile-map-mode/expected.png
  src/mbgl/text/placement.cpp
Labels: bug
